h2{
    padding-bottom: 2%;
}

b{
    font-size: 2rem;
}

a{
    text-decoration: none;
}

.sobre-o-site{
    font-size: 1.9rem;
    margin-left: 15%; /* Definindo uma distância em relaçãp a margem esquerda.*/
    margin-right: 15%; /* Definindo uma distância em relaçãp a margem direita.*/
    padding: 0.8%;
    text-align: justify;
}

.responsaveis-site{
    font-size: 1.9rem;
    margin-left: 15%; /* Definindo uma distância em relaçãp a margem esquerda.*/
    margin-right: 15%; /* Definindo uma distância em relaçãp a margem direita.*/
    margin-top: 2%;
}