.grafico{
    width: 90%; /* Adicionando uma largura. */
    height: 80%; /* Adicionando uma altura. */
    max-height: 400px; /* Adicionando uma largura máxima. */
    max-width: 500px; /* Adicionando um tamanho máximo de largura. */
}

.info-resultado-estatisticas p{
	margin-top: 1.5%; /* Adicionando uma margem em relação ao conteúdo acima. */
	font-size: 1.6rem; /* Adicionando um tamanho de fonte. */
}