/*
  Imporando uma fonte do google para ser utilizada.
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

/*
  Definindo um estilo para todos os elementos da pag
  pois o "*" trata-se de um seletor universal.
*/

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  outline: 0;
}

/*
  Estilizando o html e o body
*/

html, body {
  height: 100vh; /* Definindo um tamanho utilizando a unidade ViewHeight => que 1 unidade representa 1% do ViewPort (Área total visível). */
  font-family: "Source Sans Pro"; /* Definindo a fonte que irá ser utilizada */
  text-rendering: optimizelegibility; /* O text-rendering trata-se de um atributo sobre o que otimizar enquanto renderiza o texto. */
  -webkit-font-smoothing: antialiased;
}

html{
  font-size: 62.5%; /* A cada 1rem será considerado 10px (65.5/100*16px = 10px) */
}

body{
  font-size: 1.6rem; /* Definindo o tamanho da fonte do corpo do site, no caso a medida é dada por (65.5/100*16) * 1.6 */
}

header {
  background-color: #FF9D3F; /* Definindo uma cor de fundo para o header. */
}

header nav ul {
  display: flex; /* Definindo como os elementos serão dispostos na página. */
}

header nav ul li {
  list-style: none; /* Definindo o estilo da lista. */
}

header nav ul li a {
  text-decoration: none; /* Definindo uma decoração de texto, sendo o mesmo com diferentes tipos de linhas. */
  color: white; /* Definindo uma cor para a palavra. */
  text-transform: capitalize; /* Definindo a capitalização das palavras (maiuscula, minuscuça etc). */
  font-size: 1.4rem; /* Definindo o tamanho da fonte. */
  padding: 24px; /* Definindo uma distância das boras em relação ao conteúdo. */
  transition: all 250ms linear 0s; /* definindo a transição entre os elementos. */
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.267) /* Definindo uma cor quando o mouse for sobreposto ao elemento. */
}

h2 {
  font-size: 3.6rem; /* Definindo o tamanho da fonte.*/
  line-height: 4.6rem; /* Definindo o espaçamento entre as linhas do texto. */
}

h3 {
  font-size: 2.8rem; /* Definindo o tamanho da fonte.*/
  line-height: 3.8rem; /* Definindo o espaçamento entre as linhas do texto. */
}

header .container {
  display: flex; /* Definindo como os elementos serão dispostos na página. */
  align-items: center; /* Definindo o alinhamento dos itens */
  justify-content: space-between; /*  */
  width: 90%; /*Tornando a largura 90% do valor máximo de largura pré-estabelecido.*/
  max-width: 1400px; /*Definindo um tamanho máximo de div para não ser ultrapassada.*/
  margin: auto;
}

.inep_enade{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo_inep{
  padding: 13px; 
  background-color: #FFB74D;
}

.logo_enade{
  margin-left: 0.5px;
  align-items: center;
}

.logo_enade b{
  font-size: 3rem;
  color: #fff;
  letter-spacing: 1.5px;
  padding: 5px;
  background-color: #FFA726;
}

.button {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: #FFAB40;
  margin: 15px 0px 0px;
  border-color: #FFAB40;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;
}

.button:hover {
  opacity: 0.9;
}

section.hero {
  margin: 80px 0;
}

section.hero .container {
    width: 90%; /* Tornando a largura 90% do valor máximo de largura pré-estabelecido. */
    max-width: 1400px; /* Definindo um tamanho máximo de div para não ser ultrapassada.*/
    margin: auto;
  
    display: flex;
}

section.hero p {
  color: rgb(154, 142, 191);
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: 10px 0px 0px;
}

main {
  margin-top: 40px;
  margin-bottom: 80px;
}

.cards {
  width: 90%; /*Tornando a largura 90% do valor máximo de largura pré-estabelecido.*/
  max-width: 300px; /*Definindo um tamanho máximo de div para não ser ultrapassada.*/
  margin: auto;
}

.text--medium {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #ecf0f1;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 166, 0);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-10px); /* Definindo uma transição quando o card for sobreposto pelo m pointer. */
}

.image {
  width: 100%;
  padding-top: 55.25%; /* 16:9 */

  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px; /* Definindo a margem do card */
}

.title {
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-self: end;
  align-items: center;
}

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  background-color: #fff;
  
  width: 800px;
  height: 400px;
  
  margin: 0 auto;
  padding: 10px;
  
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transform: scale(1.2);
}
.modal .close-modal {
  position: absolute;
  cursor: pointer;

  top: 5px;
  right: 15px;
  
  opacity: 0;
  
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.3s;
}
.modal .close-modal svg {
  width: 18px;
  height: 18px;
}
.modal .modal-content {
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.3s;
}
.modal.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.modal.active .modal-content {
  opacity: 1;
}
.modal.active .close-modal {
  transform: translateY(10px);
  opacity: 1;
}

.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  background-color: white;
}
.video-foreground, .video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 90%;
  transform: translate(-50%, -50%);
}

footer{
  width: 100%;

  background-color: #FF833A;
  padding: 80px 0;
  display:flex;
  justify-content: center;
  align-items: center;

  max-width: 1400px;
  margin:0;
  height: 100%;
  max-height: 100px;
  overflow: hidden;
  
}

footer p {
  margin-bottom: 15px
}

.fatec_sp_enade{
  display:flex;
  justify-content: center;
  align-items: center;
}

input {
  margin: 20px 8px 10px;
}