/*
  Imporando uma fonte do google para ser utilizada.
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

/*
  Definindo um estilo para todos os elementos da pag
  pois o "*" trata-se de um seletor universal.
*/

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  outline: 0;
}

/*
  Estilizando o html e o body
*/

html, body {
  height: 100vh; /* Definindo um tamanho utilizando a unidade ViewHeight => que 1 unidade representa 1% do ViewPort (Área total visível). */
  font-family: "Source Sans Pro"; /* Definindo a fonte que irá ser utilizada */
  text-rendering: optimizelegibility; /* O text-rendering trata-se de um atributo sobre o que otimizar enquanto renderiza o texto. */
  -webkit-font-smoothing: antialiased;
}

html{
  font-size: 62.5%; /* A cada 1rem será considerado 10px (65.5/100*16px = 10px) */
}

body{
  font-size: 1.6rem; /* Definindo o tamanho da fonte do corpo do site, no caso a medida é dada por (65.5/100*16) * 1.6 */
}

header {
  background-color: #FF9D3F; /* Definindo uma cor de fundo para o header. */
}

header nav ul {
  display: flex; /* Definindo como os elementos serão dispostos na página. */
}

header nav ul li {
  list-style: none; /* Definindo o estilo da lista. */
}

header nav ul li a {
  text-decoration: none; /* Definindo uma decoração de texto, sendo o mesmo com diferentes tipos de linhas. */
  color: white; /* Definindo uma cor para a palavra. */
  text-transform: capitalize; /* Definindo a capitalização das palavras (maiuscula, minuscuça etc). */
  font-size: 1.4rem; /* Definindo o tamanho da fonte. */
  padding: 24px; /* Definindo uma distância das boras em relação ao conteúdo. */
  transition: all 250ms linear 0s; /* definindo a transição entre os elementos. */
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.267) /* Definindo uma cor quando o mouse for sobreposto ao elemento. */
}

h2 {
  margin-top: 1%;
  text-align: center;
  font-size: 3.6rem; /* Definindo o tamanho da fonte.*/
  line-height: 3.2rem; /* Definindo o espaçamento entre as linhas do texto. */
}

h3 {
  text-align: center;
  margin-top: 1%;
  font-size: 2.8rem; /* Definindo o tamanho da fonte.*/
  line-height: 3rem; /* Definindo o espaçamento entre as linhas do texto. */
}

header .container {
  display: flex; /* Definindo como os elementos serão dispostos na página. */
  align-items: center; /* Definindo o alinhamento dos itens */
  justify-content: space-between; /*  */
  width: 90%; /*Tornando a largura 90% do valor máximo de largura pré-estabelecido.*/
  max-width: 1400px; /*Definindo um tamanho máximo de div para não ser ultrapassada.*/
  margin: auto;
}

.inep_enade{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo_inep{
  padding: 13px; 
  background-color: #FFB74D;
}

.logo_enade{
  margin-left: 0.5px;
  align-items: center;
}

.logo_enade b{
  font-size: 3rem;
  color: #fff;
  letter-spacing: 1.5px;
  padding: 5px;
  background-color: #FFA726;
}

.button-nav {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 580;
  color: rgb(255, 255, 255);
  background-color: #FFAB40;
  margin: 15px 0px 0px;
  border-color: #FFAB40;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;
}

.button-nav:hover{
  font-size: 1.5rem; /* Definindo o tamanho da fonte quando o cursosr estiver sobre o componente.*/
  font-weight: 700; /* Definindo o tamanho da fonte quando o cursosr estiver sobre o componente.*/
}

.corpo-pagina{
  background-color: #ffb84d1f;
  box-shadow: inset;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
}

section.hero {
  margin: 80px 0;
}

section.hero .container {
    width: 90%; /* Tornando a largura 90% do valor máximo de largura pré-estabelecido. */
    max-width: 1400px; /* Definindo um tamanho máximo de div para não ser ultrapassada.*/
    margin: auto; /* */
  
    display: flex; /* */
}

section.hero p {
  color: rgb(154, 142, 191);
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: 10px 0px 0px;
}

/*
main {
  margin-top: 40px;
  margin-bottom: 80px;
}
*/

footer{
  width: 100%;

  background-color: #FF833A;
  padding: 80px 0;
  display:flex;
  justify-content: center;
  align-items: center;

  max-width: 1400px;
  margin:0;
  height: 100%;
  max-height: 100px;
  overflow: hidden;
  
}

footer p {
  margin-bottom: 15px
}

.fatec_sp_enade{
  display:flex;
  justify-content: center;
  align-items: center;
}

.fatec_sp_enade a:hover{
  padding: 0.2%;
  background: rgba(255, 255, 255, 0.164) /* Definindo uma cor quando o mouse for sobreposto ao elemento.*/
}

footer p a {
  text-decoration: none; /* Definindo uma decoração de texto, sendo o mesmo com diferentes tipos de linhas.*/
  color: white; /* Definindo uma cor para a palavra. */
  text-transform: capitalize; /* Definindo a capitalização das palavras (maiuscula, minuscuça etc).*/
  font-size: 1.6rem; /* Definindo o tamanho da fonte. */
  transition: all 250ms linear 0s; /* definindo a transição entre os elementos.*/
}

footer p a:hover {
  background: rgba(255, 255, 255, 0.267) /* Definindo uma cor quando o mouse for sobreposto ao elemento.*/
}

input {
  margin: 20px 8px 10px;
}