.pagina-pergunta{
    margin-top: 10px;
    text-align: center;
}

.numero-pergunta{
    text-align: start;
    margin-left: 15%;
}

.numero-pergunta a, .nav-pergunta a{
    text-decoration: none;
}

.numero-pergunta a{
    color: black;
}

.numero-pergunta a:hover{
    color: gray;
    font-size: 1.9rem;
}

.nav-pergunta{
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 650;
}

.nav-pergunta a{
    color: white;
    background-color: #FFAB40;
    padding: 5px;
    border-radius: 5px;
}

.nav-pergunta a:hover{
    color: white;
    background-color: #FF833A;
    padding: 6px;
}

.nav-pergunta .pergunta-selecionada{
    background-color: rgb(255, 145, 0);
}

.alternativas-pergunta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.corpo-pergunta{
    margin-top: 1%;
    padding: 1%;
    margin-right: 15%;
    margin-left: 15%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2%;
    box-shadow: 9px 9px 10px 10px rgba(0, 0, 0, 0.233);
}

.texto-pergunta{
    background-color: rgba(199, 199, 199, 0.842);
    border-radius: 2%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.575);
    border-width: 0.4px;
    margin-left: 10%;
    margin-right: 10%;
}

.fonte-pergunta{
    margin-top: 1%;
    margin-right: 10%;
    text-align: end;
    font-size: 1.4rem;
}

.enunciado-pergunta{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}