.pagina-pergunta{
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vh;
    left: 0px;
    top: 0px;
    flex-direction: column;

    justify-content: center;
    align-itens: center;
}

.numero-pergunta a, .nav-pergunta a{
    text-decoration: none;
}

.numero-pergunta a{
    color: black;
}

.numero-pergunta a:hover{
    color: gray;
    font-size: 1.1rem;
}

.nav-pergunta{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 550;
}

.nav-pergunta a{
    color: white;
    background-color: #FFAB40;
    padding: 5px;
    border-radius: 5px;
}

.nav-pergunta a:hover{
    color: white;
    background-color: #FF833A;
    padding: 6px;
}

.nav-pergunta .pergunta-selecionada{
    background-color: rgb(255, 145, 0);
}

.alternativas-pergunta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.corpo-pergunta{
    background-color: gray;
}
