header, .buttons-nav, footer, .info-resultado{
    display: none; /* Tornando o rodapé e o header 'invisível'. */
}

.corpo-pagina{
    margin-left: 4%; /* Definindo uma margem em relação ao item a esquerda. */
    margin-right: 4%; /* Definindo uma margem em relação ao item a direita. */
}

body{
    background: #FFF; /* Definindo uma cor de fundo. */
    color: #000;  /* Definindo uma cor as letras. */
    font: 12pt serif; /* Definindo uma fonte e tamanho. */
}

.inteiro-acertos, .inteiro-nao-respondidas {
    margin-right: 0%; /* Definindo uma margem em relação ao item a direita. */
}