html{
    font-size: 50%;
}

@media (max-width: 768px){
    nav {
        display: none;
    }
  
    .one, .two, .three {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;
  
        transition-duration: 0.3s;
    }
  
    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }
  
    .menu-section.on{
        position: absolute;
        top: 0;
        left: 0;
    
        width: 100vw;
        height: 100vh;
    
        z-index: 10;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: #FF8F00;
    }
  
    .menu-section.on nav{
        display: block;
    }
  
    .menu-section.on .menu-toggle{
        position: absolute;
        right: 25px;
        top: 15px;
    }
  
    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }
  
    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }
  
    .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }
  
    .menu-section.on nav ul{
        text-align: center;
        display: block;
    }
  
    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
    }

    @media (max-width: 425px){
        .corpo-pagina{
            margin-left: 4%;
            margin-right: 4%;
        }

        .corpo-pergunta{
            margin-right: 3.5%;
            margin-left: 3.5%;
        }

        .texto-pergunta{
            margin-right: 3.5%;
            margin-left: 3.5%;  
        }
    }

    @media (max-width: 375px){
        .corpo-pagina{
            margin-left: 4%;
            margin-right: 4%;
        }

        .corpo-pergunta{
            margin-right: 3%;
            margin-left: 3%;
        }

        .texto-pergunta{
            margin-right: 3.5%;
            margin-left: 3.5%;  
        }
    }

    @media (max-width: 320px) {
        .corpo-pagina{
            margin-left: 3%;
            margin-right: 3%;
        }
    
        .corpo-pergunta{
            margin-right: 2.5%;
            margin-left: 2.5%;
        }
    
        .texto-pergunta{
            margin-right: 2.5%;
            margin-left: 2.5%;  
        }
    
        .button-nav {
            font-size: 1rem;
            font-weight: 480;
            margin: 12px 0px 0px;
            border-color: #FFAB40;
            padding: 10px 28px;
            text-decoration: none;
            border-radius: 2px;
            transition: all 150ms linear 0s;
        }  
    }

}