@media (min-width: 1024px) and (max-width: 1440px){ /*Uma media query consiste de um media type e pelo menos uma expressão que limita o escopo das folhas de estilo usando media features, tal como largura, altura e cor*/
	
	.info-enade{
		width: 100%;  /*Determina a largura da area de conteudo de um elemento*/
		height: auto; /*Determina a altura do conteudo de um elemento*/ 
		display: block; /*Faz com que o elemento HTML seja renderizado como bloco*/
		margin-left: auto; /*Define a area de margem do elemento a esquerda*/
		margin-right: auto; /*Define a area de margem do elemento a direita*/
	}
		
	.info-enade blockquote{
		font-size: 1.6rem;/*É utilizado para indicar o tamanho da letra(fonte)*/
	}
		
	.responsaveis-site{
		font-size: 1.8rem;
		margin-left: 10%;
		margin-right: 10%;
	}
		
	.sobre-o-site{
		font-size: 1.6rem;
		margin-left: 1%;
		margin-right: 1%;
	}
		
	.fonte-video{
		font-size: 1.35rem;
	}
		
	.corpo-pagina {
		margin-left: 2%;
		margin-right: 2%;
	}
		
	.sobre-o-enade{
		font-size: 1.7rem;
		margin-left: 1%;
		margin-right: 1%;
	}
		
	.fonte-sobre-o-enade{
		font-size: 1.6rem;
	}
		
	.acesso-ao-simulado h2{
		font-size: 2.3rem;
	}
		
	.voce-enade{
		font-size: 2.5rem;
	}
		
	.acesso-prova-gabarito h3{
		font-size: 2.3rem;
	}
		
	.acesso-prova-gabarito p{
		font-size: 1.8rem;
	}
		
	footer p{
		margin-bottom: 20px;/*Define a area de margem do elemento na parte inferior*/
	}
		
	footer div p a{
		font-size: 1.4rem;
	}
		
	.fatec_sp_enade{
		width: 100%;
		height: auto;
	}
		
	.corpo-pagina{
		padding-bottom: 40px;/*Define as dimensões do espaçamento interno inferior*/
	}
		
	.intrucoes-principais h2{
		font-size: 3.5rem;
	}
		
	.intrucoes-finais h2{
		font-size: 2.9rem;
	}
		
	.intrucoes-principais p {
		margin-left: 1%;
		margin-right: 1%;
		font-size: 1.7rem;
	}
			
	.numero-pergunta{
		margin-left: 14%;
	}
		
	.texto-pergunta p{
		font-size: 1.6rem;
	}
		
	.alternativas-pergunta{
		margin-left: 5%;
		margin-right: 5%;
		font-size: 1.6rem;
	}
		
	.fonte-pergunta{
		font-size: 1.15rem;
	}
		
	.alternativas-pergunta span{
		margin-top: 0.5%;/*Define a area de margem do elemento na parte superior*/
		font-size: 1.5rem;
	}

	.button-nav{
		font-size: 2rem; /* Definindo o tamanho da fonte quando o cursor estiver sobre o componente.*/
		font-weight: 800; /* Definindo o tamanho da fonte quando o cursor estiver sobre o componente.*/
	}
		
	.nav-pergunta {
		font-size: 2rem;
		font-weight: 400;
	}

	.mensagem-final-simulado {
		font-size: 2.7rem;
	}

	.sub-mensagem-final-simulado {
		font-size: 2rem;
		margin-top: 2%;
	}


	.button-nav {
		font-size: 1.1rem;
	}

	.info-resultado {
    	margin-left: 1%;
    	margin-right: 1%;
    	font-size: 1.9rem;
	}

	.primeiro-dados-por-inteiro div {
		align-items: center;/*Estabelece o alinhamento de um certo item dentro do bloco que o contém*/
		height: auto;
    	width: 100%;
    }

	div .inteiro-acertos{
  		align-items: center;
  		margin-right: 0;
	}

	div .inteiro-erros{
		align-items: center;
		margin-right: 0;
	}

	div .inteiro-nao-respondidas{
		align-items: center;
		margin-right: 0;
	}

	div .inteiro-respondidas{
		align-items: center;
		margin-right: 0;
	}

	.segundo-dados-por-inteiro div {
		align-items: center;
		height: auto;
    	width: 100%;
	}

	.div-nota-individual {
		margin-top: 4.0%;
	}

	.info-resultado-estatisticas p {
	    margin-top: 1.5%;
	    font-size: 1.8rem;
	}

	.info-evolucao-usuario p {
    	margin-top: 1.5%;
    	font-size: 1.9rem;
	}
}

@media (min-width: 426px) and (max-width: 912px){
	
	.grafico-evolucao{
		margin-bottom: 35vh;
	}

	@media (max-width: 912px){

		.inteiro-acertos, .inteiro-nao-respondidas {
    		margin-right: 0%;
		}
	}
	
	@media (max-width: 768px){
		.popup {
			width: 600px;
			height: 425px;
		}

		.atencao, .certo, .errado{
			width: auto;
			height: auto;
		}

		.certo, .errado{
			margin-left: 5%;
			margin-right: 5%;
		}

		.imagem-informativa{
			width: 100%;
			height: auto;
		}

		.sobre-o-site {
			font-size: 2rem;
			margin-left: 6%;
			margin-right: 6%;
		}

		.corpo-pagina {
			margin-left: 2%;
			margin-right: 2%;
		}

		.responsaveis-site p{
			font-size: 2rem;
		}

		.responsaveis-site b{
			font-size: 2.2rem;
		}

		header nav ul li a {
			font-size: 2rem;
		}

		footer div p a{
			font-size: 1.9rem;
		}

		.acesso-ao-simulado h2{
			font-size: 2.9rem;
		}

		.acesso-prova-gabarito h3{
			font-size: 2.8rem;
		}

		.intrucoes-principais p {
			font-size: 2rem;
		}

		.corpo-pergunta {
			margin-right: 5%;
			margin-left: 5%;
		}

		.nav-pergunta{
			font-size: 2rem;
		}

		.fonte-pergunta{
			font-size: 1rem;
		}

		.enunciado-pergunta p{
			font-size: 2rem;
		}

		.numero-pergunta{
			font-size: 1.8rem;
			margin-left: 10%;
		}

		.texto-pergunta{
			margin-left: 6%;
    		margin-right: 6%;
		}

		.texto-pergunta p{
			font-size: 1.8rem;
		}

		.button-nav{
			font-size: 1.8rem;
			font-weight: 700;
		}

		.alternativas-pergunta span{
			font-size: 2rem;
		}

		.info-resultado {
    		margin-left: 1%;
    		margin-right: 1%;
    		font-size: 1.9rem;
		}

		.primeiro-dados-por-inteiro div {
			height: auto;
    		width: 100%;

		}

		div .inteiro-acertos{
  			align-items: center;
  			margin-right: 0;
		}

		div .inteiro-erros{
			align-items: center;
			margin-right: 0;
		}

		div .inteiro-nao-respondidas{
			align-items: center;
			margin-right: 0;
		}

		div .inteiro-respondidas{
			align-items: center;
			margin-right: 0;
		}

		.segundo-dados-por-inteiro div {
			align-items: center;
			height: auto;
    		width: 100%;
		}

		.div-nota-individual {
			margin-top: 4.0%;
		}

		.info-resultado-estatisticas p {
	    	margin-top: 1.5%;
	    	font-size: 1.8rem;
		}

		.info-evolucao-usuario p {
    		margin-top: 1.5%;
    		font-size: 1.9rem
		}
	}

	@media (max-width: 540px) {
		.corpo-pagina{
			margin-left: 2.5%;
    		margin-right: 2.5%;
		}

		.sobre-o-enade {
			margin-left: 6%;
			margin-right: 6%;
		}
		
		.acesso-ao-simulado h2{
			font-size: 3rem;
		}

		.acesso-prova-gabarito h3{
			font-size: 2.4rem;
		}

		.button-nav{
			font-size: 1.4rem;
		}

		.imagem-informativa{
			width: 100%;
			height: auto;
		}

		.intrucoes-principais p {
			font-size: 1.80rem;
			margin-left: 6%;
			margin-right: 6%;
		}

		.numero-pergunta {
			margin-left: 5%;
		}

		.corpo-pergunta {
			margin-right: 4%;
			margin-left: 4%;
		}

		.nav-pergunta {
			font-size: 2.3rem;
		}

		.texto-pergunta {
			margin-left: 5%;
			margin-right: 5%;
		}

		.texto-pergunta p{
			font-size: 1.75rem;
		}

		.alternativas-pergunta{
			margin-left: 8%;
			margin-right: 8%;				
		}

		.enunciado-pergunta{
			font-size: 1.9rem;
		}

		.alternativas-pergunta span{
			font-size: 1.8rem;
		}

		.buttons-nav input{
			font-size: 1.7rem;
		}

		.buttons-nav input:hover{
			font-size: 1.9rem; /* Definindo o tamanho da fonte quando o cursor estiver sobre o componente.*/
			font-weight: 700; /* Definindo o tamanho da fonte quando o cursor estiver sobre o componente.*/
		}

		header nav ul li a {
			font-size: 1.50rem;
		}

		footer div p a{
			font-size: 2rem;
		}

		.sobre-o-site{
			margin-left: 7%;
			margin-right: 7%;
		}

		.responsaveis-site p{
			font-size: 2rem;
		}

		.responsaveis-site b{
			font-size: 2.3rem;
		}

		.popup{
			height: 470px;
			width: auto;

			margin-left: 5%;	
			margin-right: 5%;
		}

		.info-resultado {
    		margin-left: 1%;
    		margin-right: 1%;
    		font-size: 1.9rem;
		}

		.primeiro-dados-por-inteiro div {
			height: auto;
    		width: 100%;

		}

		div .inteiro-acertos{
  			align-items: center;
  			margin-right: 0;
		}

		div .inteiro-erros{
			align-items: center;
			margin-right: 0;
		}

		div .inteiro-nao-respondidas{
			align-items: center;
			margin-right: 0;
		}

		div .inteiro-respondidas{
			align-items: center;
			margin-right: 0;
		}

		.segundo-dados-por-inteiro div {
			align-items: center;
			height: auto;
    		width: 100%;
		}

		.div-nota-individual {
			margin-top: 4.0%;
		}

		.info-resultado-estatisticas p {
	    	margin-top: 1.5%;
	    	font-size: 1.8rem;
		}

		.info-evolucao-usuario p {
    		margin-top: 1.5%;
    		font-size: 1.9rem
		}
	}
}

@media (max-width: 425px){
	@media (min-width: 280px){
		html{
			font-size: 50%;
		}
	}

    nav {
        display: none;/*Retira o elemento do layout da página*/
    }
  
    .imagem-informativa{
        width: 100%;
        height: auto;
    }

    .one, .two, .three {
        background-color: white;/*Define a cor de fundo de um elemento*/
        height: 5px;
        width: 100%;
        margin: 6px auto;/*Define a área de margem nos quatro lados do elemento*/
  
        transition-duration: 0.3s;/*É utilizado para informar o tempo de duração da animação*/
    }
  
    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }
  
    .menu-section.on{
        position: absolute;/*É um recurso usado para ordenar os elementos HTML de uma página web*/
        top: 0;/*Indica o espaço acima do elemento*/
        left: 0;/*Defini a posição horizontal do elemento em relação a sua borda esquerda*/
    
        width: 100vw;
        height: 100vh;
    
        z-index: 10;/*Responsável pelo cálculo e posicionamento da profundidade de algum elemento*/
    
        display: flex;/*Serve para dispor os elementos dentro de um determinado container em linhas ou colunas*/
        justify-content: center;/*É empregada para alinhar os elementos ao longo do eixo principal, no caso ao centro*/
        align-items: center;
    
        background-color: #FF8F00;
    }
  
    .menu-section.on nav{
        display: block;
    }
  
    .menu-section.on .menu-toggle{
        position: absolute;
        right: 25px;/*Defini a posição horizontal do elemento em relação a sua borda direita*/
        top: 15px;
    }
  
    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);/*Permite modificar o espaço coordenado do modelo de formatação*/
    }
  
    .menu-section.on .menu-toggle .two{
        opacity: 0;/*Especifica a transparência de um elemento*/
    }
  
    .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }
  
    .menu-section.on nav ul{
        text-align: center;/*Definem o alinhamento do texto, no caso ele se encontra no centro*/
        display: block;
    }
  
    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;/*Permite controlar o espaçamento entre as linhas de um texto*/
        display: block;
    }

    @media (max-width: 425px){
		.corpo-pagina {
			margin-left: 2%;
			margin-right: 2%;
		}

		.corpo-pergunta {
			margin-right: 1.8%;
			margin-left: 1.8%;
		}

        .texto-pergunta{
            margin-right: 2%;
            margin-left: 2%;  
        }
		
		.info-enade{
			width: 85%;
			height: 70%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.sobre-o-enade{
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.acesso-ao-simulado h2{
			font-size: 3rem;
		}
		
		.acesso-prova-gabarito h3{
			font-size: 2.5rem;
		}
		
		.acesso-prova-gabarito p{
			font-size: 1.7rem;
		}
		
		.sobre-o-site{
			font-size: 2rem;
			margin-left: 2.5%;
			margin-right: 2.5%;
		}
		
		.numero-pergunta{
			margin-left: 2.65%;
		}
		
		.nav-pergunta{
			font-size: 2.2rem;
		}
		
		.fonte-pergunta{
			font-size: 1.2rem;
		}
		
		.alternativas-pergunta{
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.alternativas-pergunta span{
			margin-top: -2.5%;
		}
		
		.button-nav{
			font-size: 1.4rem;
		}

		.info-resultado {
    		margin-left: 1%;
    		margin-right: 1%;
    		font-size: 1.9rem;
		}

		.primeiro-dados-por-inteiro div {
			height: auto;
    		width: 100%;
		}

		div .inteiro-acertos{
  			align-items: center;
  			margin-right: 0;
		}

		div .inteiro-erros{
			align-items: center;
			margin-right: 0;
		}

		div .inteiro-nao-respondidas{
			align-items: center;
			margin-right: 0;
		}

		div .inteiro-respondidas{
			align-items: center;
			margin-right: 0;
		}

		.segundo-dados-por-inteiro div {
			align-items: center;
			height: auto;
    		width: 100%;
		}

		.div-nota-individual {
			margin-top: 4.0%;
		}

		.info-resultado-estatisticas p {
	    	margin-top: 1.5%;
	    	font-size: 1.8rem;
		}

		.info-evolucao-usuario p {
    		margin-top: 1.5%;
    		font-size: 1.9rem
		}
	}
    

	@media (min-width: 376px) {
		.popup{
			height: 470px;
			width: auto;
	
			margin-left: 5%;	
			margin-right: 5%;
		}
	}

    @media (max-width: 375px){
		.errado, .certo, .atencao, .popup{
			width: auto; 
			height: 100%;
		}

        .texto-pergunta{
            margin-right: 1.8%;
            margin-left: 1.8%;  
        }
		
		.corpo-pagina{
			margin-left: 2%;
			margin-right: 2%;
		}
		
		.sobre-o-enade{
			margin-left: 6%;
			margin-right: 6%;
		}
		
		.info-enade{
			width: 80%;
			height: 65%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.info-enade blockquote{
			font-size: 1.8rem;
		}
		
		.acesso-ao-simulado h2{
			font-size: 2.6rem;
		}
		
		.acesso-ao-simulado p{
			font-size: 1.4rem;
		}
		
		.acesso-prova-gabarito h3{
			font-size: 2.6rem;
		}
		
		.acesso-prova-gabarito p{
			font-size: 1.6rem;
		}
		
		.sobre-o-site {
			font-size: 1.8rem;
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.numero-pergunta{
			margin-left: 3%;
		}
		
		.fonte-pergunta {
			font-size: 1.2rem;
		}
		
		.alternativas-pergunta{
			margin-left: 8%;
			margin-right: 8%;
		}
		
		.alternativas-pergunta span{
			margin-top: -3.5%;
		}

		.info-resultado {
    		margin-left: 1%;
    		margin-right: 1%;
    		font-size: 1.9rem;
		}

		.primeiro-dados-por-inteiro div {
			align-items: center;
			height: auto;
    		width: 100%;
		}

		.segundo-dados-por-inteiro div {
			align-items: center;
			height: auto;
    		width: 100%;
		}

		.div-nota-individual {
			margin-top: 5.0%;
		}

		.info-resultado-estatisticas p {
	    	margin-top: 1.5%;
	    	font-size: 1.8rem;
		}

		.info-evolucao-usuario p {
    		margin-top: 1.5%;
    		font-size: 1.8rem
		}
	}

    @media (max-width: 320px) {
        .corpo-pagina{
            margin-left: 4%;
            margin-right: 4%;
        }
    
        .corpo-pergunta{
            margin-right: 2%;
            margin-left: 2%;
        }
    
        .texto-pergunta{
            margin-right: 2%;
            margin-left: 2%;  
        }
		
		.info-enade{
			width: 70%;
			height: 50%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.info-enade blockquote{
			font-size: 1.35rem;
		}
		
		.responsaveis-site{
			font-size: 1.6rem;
			margin-left: 10%;
			margin-right: 10%;
		}
		
		.sobre-o-site{
			font-size: 1.45rem;
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.fonte-video{
			font-size: 1.35rem;
		}
		
		.corpo-pagina {
			margin-left: 2%;
			margin-right: 2%;
		}
		
		.sobre-o-enade{
			font-size: 1.7rem;
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.fonte-sobre-o-enade{
			font-size: 1.5rem;
		}
		
		.acesso-ao-simulado h2{
			font-size: 2.20rem;
		}
		
		.voce-enade{
			font-size: 2.5rem;
		}
		
		.acesso-prova-gabarito h3{
			font-size: 2rem;
		}
		
		.acesso-prova-gabarito p{
			font-size: 1.5rem;
		}
		
		.corpo-pagina{
			padding-bottom: 40px;/*Define as dimensões do espaçamento interno inferior*/
		}
		
		.intrucoes-principais h2{
			font-size: 3.5rem;
		}
		
		.intrucoes-finais h2{
			font-size: 2.8rem;
		}
		
		.intrucoes-principais p {
			margin-left: 5%;
			margin-right: 5%;
			font-size: 1.5rem;
		}
			
		.numero-pergunta{
			margin-left: 3%;
		}
		
		.texto-pergunta p{
			font-size: 1.5rem;
		}
		
		.alternativas-pergunta{
			margin-left: 5%;
			margin-right: 5%;
			font-size: 1.5rem;
		}
		
		.fonte-pergunta{
			font-size: 1.05rem;
		}
		
		.alternativas-pergunta span{
			margin-top: -4%;
		}
		
		.button-nav {
			font-size: 1.3rem;
			font-weight: 500;
		}

		.button-nav:hover{
			font-size: 1.4rem; /* Definindo o tamanho da fonte quando o cursor estiver sobre o componente.*/
			font-weight: 600; /* Definindo o tamanho da fonte quando o cursor estiver sobre o componente.*/
		}
		
		.nav-pergunta{
			font-size: 2.2rem;
			font-weight: 400;
		}

		footer div p a{
			font-size: 1.6rem;
		}

		.info-resultado {
    		margin-left: 1%;
    		margin-right: 1%;
    		font-size: 1.9rem;
		}

		.primeiro-dados-por-inteiro div {
			align-items: center;
			height: auto;
    		width: 100%;
		}

		.segundo-dados-por-inteiro div {
			align-items: center;
			height: auto;
    		width: 100%;
		}

		.div-nota-individual {
			margin-top: 4.0%;
		}

		.info-resultado-estatisticas p {
	    	margin-top: 1.5%;
	    	font-size: 1.8rem;
		}

		.info-evolucao-usuario p {
    		margin-top: 1.5%;
    		font-size: 1.8rem
		}
	}

	@media (max-width: 280px) {
		.info-enade{
			width: 70%;
			height: 50%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.info-enade blockquote{
			font-size: 1.2rem;
		}
		
		.responsaveis-site{
			font-size: 1.6rem;
			margin-left: 10%;
			margin-right: 10%;
		}
		
		.sobre-o-site{
			font-size: 1.45rem;
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.fonte-video{
			font-size: 1.35rem;
		}
		
		.corpo-pagina {
			margin-left: 2%;
			margin-right: 2%;
		}
		
		.sobre-o-enade{
			font-size: 1.3rem;
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.fonte-sobre-o-enade{
			font-size: 1.35rem;
		}
		
		.acesso-ao-simulado h2{
			font-size: 2.20rem;
		}
		
		.voce-enade{
			font-size: 2.5rem;
		}
		
		.acesso-prova-gabarito h3{
			font-size: 2rem;
		}
		
		.acesso-prova-gabarito p{
			font-size: 1.5rem;
		}
		
		footer p{
			margin-bottom: 20px;
		}
		
		footer div p a{
			font-size: 1.4rem;
		}
		
		.fatec_sp_enade{
			width: 100%;
			height: auto;
		}
		
		.corpo-pagina{
			padding-bottom: 40px;
		}
		
		.intrucoes-principais h2{
			font-size: 3.5rem;
		}
		
		.intrucoes-finais h2{
			font-size: 2.8rem;
		}
		
		.intrucoes-principais p {
			margin-left: 5%;
			margin-right: 5%;
			font-size: 1.5rem;
		}
			
		.numero-pergunta{
			margin-left: 4%;
		}
		
		.texto-pergunta p{
			font-size: 1.5rem;
		}
		
		.alternativas-pergunta{
			margin-left: 5%;
			margin-right: 5%;
			font-size: 1.5rem;
		}
		
		.fonte-pergunta{
			font-size: 1.05rem;
		}
		
		.alternativas-pergunta span{
			margin-top: -5%;
		}
		
		.button-nav {
			font-size: 0.85rem;
			font-weight: 500;
		}

		.button-nav:hover{
			font-size: 0.9rem; /* Definindo o tamanho da fonte quando o cursor estiver sobre o componente.*/
			font-weight: 600; /* Definindo o tamanho da fonte quando o cursor estiver sobre o componente.*/
		}
		
		.nav-pergunta {
			font-size: 2rem;
			font-weight: 400;
		}

		.mensagem-final-simulado {
			font-size: 2.7rem;
		}

		.sub-mensagem-final-simulado {
			font-size: 2rem;
			margin-top: 2%;
		}


		.button-nav {
			font-size: 1.1rem;
		}

		.info-resultado {
    		margin-left: 1%;
    		margin-right: 1%;
    		font-size: 1.7rem;
		}

		.orientacao {
   			margin-top: 1.4%;
    		font-size: 1.8rem;
		}

		.grafico-acertos-erros, .grafico-respondidas-e-naorespondidas{
			height: auto;
    		width: 100%;
    		margin-bottom: 2.0%;
		}

		.primeiro-dados-por-inteiro div {
			align-items: center;
			height: auto;
    		width: 100%;
		}

		.segundo-dados-por-inteiro div {
			align-items: center;
			height: auto;
    		width: 100%;
		}

		.div-nota-individual {
			margin-top: 4.0%;
		}
  	}
}