@media (min-width: 1024px) and (max-width: 1440px){

}

@media (min-width: 426px) and (max-width: 912px){
	.corpo-pagina{
		padding-bottom: 40px;
	}

	@media (max-width: 768px){
		.popup {
			width: 600px;
			height: 425px;
		}

		.atencao, .certo, .errado{
			width: auto;
			height: auto;
		}

		.certo, .errado{
			margin-left: 5%;
			margin-right: 5%;
		}

		.imagem-informativa{
			width: 100%;
			height: auto;
		}

		.sobre-o-site {
			font-size: 2rem;
			margin-left: 6%;
			margin-right: 6%;
		}

		.corpo-pagina {
			margin-left: 2%;
			margin-right: 2%;
		}

		.responsaveis-site p{
			font-size: 2rem;
		}

		.responsaveis-site b{
			font-size: 2.2rem;
		}

		header nav ul li a {
			font-size: 2rem;
		}

		footer div p a{
			font-size: 1.9rem;
		}

		.acesso-ao-simulado h2{
			font-size: 2.9rem;
		}

		.acesso-prova-gabarito h3{
			font-size: 2.8rem;
		}

		.intrucoes-principais p {
			font-size: 2rem;
		}

		.corpo-pergunta {
			margin-right: 5%;
			margin-left: 5%;
		}

		.nav-pergunta{
			font-size: 2rem;
		}

		.fonte-pergunta{
			font-size: 1rem;
		}

		.enunciado-pergunta p{
			font-size: 2rem;
		}

		.numero-pergunta{
			font-size: 1.8rem;
			margin-left: 10%;
		}

		.texto-pergunta{
			margin-left: 6%;
    		margin-right: 6%;
		}

		.texto-pergunta p{
			font-size: 1.8rem;
		}

		.button-nav{
			font-size: 1.8rem;
			font-weight: 700;
		}

		.alternativas-pergunta span{
			font-size: 2rem;
		}
	}

	@media (max-width: 540px) {
		.corpo-pagina{
			margin-left: 2.5%;
    		margin-right: 2.5%;
		}

		.sobre-o-enade {
			margin-left: 6%;
			margin-right: 6%;
		}
		
		.acesso-ao-simulado h2{
			font-size: 3rem;
		}

		.acesso-prova-gabarito h3{
			font-size: 2.4rem;
		}

		.button-nav{
			font-size: 1.4rem;
		}

		.imagem-informativa{
			width: 100%;
			height: auto;
		}

		.intrucoes-principais p {
			font-size: 1.80rem;
			margin-left: 6%;
			margin-right: 6%;
		}

		.numero-pergunta {
			margin-left: 5%;
		}

		.corpo-pergunta {
			margin-right: 4%;
			margin-left: 4%;
		}

		.nav-pergunta {
			font-size: 2.3rem;
		}

		.texto-pergunta {
			margin-left: 5%;
			margin-right: 5%;
		}

		.texto-pergunta p{
			font-size: 1.75rem;
		}

		.alternativas-pergunta{
			margin-left: 8%;
			margin-right: 8%;				
		}

		.enunciado-pergunta{
			font-size: 1.9rem;
		}

		.alternativas-pergunta span{
			font-size: 1.8rem;
		}

		.buttons-nav input{
			font-size: 1.7rem;
		}

		.buttons-nav input:hover{
			font-size: 1.9rem; /* Definindo o tamanho da fonte quando o cursosr estiver sobre o componente.*/
			font-weight: 700; /* Definindo o tamanho da fonte quando o cursosr estiver sobre o componente.*/
		}

		header nav ul li a {
			font-size: 1.50rem;
		}

		footer div p a{
			font-size: 2rem;
		}

		.sobre-o-site{
			margin-left: 7%;
			margin-right: 7%;
		}

		.responsaveis-site p{
			font-size: 2rem;
		}

		.responsaveis-site b{
			font-size: 2.3rem;
		}

		.popup{
			height: 470px;
			width: auto;

			margin-left: 5%;	
			margin-right: 5%;
		}
	}
}

@media (max-width: 425px){
	@media (min-width: 280px){
		html{
			font-size: 50%;
		}
	}

    nav {
        display: none;
    }
  
    .imagem-informativa{
        width: 100%;
        height: auto;
    }

    .one, .two, .three {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;
  
        transition-duration: 0.3s;
    }
  
    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }
  
    .menu-section.on{
        position: absolute;
        top: 0;
        left: 0;
    
        width: 100vw;
        height: 100vh;
    
        z-index: 10;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: #FF8F00;
    }
  
    .menu-section.on nav{
        display: block;
    }
  
    .menu-section.on .menu-toggle{
        position: absolute;
        right: 25px;
        top: 15px;
    }
  
    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }
  
    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }
  
    .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }
  
    .menu-section.on nav ul{
        text-align: center;
        display: block;
    }
  
    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
    }

    @media (max-width: 425px){
		.corpo-pagina {
			margin-left: 2%;
			margin-right: 2%;
		}

		.corpo-pergunta {
			margin-right: 1.8%;
			margin-left: 1.8%;
		}

        .texto-pergunta{
            margin-right: 2%;
            margin-left: 2%;  
        }
		
		.info-enade{
			width: 85%;
			height: 70%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.sobre-o-enade{
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.acesso-ao-simulado h2{
			font-size: 3rem;
		}
		
		.acesso-prova-gabarito h3{
			font-size: 2.5rem;
		}
		
		.acesso-prova-gabarito p{
			font-size: 1.7rem;
		}
		
		.sobre-o-site{
			font-size: 2rem;
			margin-left: 2.5%;
			margin-right: 2.5%;
		}
		
		.numero-pergunta{
			margin-left: 2.65%;
		}
		
		.nav-pergunta{
			font-size: 2.2rem;
		}
		
		.fonte-pergunta{
			font-size: 1.2rem;
		}
		
		.alternativas-pergunta{
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.alternativas-pergunta span{
			margin-top: -2.5%;
		}
		
		.button-nav{
			font-size: 1.4rem;
		}
    }

	@media (min-width: 376px) {
		.popup{
			height: 470px;
			width: auto;
	
			margin-left: 5%;	
			margin-right: 5%;
		}
	}

    @media (max-width: 375px){
		.errado, .certo, .atencao, .popup{
			width: auto; 
			height: 100%;
		}

        .texto-pergunta{
            margin-right: 1.8%;
            margin-left: 1.8%;  
        }
		
		.corpo-pagina{
			margin-left: 2%;
			margin-right: 2%;
		}
		
		.sobre-o-enade{
			margin-left: 6%;
			margin-right: 6%;
		}
		
		.info-enade{
			width: 80%;
			height: 65%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.info-enade blockquote{
			font-size: 1.8rem;
		}
		
		.acesso-ao-simulado h2{
			font-size: 2.6rem;
		}
		
		.acesso-ao-simulado p{
			font-size: 1.4rem;
		}
		
		.acesso-prova-gabarito h3{
			font-size: 2.6rem;
		}
		
		.acesso-prova-gabarito p{
			font-size: 1.6rem;
		}
		
		.sobre-o-site {
			font-size: 1.8rem;
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.numero-pergunta{
			margin-left: 3%;
		}
		
		.fonte-pergunta {
			font-size: 1.2rem;
		}
		
		.alternativas-pergunta{
			margin-left: 8%;
			margin-right: 8%;
		}
		
		.alternativas-pergunta span{
			margin-top: -3.5%;
			
		}
    }

    @media (max-width: 320px) {
        .corpo-pagina{
            margin-left: 4%;
            margin-right: 4%;
        }
    
        .corpo-pergunta{
            margin-right: 2%;
            margin-left: 2%;
        }
    
        .texto-pergunta{
            margin-right: 2%;
            margin-left: 2%;  
        }
		
		.info-enade{
			width: 70%;
			height: 50%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.info-enade blockquote{
			font-size: 1.35rem;
		}
		
		.responsaveis-site{
			font-size: 1.6rem;
			margin-left: 10%;
			margin-right: 10%;
		}
		
		.sobre-o-site{
			font-size: 1.45rem;
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.fonte-video{
			font-size: 1.35rem;
		}
		
		.corpo-pagina {
			margin-left: 2%;
			margin-right: 2%;
		}
		
		.sobre-o-enade{
			font-size: 1.7rem;
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.fonte-sobre-o-enade{
			font-size: 1.5rem;
		}
		
		.acesso-ao-simulado h2{
			font-size: 2.20rem;
		}
		
		.voce-enade{
			font-size: 2.5rem;
		}
		
		.acesso-prova-gabarito h3{
			font-size: 2rem;
		}
		
		.acesso-prova-gabarito p{
			font-size: 1.5rem;
		}
		
		.corpo-pagina{
			padding-bottom: 40px;
		}
		
		.intrucoes-principais h2{
			font-size: 3.5rem;
		}
		
		.intrucoes-finais h2{
			font-size: 2.8rem;
		}
		
		.intrucoes-principais p {
			margin-left: 5%;
			margin-right: 5%;
			font-size: 1.5rem;
		}
			
		.numero-pergunta{
			margin-left: 3%;
		}
		
		.texto-pergunta p{
			font-size: 1.5rem;
		}
		
		.alternativas-pergunta{
			margin-left: 5%;
			margin-right: 5%;
			font-size: 1.5rem;
		}
		
		.fonte-pergunta{
			font-size: 1.05rem;
		}
		
		.alternativas-pergunta span{
			margin-top: -4%;
		}
		
		.button-nav {
			font-size: 1.3rem;
			font-weight: 500;
		}

		.button-nav:hover{
			font-size: 1.4rem; /* Definindo o tamanho da fonte quando o cursosr estiver sobre o componente.*/
			font-weight: 600; /* Definindo o tamanho da fonte quando o cursosr estiver sobre o componente.*/
		}
		
		.nav-pergunta{
			font-size: 2.2rem;
			font-weight: 400;
		}

		footer div p a{
			font-size: 1.6rem;
		}
    }

	@media (max-width: 280px) {
		.info-enade{
			width: 70%;
			height: 50%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.info-enade blockquote{
			font-size: 1.2rem;
		}
		
		.responsaveis-site{
			font-size: 1.6rem;
			margin-left: 10%;
			margin-right: 10%;
		}
		
		.sobre-o-site{
			font-size: 1.45rem;
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.fonte-video{
			font-size: 1.35rem;
		}
		
		.corpo-pagina {
			margin-left: 2%;
			margin-right: 2%;
		}
		
		.sobre-o-enade{
			font-size: 1.3rem;
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.fonte-sobre-o-enade{
			font-size: 1.35rem;
		}
		
		.acesso-ao-simulado h2{
			font-size: 2.20rem;
		}
		
		.voce-enade{
			font-size: 2.5rem;
		}
		
		.acesso-prova-gabarito h3{
			font-size: 2rem;
		}
		
		.acesso-prova-gabarito p{
			font-size: 1.5rem;
		}
		
		footer p{
			margin-bottom: 20px;
		}
		
		footer div p a{
			font-size: 1.4rem;
		}
		
		.fatec_sp_enade{
			width: 100%;
			height: auto;
		}
		
		.corpo-pagina{
			padding-bottom: 40px;
		}
		
		.intrucoes-principais h2{
			font-size: 3.5rem;
		}
		
		.intrucoes-finais h2{
			font-size: 2.8rem;
		}
		
		.intrucoes-principais p {
			margin-left: 5%;
			margin-right: 5%;
			font-size: 1.5rem;
		}
			
		.numero-pergunta{
			margin-left: 4%;
		}
		
		.texto-pergunta p{
			font-size: 1.5rem;
		}
		
		.alternativas-pergunta{
			margin-left: 5%;
			margin-right: 5%;
			font-size: 1.5rem;
		}
		
		.fonte-pergunta{
			font-size: 1.05rem;
		}
		
		.alternativas-pergunta span{
			margin-top: -5%;
		}
		
		.button-nav {
			font-size: 0.85rem;
			font-weight: 500;
		}

		.button-nav:hover{
			font-size: 0.9rem; /* Definindo o tamanho da fonte quando o cursosr estiver sobre o componente.*/
			font-weight: 600; /* Definindo o tamanho da fonte quando o cursosr estiver sobre o componente.*/
		}
		
		.nav-pergunta{
			font-size: 2rem;
			font-weight: 400;
		}
	}
}