.graficos{
    margin-top: 5%;
}

.grafico-acertos-erros, .grafico-respondidas-e-naorespondidas{
    width: 90%;
    height: 80%;
    max-height: 400px;
    max-width: 500px;
}

.primeiro-dados-por-inteiro div, .segundo-dados-por-inteiro div{
    border-width: 1%;
    border-style: solid;
    border-color: rgba(66, 66, 66, 0.6);
    height: 50%;
    width: 60%;
    max-width: 400px;
    max-height: 200px;
    align-items: center;
    margin-top: 2.5%;
    display: inline-table;
}

.primeiro-dados-por-inteiro p, .segundo-dados-por-inteiro p{
    margin: 2.5%;
}

.inteiro-acertos h4, .inteiro-erros h4, 
.inteiro-nao-respondidas h4, .inteiro-respondidas h4{
    font-size: 2rem;
}

.inteiro-acertos, .inteiro-nao-respondidas{
    margin-right: 15%;
}

.inteiro-acertos h4{
    background-color: rgba(0, 255, 0, 0.6);
}

.inteiro-erros h4{
    background-color: rgba(255, 0, 0, 0.6);
}

.inteiro-nao-respondidas h4{
    background-color: rgba(180, 180, 180, 0.6);
}

.inteiro-respondidas h4{
    background-color: rgba(255, 155, 55, 0.6);
}

.respondidas-e-naorespondidas{
    margin-bottom: 4%;
}

.mensagem-final-simulado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.1rem;    
}

.sub-mensagem-final-simulado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1rem; 
    margin-top: 1.5%;
}

.info-resultado{
    margin-left: 10%;
    margin-right: 10%;
}

.info-resultado p{
    text-align: justify;
}

.orientacao{
    margin-top: 2.5%;
    font-size: 1.8rem; 
}

.retorno-acertos{
    margin-top: 5%;
    margin-bottom: 2%;
}

.mensagem-evolucao-usuario{
    margin-top: 5%;
}

table{
	width: 60%;
}

.div-nota-individual table, th, td {
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;  
}

.div-nota-individual p{
	margin-top: 2.5%;
    margin-bottom: 1.5%;
}

