<!DocType HTML>

<HTML Lang = "PT-BR">
    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Title>Sobre - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>      
    </Head>

    <Body>
        <Div>
            <H2>Sobre o site</H2>
            
            <p>
                O <i>SimuNade</i> foi uma iniciativa desenvolvida por 5 estudantes da Fatec Carapicuiba, sendo os estudantes: Diogo, <Br> Éric, Paulo,  
                Raul e Tony, sob orientação dos docentes Jose Luis Barboza Lobianco e Rita de Cassia Felix <Br> para participar no SIMGETEC.
                O <i>SimuNade</i> tem compromisso em auxiliar outros estudantes a se aprimorarem <Br> e prepararem para as provas do Exame Nacional de Desempenho dos Estudantes (ENADE). <Br>
                Oferecendo aos mesmos um simulado da edição do Enade de 2021 de Técnologo em Análise e Desenvolvimento <Br> de Sistemas (ADS). 
            </p>

            <p>
                O site contém 5 páginas principais, para o usuário navegar, dentre elas: 
                Início, Contato, Créditos e Sobre. Ao usuário <Br> solicitar o início do simulado ele irá se deparar com uma página informando
                as principais funcionalidades de <Br> cada botão que se encontra em cada questão do simulado. Além disso, ao final do simulado o usuário será informado <Br>
                sobre seu tempo realizando a prova, questões em branco, acertos e erros. Um breve resumo para dar um norte ao usuário.
            </p>
        </Div>
    </Body>

</HTML>