<!DocType HTML>

<HTML Lang = "PT-BR">
    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
        <Title>Sobre - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/about.css"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 768px)"/>      
    </Head>

    <Body>
        <Header>
            <Div Class = "container">
                <Div Class = "inep_enade">
                    <Div Class = "logo_inep">
                    <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br">    
                        <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
                    </a>
                    </Div>
                    <Span Class = "logo_enade">
                    <b>
                        Enade
                    </b>
                    </Span>
                </Div>
                <Div Class = "menu-section">
                    <Div Class = "menu-toggle">
                    <Div Class = "one"></Div>
                    <Div Class = "two"></Div>
                    <Div Class = "three"></Div>
                    </Div>
                    <Nav>
                        <Ul>
                            <Li>
                            <a Href="Index.html">Início</a>
                            </Li>
                            <Li>
                            <a Href="Credits.html">Créditos</a>
                            </Li>
                            <Li>
                            <a Href="About.html">Sobre</a>
                            </Li>
                        </Ul>
                    </Nav>
                </Div>
            </Div>
        </Header>

        <Main>
            <Div Class = "corpo-pagina">

                <Div Class = "sobre-o-site">
                    <H2>Sobre o site</H2>
                    
                    <p>
                        O <i>SimuNade</i> foi uma iniciativa desenvolvida por 5 estudantes 
                        da Fatec Carapicuiba, sendo os estudantes: Diogo Gabardo Soares, 
                        Éric Vieira de Carvalho, Paulo Felipe Silva Simão,  
                        Raul Mascarenhas Souza e Tony Bryan Espinoza Gutierrez, 
                        sob orientação da docente Msc. Rita de Cassia Felix e coorientação 
                        do docente Msc. Jose Luis Barboza Lobianco  para participar do simpósio
                        do 12° SIMGETEC.
                    </p>

                    <p>
                        O <i>SimuNade</i> tem como objetivo auxiliar os estudantes a se 
                        aprimorarem e se prepararem para as provas do Exame Nacional de 
                        Desempenho dos Estudantes (ENADE). Oferecendo aos mesmos a 
                        possibilidade de aplicar p simulado da edição do Enade de 2021 
                        de Técnologo em Análise e Desenvolvimento de Sistemas (ADS). 
                    </p>

                    <p>
                        Este simulado é voltado para alunos, estudantes ou canditos que se 
                        interessem pelo curso de Tecnólogo em Análise e Desenvolvimento de 
                        Sistemas (ADS)
                    </p>

                    <p>
                        Todas as quesôes utilizadas neste simulado foram obtidas através do 
                        site INEP/ENADE.
                    </p>

                    <p>
                        O site contém 3 páginas principais, para o usuário navegar, dentre elas: 
                        Início, Créditos e Sobre. 
                    </p>

                    <p>
                        Ao usuário inicializar o simulado ele irá se deparar com uma 
                        página informando as principais intruções de funcionalidades de funcionamento 
                        do fluxo do site e funcionalidades de cada objeto que se encontra em cada questão 
                        do simulado.
                    </p>

                    <p>
                        O simulado on-line é composto de 35 questões, contendo 5 alternativas por questão. 
                        O usuário, ao finalizar o simulado, será informado sobre seu tempo realizando a prova, total de 
                        questões que deixou em branco, total de questões que acertos e erros, estas mesmas informações 
                        também estarão disponíveis em formato de gráficos.
                    </p>
                </Div>

                <Div Class = "responsaveis-site">

                    <b>Orientadores/Revisores:</b> 

                    <Br><Br>
                    
                    <b>Orientadora:</b> 

                    <p>Msc. Felix, Rita</p>

                    <Br>

                    <b>Coorientador:</b>

                    <p>Msc. Lobianco, Jose</p>

                    <Br>

                    <b>Revisora:</b>

                    <p>Dra. Damaleno, Helena</p>

                    <Br>

                    <b>Autores do SimuNade:</b>

                    <p>
                        Soares, Diogo<Br>
                        Carvalho, Éric<Br>
                        Simão, Paulo<Br>
                        Souza, Raul<Br>
                        Gutierrez, Tony
                    </p>
                </Div>
        </Main>

        <Footer>
            <Div>
              <p>
                <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
                  Curso de Análise e Desenvolvimento de Sistemas (ADS)
                </a>
              </p>
    
              <Div Class = "fatec_sp_enade">
                <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
                  <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
                </a>
                <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
                  <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
                </a>
                <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
                  <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
                </a>
              </Div>
            </Div>
        </Footer>

        <Script Src = "../../js/menu.js"></Script>
    </Body>

</HTML>