<!DocType HTML> <!-- Colocando o tipo do documento como HTML-->

<HTML Lang = "PT-BR"> <!-- Abrindo a tag 'html' para abrir o html, e colocando como linguagem o português brasileiro-->
    <Head> <!-- Abrindo a "cabeça" do HTML-->
        <Meta CharSet = "UTF-8"/> <!-- Para podermos colocar acarcter especial no HTML-->
        <Meta Name = "Author" Content = "Éric Carvalho"/> <!-- Autor, quem fez o HTML-->
        <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
        <Title>Sobre - SimuNade</Title> <!-- Colocando o titulo do HTML-->
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/> <!-- Colocando o ícone no cabeçalho da página-->
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/> <!-- Linkando o css para o layout da página-->
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/credits.css"/> <!-- Linkando o css da página-->
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 768px)"/> <!-- Linkando o css para a responsividade-->      
    </Head> <!-- Fechando a tag para a "cabeça" do HTML-->

    <Body> <!-- Abrindo a tag 'body' para o corpo do HTML-->
        <Header> <!-- Abrindo a tag Header para fazer o cabeçalho do site-->
            <Div Class = "container"> <!-- Abrindo uma div com a classe "container"-->
                <Div Class = "inep_enade"> <!-- Abrindo uma div com a classe "inep_enade"-->
                    <Div Class = "logo_inep"> <!-- Abrindo uma div com a classe "logo_inep"-->
                    <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br"> <!-- Abrindo uma tag a para fazer um link para a página do inep-->    
                        <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/> <!-- Colocando o logo do inep dentro do link para o site oficial-->
                    </a> <!-- Fechando a tag a -->
                    </Div> <!-- Fechando a div de clsse "logo_inep" -->
                    <Span Class = "logo_enade"> <!-- Abrindo um 'span' com classe "logo_enade"-->
                    <b> <!-- Abrindo a tag 'b' para deixar o for escrito em negrito-->
                        Enade <!-- Escrevendo "Enade" entre a tag 'b', para deixar em negrito-->
                    </b> <!-- Fechando a tag 'b'-->
                    </Span> <!-- Fechando a tag 'span'-->
                </Div> <!-- Fechando a 'div' de classe "inep_enade"-->
                <Div Class = "menu-section"> <!-- Abrindo uma 'div' com classe "meu_section"-->
                    <Div Class = "menu-toggle"> <!-- Abrindo uma 'div' com classe "menu-toggle"-->
                    <Div Class = "one"></Div> <!-- Abrindo e fechando uma 'div' com classe "one"-->
                    <Div Class = "two"></Div> <!-- Abrindo e fechando uma 'div' com classe "two"-->
                    <Div Class = "three"></Div> <!-- Abrindo e fechando uma 'div' com classe "three"-->
                    </Div> <!-- Fechando a 'div' com classe "menu-toggle"-->
                    <Nav> <!-- Abrindo uma tag 'nav', para fazer a navegação entre páginas-->
                        <Ul> <!-- Abrindo a tag 'ul' para fazer uma lista não ordenada-->
                            <Li> <!-- Abrindo a tag 'li' para acrescentar uma linha à lista-->
                            <a Href="Index.html">Início</a> <!-- Abrindo a tag 'a' para fazer um link para a página index.html-->
                            </Li> <!-- Fechando a tag 'li' para informar o fim de um item à lista-->
                            <Li> <!-- Abrindo a tag 'li' para acrescentar uma linha à lista-->
                            <a Href="Credits.html">Créditos</a> <!-- Abrindo a tag 'a' para fazer um link para a página Credits.html-->
                            </Li><!-- Fechando a tag 'li' para informar o fim de um item à lista-->
                            <Li> <!-- Abrindo a tag 'li' para acrescentar uma linha à lista-->
                            <a Href="About.html">Sobre</a> <!-- Abrindo a tag 'a' para fazer um link para a página About.html-->
                            </Li> <!-- Fechando a tag 'li' para informar o fim de um item à lista-->
                        </Ul> <!-- Fechando a tag 'ul' para determinar o fim da lista-->
                    </Nav> <!-- Fechando a tag 'nav'-->
                </Div> <!-- Fechando a 'div' com classe "menu-section"-->
            </Div> <!-- Fechando a 'div' com classe "container"-->
        </Header> <!-- Fechando a tag 'Header' para finalizar o cabeçalho da página-->

        <Main> <!-- Abrindo a tag 'main' para fazer a parte principal do site-->
            <Div Class = "corpo-pagina"> <!-- Abrindo uma 'div' com classe "corpo-pagina"-->
                <Div Class = "creditos-do-site"> <!-- Abrindo uma 'div' com a classe "creditos-do-site"-->
                    <H2>Créditos</H2> <!-- Colocando o texto entre a tag 'h2' para ela se comportar como um titulo-->

                    <b>Prova do Simulado:</b> <!-- Abrindo e fechando a tag 'b' para que o texto entre elas fique em negrito-->

                    <p> <!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
                        A prova original em <i>PDF</i> foi retirado do site do <!-- A tag 'i' deixa o q estiver dentro dela com a fonte itálica-->
                        <!-- Abrindo a tag 'a' para fazer um link para a prova em pdf-->
                        <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
                            Instituto Nacional de Estudos e Pesquisas <Br> Educacionais Anísio Teixeira (INEP) <!-- Inserindo um texto no link--> 
                        </a> <!-- Fechando a tag 'a' para fechar o link-->
                        . Todos os direitos reservados ao 
                        <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br"> <!-- Abrindo a tag 'a' para fazer um link para o site oficial do inep-->
                            INEP <!-- Inserindo um texto no link-->
                        </a> <!-- Fechando a tag 'a' para fechar o link-->
                        e ao 
                        <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/#!/index"> <!-- Abrindo a tag 'a' para fazer um link para o site oficial do eneade-->
                            Exame Nacional de Desempenho dos Estudantes (ENADE). <!-- Inserindo um texto no link-->
                        </a> <!-- Fecando a tag 'a' para fechar o link-->
                    </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->

                    <Br> <!-- Usando a tag 'br' para pular uma linha-->

                    <b> <!-- Abrindo a tag 'b' para deixar o for escrito em negrito-->
                        Fatec Carapicuiba:
                    </b> <!-- Fechando a tag 'b'-->

                    <p> <!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
                        Por ministrar o curso superior de tecnologia em 
                        <!-- Abrindo a tag 'a' para fazer um link para a página do curso de ADS da Fatec-Carapicuíba-->
                        <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/"> 
                            Análise e Desenvolvimento de Sistemas (ADS). <!-- Inserindo um texto no link-->
                        </a> <!-- Fechando a tag 'a' para fechar o link-->
                    </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->
                </Div> <!-- Fechando a 'div' com a classe "creditos-do-site"-->

                <Div Class = "responsaveis-site"> <!-- Abrindo uma 'div' com classe "responsaveis-site"-->

                    <b>Orientadores/Revisores:</b> <!-- Colocando um texto entre a tag 'b', para q ele fiquem em negrito-->

                    <Br><Br> <!-- Usando a tag 'br' para pular linha. No caso cada 'br' pula uma linha, e aquie et´s pulando duas-->
                    
                    <b>Orientadora:</b> <!-- Colocando um texto entre a tag 'b', para q ele fiquem em negrito-->

                    <p>Msc. Felix, Rita</p> <!-- Usando a tag 'p' para colocar em forma de parágrafo o nome da orientadora-->

                    <Br> <!-- Usando a tag 'br' para pular uma linha-->

                    <b>Coorientador:</b> <!-- Colocando um texto entre a tag 'b', para q ele fiquem em negrito-->

                    <p>Msc. Lobianco, Jose</p> <!-- Usando a tag 'p' para colocar em forma de parágrafo o nome do coorientador-->

                    <Br> <!-- Usando a tag 'br' para pular uma linha-->

                    <b>Revisora:</b> <!-- Colocando um texto entre a tag 'b', para q ele fiquem em negrito-->

                    <p>Dra. Damaleno, Helena</p> <!-- Usando a tag 'p' para colocar em forma de parágrafo o nome da revisora-->

                    <Br> <!-- Usando a tag 'br' para pular uma linha-->

                    <b>Autores do SimuNade:</b> <!-- Colocando um texto entre a tag 'b', para q ele fiquem em negrito-->

                    <p> <!-- Abrindo a tag 'p' para colocar em um único parágrafo o nome dos autores do site-->
                        Soares, Diogo<Br> <!-- Usando a tag 'br' para pular uma linha depois do nome-->
                        Carvalho, Éric<Br> <!-- Usando a tag 'br' para pular uma linha depois do nome-->
                        Simão, Paulo<Br> <!-- Usando a tag 'br' para pular uma linha depois do nome-->
                        Souza, Raul<Br> <!-- Usando a tag 'br' para pular uma linha depois do nome-->
                        Gutierrez, Tony
                    </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->

                    <p> <!-- Abrindo a tag 'p' para fazer um paragrafo-->
                        Alunos do 1º semestre cursando a disciplina de Programação em Microinformática (PMI).
                    </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->
                </Div> <!-- Fechando a 'div' com a classe "responsaveis-site"-->
            </Div> <!-- Fechando a 'div' com a classe "corpo-pagina"-->
        </Main> <!-- Fechando a tag 'main'-->

        <Footer> <!-- Abrindo a tag 'footer' para fazer o rodapé da página-->
            <Div> <!-- Abrindo uma 'div'-->
              <p> <!-- Abrindo a tag 'p' para fazer um paragrafo-->
                <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/"> <!-- Abrindo a tag 'a' para fazer um link para a página do curso de ADS da Fatec-Carapicuíba-->
                  Curso de Análise e Desenvolvimento de Sistemas (ADS) <!-- Colocando um texto para o link-->
                </a> <!-- Fechando a tag 'a' para fechar o link-->
              </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->
    
              <Div Class = "fatec_sp_enade"> <!-- Abrindo uma 'div' com a classe "fatec_sp_enade"-->
                <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br"> <!-- Abrindo a tag 'a' para fazer um link para a página da Fatec-Carapicuíba-->
                  <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> <!-- Usando a tag 'img' para colocar a imagem do logo da Fatec-Carapicuíba-->
                </a> <!-- Fechando a tag 'a' para fechar o link-->
                <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/"> <!-- Abrindo a tag 'a' para fazer um link para a página do Governo Estadual de São Paulo-->
                  <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> <!-- Usando a tag 'img' para colocar a imagem do logo do Estado de São Paulo-->
                </a> <!-- Fechando a tag 'a' para fechar o link-->
                <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/"> <!-- Abrindo a tag 'a' para fazer um link para a página do Centro Paula Souza-->
                  <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> <!-- Usando a tag 'img' para colocar a imagem do logo do Centro Paula Souza-->
                </a> <!-- Fechando a tag 'a' para fechar o link-->
              </Div> <!--Fechando a 'div' com a classe "fatec_sp_enade"-->
            </Div> <!-- Fechando a 'div'-->
        </Footer> <!-- Fechando a tag 'footer' para finalizar o rodapé-->

        <Script Src = "../../js/menu.js"></Script> <!--Linkando o JavaScript-->
    </Body> <!-- Fechando a tag 'body', para finalizar o corpo do HTML-->

</HTML> <!-- Fechando a tag 'html' para finalizar o HTML-->