<!DocType HTML>

<HTML Lang = "PT-BR">
    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Title>Créditos - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>
        <H2>Créditos</H2>
        <p>
            <b>
                Prova do Simulado: <Br>
            </b>
            Documento retirado do 
            <a Href = "">
                Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira (INEP) 
            </a>
            . Todos os direitos reservados ao INEP.
        </p>
    </Body>

</HTML>