<!DocType HTML>

<HTML Lang = "PT-BR">
    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Meta Name = "KeyWord" Content = "Enade, Simulado, Enade ADS, Analise e Desenvolvimento de Sistemas"/>
        <Title>Início - SimuNade</Title>
        <Link Rel = "Icon" href ="http://enade.inep.gov.br/enade/favicon.ico"/>
        <Link Rel="Stylesheet" type="Text/Css" href="../../css/layout.css">
    </Head>

    <Body>
        <Header>
            <Nav>
                <Div Class = "logo_inep">
                    <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">
                        <Img Src = "../../Images/Principal/ofc_logo_inep.svg"/>
                    </a>  
                </Div>
                
                <Div Class = "logo_enade">
                    <b>Enade</b>
                </Div>
                
                <Ul Class = "nav-list">
                    <Li><a Href = "../../Views/Principal/Index.html">Início</a></Li>
                    <Li><a Href = "../../Views/Principal/Credits.html">Créditos</a></Li>
                    <Li><a Href = "#">Contato</a></Li>
                    <Li><a Href = "../../Views/Principal/About.html">Sobre</a></Li>
                </Ul>
            </Nav>
        </Header>

            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/#!/index">
                <Img Src = "../../Images/Principal/ofc_logo_enade.png"/>
            </a>
    
            <Div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/avJZ2mtFljc" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </Div>

            <Div>

                <H3>Você sabe o que é o Enade?</H3>
    
                <p>Breve explicação.</p>

            </Div>

            <H2>Simulado Enade - Análise e Desenvolvimento de Sistemas (2021)</H2>
    
            <p>Fonte:
                <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade">
                    https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade
                </a>
            </p>

            <a Href = "#">
                <Input Type = "Button" Value = "Iniciar simulado"/>
            </a>
    
            <H3>Confira a prova do Enade do ano de 2021</H3>
    
            <p>Prova de tecnologia análise e desenvolvimento de sistemas (ADS):
                <a Target = "_Blank" Href = "#">
                    Gabarito
                </a>
            </p>
    
            <p>Gabarito da prova de tecnologia análise e desenvolvimento de sistemas (ADS):
                <a Target = "_Blank" Href = "#">
                    Prova
                </a>
            </p>
            
        <Footer >
            <p align = "center">
                <a Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
                    Técnologo em Análise e Desenvolvimento de Sistemas (ADS)
                </a>
            </p>

            <br>

            <p align = "center">
                <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
                    <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
                </a>
                |
                <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
                    <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
                </a>
                |
                <a>
                    <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
                </a>
            </p>
        </Footer>
    </Body>

</HTML>