<!DocType HTML>

    <HTML Lang = "PT-BR">
    <Head>
        <Meta CharSet = "UTF-8"/>
        <Title>Início - Enade</Title>
        <Link Rel = "Icon" href ="http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>
        <Header>
            <!--Style da Tag "Img" inicialmente apenas para vizualização-->
            <p>
                <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">
                    <Img Style="padding: 3px; background-color: rgb(255, 136, 0);" Src = "Images/ofc_logo_inep.svg"/>
                </a>
                Enade
            </p>
        </Header>

        <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/#!/index">
            <Img Src = "Images/logo.png"/>
        </a>

        <H2>Simulado Enade - Análise e Desenvolvimento de Sistemas (2021)</H2>

        <a Href = "#">
            <Input Type = "Button" Value = "Iniciar simulado"/>
        </a>

        <H3>Você sabe o que é o Enade?</H3>

        <p>Breve explicação.</p>

        <p>Fonte:
            <!-- 
                Caso você retirar o underline do blank ele vai abrir outros links na mesma guia já aberta.
            -->

            <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade">
                https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade
            </a>
        </p>

        <H3>Confira a prova do Enade do ano de 2021</H3>

        <p>Prova de tecnologia análise e desenvolvimento de sistemas (ADS):
            <a Target = "_Blank" Href = "#">
                Gabarito
            </a>
        </p>

        <p>Gabarito da prova de tecnologia análise e desenvolvimento de sistemas (ADS):
            <a Target = "_Blank" Href = "#">
                Prova
            </a>
        </p>

        <Input Type = "Button" Value = "Créditos"/>
        <Input Type = "Button" Value = "Sobre"/>

        <Footer>
            <p>
                As informações das provas do Enade, bem como outras informações, foram obtidas através do site do
                <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade">
                    INEP 
                </a>
                e
                <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/#!/index">
                    Enade
                </a>
            </p>
            <p>
                <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
                    Fatec Carapicuiba
                </a>
                |
                <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
                    Análise e Desenvolvimento de Sistemas (ADS)
                </a>
            </p>
        </Footer>
    </Body>

</HTML>