<!DocType HTML> <!-- Colocando o tipo do documento como HTML-->

<HTML Lang = "PT-BR"> <!-- Abrindo a tag 'html' para abrir o html, e colocando como linguagem o português brasileiro-->
    <Head> <!-- Abrindo a "cabeça" do HTML-->
        <Meta CharSet = "UTF-8"/> <!-- Para podermos colocar acarcter especial no HTML-->
        <Meta Name = "Author" Content = "Éric Carvalho"/> <!-- Autor, quem fez o HTML-->
        <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
        <Title>Sobre - SimuNade</Title> <!-- Colocando o titulo do HTML-->
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/> <!-- Colocando o ícone no cabeçalho da página-->
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/> <!-- Linkando o css para o layout da página-->
      <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/index.css"/> <!-- Linkando o css da página-->
      <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 1440px)"/> <!-- Linkando o css para a responsividade-->      
    </Head> <!-- Fechando a tag para a "cabeça" do HTML-->

    <Body> <!-- Abrindo a tag 'body' para o corpo do HTML-->
      <Header> <!-- Abrindo a tag Header para fazer o cabeçalho do site-->
          <Div Class = "container"> <!-- Abrindo uma div com a classe "container"-->
              <Div Class = "inep_enade"> <!-- Abrindo uma div com a classe "inep_enade"-->
                  <Div Class = "logo_inep"> <!-- Abrindo uma div com a classe "logo_inep"-->
                  <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br"> <!-- Abrindo uma tag a para fazer um link para a página do inep-->    
                      <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/> <!-- Colocando o logo do inep dentro do link para o site oficial-->
                  </a> <!-- Fechando a tag a -->
                  </Div> <!-- Fechando a div de clsse "logo_inep" -->
                  <Span Class = "logo_enade"> <!-- Abrindo um 'span' com classe "logo_enade"-->
                  <b> <!-- Abrindo a tag 'b' para deixar o for escrito em negrito-->
                      Enade <!-- Escrevendo "Enade" entre a tag 'b', para deixar em negrito-->
                  </b> <!-- Fechando a tag 'b'-->
                  </Span> <!-- Fechando a tag 'span'-->
              </Div> <!-- Fechando a 'div' de classe "inep_enade"-->
              <Div Class = "menu-section"> <!-- Abrindo uma 'div' com classe "meu_section"-->
                  <Div Class = "menu-toggle"> <!-- Abrindo uma 'div' com classe "menu-toggle"-->
                  <Div Class = "one"></Div> <!-- Abrindo e fechando uma 'div' com classe "one"-->
                  <Div Class = "two"></Div> <!-- Abrindo e fechando uma 'div' com classe "two"-->
                  <Div Class = "three"></Div> <!-- Abrindo e fechando uma 'div' com classe "three"-->
                  </Div> <!-- Fechando a 'div' com classe "menu-toggle"-->
                  <Nav> <!-- Abrindo uma tag 'nav', para fazer a navegação entre páginas-->
                      <Ul> <!-- Abrindo a tag 'ul' para fazer uma lista não ordenada-->
                          <Li> <!-- Abrindo a tag 'li' para acrescentar uma linha à lista-->
                          <a Href="Index.html">Início</a> <!-- Abrindo a tag 'a' para fazer um link para a página index.html-->
                          </Li> <!-- Fechando a tag 'li' para informar o fim de um item à lista-->
                          <Li> <!-- Abrindo a tag 'li' para acrescentar uma linha à lista-->
                          <a Href="Credits.html">Créditos</a> <!-- Abrindo a tag 'a' para fazer um link para a página Credits.html-->
                          </Li><!-- Fechando a tag 'li' para informar o fim de um item à lista-->
                          <Li> <!-- Abrindo a tag 'li' para acrescentar uma linha à lista-->
                          <a Href="About.html">Sobre</a> <!-- Abrindo a tag 'a' para fazer um link para a página About.html-->
                          </Li> <!-- Fechando a tag 'li' para informar o fim de um item à lista-->
                      </Ul> <!-- Fechando a tag 'ul' para determinar o fim da lista-->
                  </Nav> <!-- Fechando a tag 'nav'-->
              </Div> <!-- Fechando a 'div' com classe "menu-section"-->
          </Div> <!-- Fechando a 'div' com classe "container"-->
      </Header> <!-- Fechando a tag 'Header' para finalizar o cabeçalho da página-->

      <Main> <!-- Abrindo a tag 'main' para fazer a parte principal do site-->
        <Div Class = "corpo-pagina"> <!-- Abrindo uma 'div' com a classe "corpo-pagina"-->
          <Div Class = "info-enade"> <!-- Abrindo uma 'div' com a classe "info-enade"-->
            <Section class="cards"> <!-- Abrindo uma tag 'section' com a classe "cards"-->
              <Div class="card"> <!-- Abrindo uma 'div' com a classe "card"-->
                <Picture Class = "image" Alt = "Imagem do video"> <!-- Abrindo a tag 'picture' para colocar as fotos em diferentes tamanhos-->
                  <Source Media = "(min-width: 768px)" SrcSet = "https://i.ytimg.com/vi/avJZ2mtFljc/maxresdefault.jpg"/> <!-- Foto maior-->
                  <Source Media = "(min-width: 320px)" SrcSet = "https://i.ytimg.com/vi/avJZ2mtFljc/hqdefault.jpg"/> <!-- Foto média-->
                  <Source Media = "(min-width: 10px)" SrcSet = "https://i.ytimg.com/vi/avJZ2mtFljc/mqdefault.jpg"/> <!-- Foto menor-->
  
                  <Img src="https://i.ytimg.com/vi/avJZ2mtFljc/hqdefault.jpg" /> <!-- Usando a tag 'img' para inserir a imagem-->
                </Picture> <!-- Fechando a tag 'picture'-->
                <Div class="content"> <!-- Abrindo uma 'div' com a classe "content"-->
                  <Div Class = "info"> <!-- Abrindo uma 'div' com a classe "info"-->
                    <p Class = "text--medium">Duração do video</p> <!-- Usando a tag 'p' com a classe "Text--medium" para fazer um parágrafo -->
                  </Div> <!-- Fechando a 'div' com a classe "info"-->
                </Div> <!-- Fechando a 'div' com a classe "content"-->
              </Div> <!-- Fechando a 'div' com a classe "card"-->
            </Section> <!-- Fechando a tag 'section' com a classe "cards"-->
            <Div Class = "fonte-video"> <!-- Abrindo uma 'div' com a classe "fonte-video"-->
              <Blockquote> <!-- Abrindo a tag 'blockquote' para fazer uma citação-->
                  <i> <!-- Abrindo a tag 'i' para que o texto que estiver nela fique com a fonte itálica-->
                      Fonte: 
                      <a Target = "_Blank" Href = "https://www.youtube.com/watch?v=avJZ2mtFljc"> <!-- Abrindo a tag 'a' para fazer um link para o vídeo no youtube-->
                        https://www.youtube.com/watch?v=avJZ2mtFljc/ <!-- Inserindo um texto para o link-->
                      </a> <!-- Fechando a tag 'a' para fechar o link-->
                  </i> <!-- Fechando a tag 'i'-->
              </Blockquote> <!-- Fechando a tag 'blockquote'-->
            </Div> <!-- Fechando a 'div' com a classe "fonte-video"-->
          </Div> <!-- Fechando a 'div' com a classe "info-enade"-->
  
          <Div Class = "modal-overlay"> <!-- Abrindo uma 'div' com a classe "modal-overlay"-->
            <Div Class = "modal"> <!-- Abrindo uma 'div' com a classe "modal"-->
              <a class="close-modal"> <!-- Abrindo a tag 'a' com a classe "close-modal"-->
                <svg viewBox="0 0 20 20"> <!-- Abrindo a tag 'svg'-->
                  <path 
                    fill="#000000"
                    d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"
                  ></path> <!-- Abrindo e fechando a tag 'path'-->
                </svg> <!-- Fechando a tag 'svg'-->
              </a> <!-- Fechando a tag 'a' com a classe "close-modal"-->
              <Div class="modal-content"> <!-- Abrindo uma 'div' com a classe "modal-content"-->
                <Div class="video-background"> <!-- Abrindo uma 'div' com a classe "video-background"-->
                  <Div class="video-foreground"> <!-- Abrindo uma 'div' com a classe "video-foreground"-->
                    <Iframe Src = "link-do-video" Frameborder = "0" AllowFullScreen></Iframe> <!-- Abrindo e fechando a tag 'iframe'-->
                  </Div> <!-- Fechando a 'div' com classe "video-foreground"-->
                </Div> <!-- Fechando a 'div' com classe "video-background"-->
              </Div> <!-- Fechando a 'div' com classe "modal-content"-->
            </Div> <!-- Fechando a 'div' com classe "modal"-->
          </Div> <!-- Fechando a 'div' com classe "modal-overlay"-->
  
          <Div> <!-- Abrindo uma 'div'-->
            <Div> <!-- Abrindo uma 'div'-->
                <H3 Class = "voce-enade">Você sabe o que é o Enade?</H3> <!-- Colocando um texto entre as tags 'h3' para ele ficar em formato de título-->
            </Div> <!-- Fechando a 'div'-->
          </Div> <!-- Fechando a 'div'-->
  
          <Div Class = "sobre-o-enade"> <!-- Abrindo uma 'div' com a classe "sobre-o-enade"-->
            <p> <!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
              "O Exame Nacional de Desempenho dos Estudantes (Enade) avalia o rendimento dos
              concluintes dos cursos de graduação em relação aos conteúdos programáticos
              previstos nas diretrizes curriculares dos cursos,o desenvolvimento de competências e  
              habilidades necessárias ao aprofundamento da formação geral e profissional, e o nível 
              de atualização dos estudantes com relação à realidade brasileira e mundial.
            </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->
  
            <p> <!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
              Aplicado pelo Inep desde 2004, o Enade integra o Sistema Nacional de Avaliação da
              Educação Superior (Sinaes), composto também pela Avaliação de cursos de graduação
              e pela Avaliação institucional. Juntos eles formam o tripé avaliativo que permite
              conhecer a qualidade dos cursos e instituições de educação superior brasileiras. Os
              resultados do Enade, aliados às respostas do Questionário do Estudante, são insumos
              para o cálculo dos Indicadores de Qualidade da Educação Superior.
            </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->
  
            <p> <!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
              A inscrição é obrigatória para estudantes ingressantes e concluintes habilitados de
              cursos de bacharelado e superiores de tecnologia vinculados às áreas de avaliação da
              edição. A situação de regularidade do estudante é registrada no histórico escolar.
            </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->
  
            <p> <!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
              O Ciclo Avaliativo do Enade determina as áreas de avaliação e os cursos a elas
              vinculados. As áreas de conhecimento para os cursos de bacharelado e licenciatura
              derivam da tabela de áreas do conhecimento divulgada pelo Conselho Nacional de 
              Desenvolvimento Científico e Tecnológico (CNPq). Já os eixos tecnológicos são baseados  
              no Catálogo Nacional de Cursos Superiores de Tecnologia (CNCST), do Ministério da Educação."
            </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->
  
            <p Class = "fonte-sobre-o-enade">Fonte: <!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
              <!-- Abrindo a tag 'a' para fazer um link para o site do enade-->
              <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade">
                https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade <!-- Colocando um texto para o link-->
              </a> <!-- Fechando a tag 'a' para fechar o link-->
            </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->
          </Div> <!-- Fechando a 'div' com a classe "sobre-o-enade"-->
      
          <Div Class = "acesso-ao-simulado"> <!-- Abrindo uma 'div' com a classe "acesso-ao-simulado"-->
            <H2>Simulado Enade - Análise e Desenvolvimento de Sistemas (2021)</H2> <!-- Colocando um texto entre as tags 'h2' para o texto tomar forma de título-->
      
            <a Href = "../Perguntas/Instrucoes.html"> <!-- Abrindo a tag 'a' para fazer um link para a página de instruções do simulado-->
              <Input Type = "Button" Class = "button-nav" Value = "Iniciar simulado"/> <!-- Colocando um input de botão para acionar o link da tag 'a'-->
            </a> <!-- Fechando a tag 'a' para fechar o link-->
          </Div> <!-- Fechando a 'div' com a classe "acesso-ao-simulado"-->

          <Div Class = "acesso-prova-gabarito"> <!-- Abrindo uma 'div' com a classe "acesso-prova-gabarito"-->
            <!-- Colocando um texto entre as tags 'h3' para ele ficar em formato de título-->
            <H3>Confira a prova de Técnologo em Análise e Desenvolvimento de Sistemas (ADS) do Enade do ano de 2021</H3>
            <!-- Usando a tag 'p' para fazer um parágrafo. E a tag 'i' para que o texto que estiver dentro dela fiquem em itálico-->
              <p>Utilize os botões abaixo para acessar as prova e o gabarito, ambos originais, em formato de <i>PDF</i>.</p>
              <!-- Abrindo a tag 'a' para fazer um link para o gabarito oficial da prova em formato de pdf-->
              <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_GB_tecnologia_analise_desenvolvimento_sistemas.pdf">
                <Input Type = "Button" Class = "button-nav" Value = "Gabarito"/> <!-- Colocando um input de botão para acionar o link da tag 'a'-->
              </a> <!-- Fechando a tag 'a' para fechar o link-->
              <!-- Abrindo a tag 'a' para fazer um link para a prova oficial em formato de pdf-->
              <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
                <Input Type = "Button" Class = "button-nav" Value = "Prova"/><!-- Colocando um input de botão para acionar o link da tag 'a'-->
              </a> <!-- Fechando a tag 'a' para fechar o link-->
          </Div> <!-- Fechando a 'div' com a classe "acesso-prova-gabarito"-->
        </Div> <!-- Fechando a 'div' com a classe "corpo-pagina"-->
      </Main> <!-- Fechando a tag 'main'-->     

      <Footer> <!-- Abrindo a tag 'footer' para fazer o rodapé da página-->
        <Div> <!-- Abrindo uma 'div'-->
          <p> <!-- Abrindo a tag 'p' para fazer um paragrafo-->
            <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/"> <!-- Abrindo a tag 'a' para fazer um link para a página do curso de ADS da Fatec-Carapicuíba-->
              Curso de Análise e Desenvolvimento de Sistemas (ADS) <!-- Colocando um texto para o link-->
            </a> <!-- Fechando a tag 'a' para fechar o link-->
          </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->

          <Div Class = "fatec_sp_enade"> <!-- Abrindo uma 'div' com a classe "fatec_sp_enade"-->
            <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br"> <!-- Abrindo a tag 'a' para fazer um link para a página da Fatec-Carapicuíba-->
              <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> <!-- Usando a tag 'img' para colocar a imagem do logo da Fatec-Carapicuíba-->
            </a> <!-- Fechando a tag 'a' para fechar o link-->
            <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/"> <!-- Abrindo a tag 'a' para fazer um link para a página do Governo Estadual de São Paulo-->
              <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> <!-- Usando a tag 'img' para colocar a imagem do logo do Estado de São Paulo-->
            </a> <!-- Fechando a tag 'a' para fechar o link-->
            <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/"> <!-- Abrindo a tag 'a' para fazer um link para a página do Centro Paula Souza-->
              <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> <!-- Usando a tag 'img' para colocar a imagem do logo do Centro Paula Souza-->
            </a> <!-- Fechando a tag 'a' para fechar o link-->
          </Div> <!--Fechando a 'div' com a classe "fatec_sp_enade"-->
        </Div> <!-- Fechando a 'div'-->
    </Footer> <!-- Fechando a tag 'footer' para finalizar o rodapé-->

    <Script Src = "../../js/menu.js"></Script> <!--Linkando o JavaScript-->
    <Script Src = "../../js/video.js"></Script> <!--Linkando o JavaScript para o funcionamento do vídeo-->

  </Body> <!-- Fechando a tag 'body', para finalizar o corpo do HTML-->

</HTML> <!-- Fechando a tag 'html' para finalizar o HTML-->