<!DOCTYPE html>

<HTML lang="PT-BR">
  <Head>
    <Meta CharSet = "UTF-8">
    <Meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <Meta Name = "viewport" Content = "width=device-width, initial-scale=1.0">
      <!-- 
          Definindo o título do documento, mostrado na barra 
          de título de um navegador ou na aba da página. 
      -->
    <Title>Progresso</Title> 
      <!-- 
          Criando links entre o documento e os recursos do css utilizando o elemento "<link>". 
      -->
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/evolucao-usuario.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 1440px)"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/evolucao-usuario.css"/>
    <Link Rel = "StyleSheet" Href = "../../css/print.css" Media = "print"/>
  </Head>

  <Body>
    <Header>
      <!-- Agrupando elementos para fins de estilos com o div class. -->
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
          <!-- Definindo um hyperlink para a página do inep  -->
            <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br">   
              <!-- Adicionando uma imagem para o logo do inep --> 
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>

          <!-- Utilizando a classe logo_enade e o elemento <b> para o logo do enade -->
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <!-- Usando o elemento "<div>" para o menu do site mobile -->
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <!-- Criando uma sessão com links para outras páginas com listas, utilizando o elemento "<nav>" -->
          <Nav>
            <Ul>
            <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
            </Li>
            <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
            </Li>
            <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
            </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>
    
    <!-- Criando o corpo da página. -->
    <Main>
      <Div Class = "corpo-pagina">  
    <!-- Utilizando um elemento de cabeçalho com "<h3>".-->
		<Div Class = "info-evolucao-usuario">
			<H3>Sua evolução pessoal quanto ao simulado.</H3>
		
      <!-- Criando um parágrafo com uma classe para o css e um id para o javascript. -->
			<p Class = "mensagem-evolucao-usuario" Id = "evolucao-usuario">
			  Acompanhe nessa página a sua evolução pessoal, desde seu primeiro simulado até agora. <br>
			  No gráfico abaixo voce vai ser informado sobre <b>Total de perguntas respondidas</b>, 
			  <b>Total de <br>acertos</b>, <b>Total de erros</b>, <b>Acertos em %</b> e
			  <b>Total de perguntas não respondidas</b>.  
			</p>
		</Div>
		
        <!-- Utilizando uma div para separar os gráficos e aling center para centralizar -->
        <Div Class = "graficos" Align = "center">
          <!-- Utilizando o elemento canvas que provê maneiras de desenhar gráficos. -->
          <canvas Class = "grafico-evolucao" Id = 'grafico-evolucao'></canvas>
        </Div>
        
        <!-- Criando botões para ficarem no final da página.-->
        <Div Class = "buttons-nav">
          <!-- Utilizando o elemento "<a>" para criar um hyperlink para o resultado-->
          <a Href = "Resultado.html">
            <!-- Criando um botão com o elemento input e usando value para adicionar o que está escrito no botão. -->
            <Input Type = "Button" Class = "button-nav" Value = "Voltar"/>
          </a>
          <!-- Utilizando o elemento "<a>" para criar um hyperlink para o index-->
          <a Href = "../Principal/Index.html">
            <!-- Criando um botão com o elemento input e usando value para adicionar o que está escrito no botão. -->
            <Input Type = "Button" Class = "button-nav" Value = "Sair"/>
          </a>
          <!-- Botão para baixar o progresso, com o "OnClick" é possível imprimir para pdf. -->
          <Input Type = "Button" Class = "button-nav" Value = "Baixar progresso" OnClick = "imprimirEvolucao()"/>
        </Div>
      </Div>
    </Main>

    <!--
      O elemento HTML de Rodapé (<footer>) representa um rodapé
      para o seu sectioning content (conteúdo de seção) mais próximo
    -->
    <Footer>
      <Div>
        <!-- 
            Criando um  parágrafo com um hyperlink para o site da fatec, ele
            ficará na parte de baixo da página.
         -->
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>

        <!-- Div criada para os ícones interativos na parte de baixo da página. -->
        <Div Class = "fatec_sp_enade">
           <!-- Utilizando o elemento "<a>" para criar um hyperlink para o site da fatec. -->
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <!-- Utilizando o elemento "<img>" para adicionar uma imagem. -->
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <!-- Utilizando o elemento "<a>" para criar um hyperlink para o site do governo de São Paulo. -->
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <!-- Utilizando o elemento "<img>" para adicionar uma imagem. --> 
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/>
          </a>
          <!-- Utilizando o elemento "<a>" para criar um hyperlink para o site do CPS. -->
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <!-- Utilizando o elemento "<img>" para adicionar uma imagem. --> 
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <!-- O elemento "<script>" é usado para incluir ou referenciar um script executável. -->
    <Script src="https://cdn.jsdelivr.net/npm/chart.js"></Script>
    <Script Src = "../../js/evolucao-usuario.js"></Script>
    <Script Src = "../../js/menu.js"></Script>
  </Body>
</HTML>