<!DocType HTML>

<HTML Lang = "PT-BR">
  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Éric Carvalho"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Instruções - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/instructions.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 768px)"/>
  </Head>

  <Body>
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "corpo-pagina">   
        <Div Class = "instrucoes-simulado">      
          <Div Class = "intrucoes-principais">
            <H2>Instruções</H2>

            <p>
              Olá! Abaixo confira as intruções do Simulado. Após a leitura, 
              você pode clicar no botão <b>Iniciar simulado</b>. Que o levará a 
              primeira questão da prova.
            </p>

            <p>
              O simulado consiste em 35 questões objetivas, com 5 opções de 
              resposta, de A a E. Com duração livre.
            </p>
        
            <p>
              Para responder as questões você deve selecionar uma das alternativa e clicar no botão 
              <b>Corrigir</b> (que se encontra no canto inferior esquerdo) para vizualizar a resposta 
              correta, você ira visualizar a resposta correta por meio de um pop-up/janela, informando 
              se a alternativa escolhida está certa, ou errada e, qual a resposta correta. Além disso
              é válido ressaltar que para sair do pop-up/janela, basta clicar no "X".
            </p>

            <p> 
              Você também pode clicar nos botões de navegação, que se encontram na parte superior e 
              central. Ao clicar em algum deles, você será redirecionado para uma das 5 opções 
              que escolher.
            </p>

            <p>
              Para exibir todas as questões da prova, basta clicar no botão <b>Revisar</b>, 
              que se encontra entre os botões de <b>Finalizar</b> e <B>Corrigir</b> e, será exibido
              um pop-up/janela com todas as questões para navegação.
            </p>

            <Img Class = "imagem-informativa" Src="../../Images/Perguntas/Instrucoes/instrucoes.png" Alt="Demonstração das funcionalidades" Height = "400" width="800"/>

            <p>
              Todas as respostas objetivas serão contabilizadas, assim que você clicar no 
              botão <b>FINALIZAR</b>, este se encontra no canto inferior esquerdo.
              Ou seja, será apresentado a quantidade total de acertos e erros. 
              Obs.: Caso tenha alguma questão em branco, a mesma será contabilzada como ERRADA.
            </p>
          </Div>
        </Div>
        <Div Class = "intrucoes-finais">
          <H2>BOA SORTE!</h2>

          <a href="../../Views/Perguntas/Q1AE_EQ8.html">
            <Input Type = "button" Class = "button-nav" Value = "Iniciar simulado">
          </a>
        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>

        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/menu.js"></Script>
  </Body>

</HTML>