<!DocType HTML>

<HTML Lang = "PT-BR">
    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Title>Instruções</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <H2>Instruções</H2>
        </Div>

        <p>
            Olá! Abaixo confira as intruções do Simulado. Após a leitura, 
            você pode clicar no botão <b>Iniciar simulado</b>. Que te levará a primeira questão.
        </p>

        <p>
            O simulado consiste em 35 questões objetivas, com 5 opções de 
            resposta, de A a E. Com duração total de 4 horas.
        </p>
    
        <p>
            Nas questões você deve selecionar a alternativa que acredita estar correta 
            e após ter certeza, pode clicar no botão <b>Corrigir</b>, que se encontra no canto superior esquerdo. 
            Após isso aparecerá um pop-up informando se a alternativa escolhida está certa, ou errada, 
            e qual a resposta certa.
        </p>

        <p> 
            Você também pode clicar no botão <b>Próxima</b>, 
            que se encontra na parte inferior direita. Ao clicar nele será 
            apresentado a pergunta sucessora. O processo inverso ocorre quando
            você clica no botão <b>Voltar</b>.
        </p>

        <Img Id="imagemInformativa" Src="#" Alt="Demonstração das funcionalidades"/>

        <p>
            Todas as respostas objetivas serão contabilizadas, assim que você clicar no botão <b>FINALIZAR</b>.
             E será mostrado a quantidade de acertos e erros. Obs.: Caso tenha alguma questão em branco, a mesma 
             será contabilzada como ERRADA.
        </p>

        <h2>BOA SORTE!</h2>

        <Div>
            <a href="../../Views/Principal/Q1E_EQ8.html">
                <button>Iniciar simulado</button>
            </a>
        </Div>

    </Body>

</HTML>