
<!DOCTYPE html>

<html Lang = "PT-BR">
	
	<head>
		<Meta CharSet = "UTF-8"/>
		<Meta Name = "Author" Content = "Raul Mascarenhas"/>
		<Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
		<Title>Questão 12 - SimuNade</Title>
		<Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
        <Link Rel = "Script" Href = "../../js/perguntas.js"/>
	</head>

	<body>
		<div class = "corpo-pergunta">
			<b>
				<a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
                    Questão 12
                </a>   
			</b>
		</div>

		<div class = "corpo-pergunta">

			<Div Class = "nav-pergunta">
                <a Href = ""><</a>
                <a Href = "">11</a>
                <a Class = "pergunta-selecionada" Href = "">12</a>
                <a Href = "">13</a>
                <a Href = "">></a>
            </Div>

            <div class = "texto-pergunta">
				<p>
					Uma fábrica de software está realizando entrevistas para  contração  de  um  profissional  que  esteja<br>alinhado às exigências do atual mundo corporativo. Sabe-se que processos ágeis de desenvolvimento<br>têm se tornado essenciais para empresas que desejam realizar entregas rápidas e frequentes de produtos<br>e/ou serviços de software. Essa empresa possui uma equipe de desenvolvimento que faz uso de processos<br>ágeis como o Scrum e eXtreme Programming (XP) e o acompanhamento por meio do quadro Kanban.<br> Sendo assim, um conjunto de características deve ser verificado durante a entrevista para garantir que o<br> candidato a ser contratado possua conhecimentos necessários para atuar juntamente a esta equipe.<br><br>
				</p>

				<p>
					Com base no texto e nos processos ágeis de desenvolvimento de software, avalie as afirmações a seguir.
				</p>
			</div>

			<div class = "enunciado-pergunta">
				<ol type="I">
					<li>
						Métodos  Ágeis  são  baseados  em  ciclos iterativo e incremental que se concentram no desenvolvimento<br> rápido e na flexibilidade às mudanças, com a participação do cliente no processo de software.
					</li>
					<li>
						Uma forte característica da XP é a garantia da qualidade do código produzido e, para isso, os<br> desenvolvedores produzem testes automatizados  antes  mesmo  de  codificar uma funcionalidade.
					</li>
					<li>
						O planejamento no Scrum é baseado na elaboração dos itens do product  backlog, que é uma lista de<br> funcionalidades desejadas pelo  cliente,  sendo  o  Scrum  Master  o responsável por gerenciá-lo.
					</li>
					<li>
						O  quadro  Kanban  permite  monitorar  a evolução  das  tarefas  necessárias  durante o  processo  ágil  de<br>  desenvolvimento de   software,   possibilitando   um acompanhamento  de  forma  visual  das atividades em construção.
					</li>
				</ol>

                <p>
					É correto apenas o que se afirma em
				</p>
			</div>

			<div class = "alternativas-pergunta">
				<span><Input Type = "Radio" Name = "Q12" Value = "A"/> A) II. </span>
				<span><Input Type = "Radio" Name = "Q12" Value = "B"/> B) I e III. </span>
				<span><Input Type = "Radio" Name = "Q12" Value = "C" Id = "alt-correta"/> C) I, II e IV. </span>
				<span><Input Type = "Radio" Name = "Q12" Value = "D"/> D) I, III e IV. </span>
				<span><Input Type = "Radio" Name = "Q12" Value = "E"/> E) II, III e IV. </span>
			</div>
		</div>
	</body>
</html>