<!DOCTYPE html>

<html Lang = "PT-BR">
	
	<head>
		<Meta CharSet = "UTF-8"/>
		<Meta Name = "Author" Content = "Raul Mascarenhas"/>
		<Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
		<Title>Questão 13 - SimuNade</Title>
		<Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
		<Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
		<Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
		<Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
	</head>

	<body Id = "Q13">
		<Header>
            <Div Class = "container">
              <Div Class = "inep_enade">
                <Div Class = "logo_inep">
                  <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
                    <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
                  </a>
                </Div>
                <Span Class = "logo_enade">
                  <b>
                    Enade
                  </b>
                </Span>
              </Div>
              <Div Class = "menu-section">
                <Div Class = "menu-toggle">
                  <Div Class = "one"></Div>
                  <Div Class = "two"></Div>
                  <Div Class = "three"></Div>
                </Div>
                <Nav>
                  <Ul>
                    <Li>
                      <a Href="../../Views/Principal/Index.html">Início</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/Credits.html">Créditos</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/About.html">Sobre</a>
                    </Li>
                  </Ul>
                </Nav>
              </Div>
            </Div>
        </Header>

		<Main> 
			<Div Class = "pagina-pergunta">
				<div class = "numero-pergunta">
					<b>
						<a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
							Simulado Análise e Desenvolvimento de Sistemas  - Enade 2021 - Questão 13/35
						</a>  
					</b>
				</div>

				<div class = "corpo-pergunta">

					<Div Class = "nav-pergunta">
						<a Href = "Q11AE_EQ8.html"><</a>
						<a Href = "Q12AC_EQ8.html">12</a>
						<a Class = "pergunta-selecionada" Href = "#">13</a>
						<a Href = "Q14AE_EQ8.html">14</a>
						<a Href = "Q15AB_EQ8.html">></a>
					</Div>

					<div class = "texto-pergunta">
						<p>
							Considere que as variáveis <b>pilha</b> e <b>fila</b> correspondem, respectivamente, às estruturas de dados do tipo<br>Pilha e Fila. Para testar as duas estruturas, um programador realizou a série de operações a seguir.<br><br>
						</p>

						<p>
							Pilha <b>pilha</b> = new Pilha();<br>
							Fila <b>fila</b> = new Fila();<br>
							<b>pilha</b>.push(‘A’);<br>
							<b>pilha</b>.push(‘B’);<br>
							<b>pilha</b>.push(‘C’);<br>
							<b>fila</b>.enqueue(pilha.top());<br>
							<b>fila</b>.enqueue(pilha.top());<br>
							<b>fila</b>.enqueue(‘D’);<br>
							<b>pilha</b>.push(fila.dequeue());<br>
							<b>fila</b>.enqueue(fila.dequeue());<br>
							<b>fila</b>.enqueue(pilha.pop());<br>
							<b>pilha</b>.push(‘E’);<br>
							<b>fila</b>.enqueue(‘E’);<br>
							<b>pilha</b>.pop();<br><br>
						</p>
					</div>

					<div class = "enunciado-pergunta">
						<p>
							Após essas operações, ao imprimir o conteúdo de <b>pilha</b> e <b>fila</b>, respectivamente, seria exibido:
						</p>
					</div>

					<div class = "alternativas-pergunta">
						<span><Input Type = "Radio" Name = "Q13" Value = "A"/> A) <b>pilha</b>: topo → C → A → E. <Br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>fila</b>: início → D → A → A → E. </span>
						<span><Input Type = "Radio" Name = "Q13" Value = "B"/> B) <b>pilha</b> topo →A. <Br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>fila</b>: início → D → B → C → E. </span>
						<span><Input Type = "Radio" Name = "Q13" Value = "C" Id = "alt-correta"/> C) <b>pilha</b>: topo → C → B → A. <Br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>fila</b>: início → D → C → C → E. </span>
						<span><Input Type = "Radio" Name = "Q13" Value = "D"/> D) <b>pilha</b>: topo → B → A. <Br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>fila</b>: início → D → B → C → E. </span>
						<span><Input Type = "Radio" Name = "Q13" Value = "E"/> E) <b>pilha</b>: topo → C → B → A. <Br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>fila</b>: início → D → B → C → E. </span>
					</div>

					<Div Class = "buttons-nav">
						<a Href = "Resultado.html">
						  <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "teste()"/>
						</a>
						<Input Type = "Button" id="popup" Class = "button-nav" Value = "Revisar" onclick="abrirPopUp()"/>
						<Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
					</Div>
				</div>
			</Div>
		</Main>

		<Footer>
			<Div>
			  <p>
				<a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
				  Curso de Análise e Desenvolvimento de Sistemas (ADS)
				</a>
			  </p>
		
			  <Div Class = "fatec_sp_enade">
				<a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
				  <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
				</a>
				<a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
					<Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
				</a>
				<a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
				  <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
				</a>
			  </Div>
			</Div>
		</Footer>

		<Script Src = "../../js/contar.js"></Script>
		<Script Src = "../../js/corrigir.js"></Script>
		<script src="../../js/popup.js"></script>
	</body>
</html>