<!DOCTYPE html>

<html Lang = "PT-BR">
	
	<head>
		<Meta CharSet = "UTF-8"/>
		<Meta Name = "Author" Content = "Raul Mascarenhas"/>
		<Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
		<Title>Questão 14 - SimuNade</Title>
		<Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup-correcao.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 1440px)"/>
	</head>

	<body Id = "Q14">
		<Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "pagina-pergunta">
        <div class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 14/35
            </a>  
          </b>
        </div>

        <div class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
            <a Href = "Q12AC_EQ8.html"><</a>
            <a Href = "Q13AC_EQ8.html">13</a>
            <a Class = "pergunta-selecionada" Href = "">14</a>
            <a Href = "Q15AB_EQ8.html">15</a>
            <a Href = "Q16AE_EQ8.html">></a>
          </Div>

          <div class = "texto-pergunta">
            <p>
              Um projeto de integração de um ERP com um CRM não implementou todos os serviços esperados e há falhas nos serviços já implementados. Uma auditoria avaliou a situação e identificou que há desentendimentos entre os membros da equipe; os membros da qualidade não compreendem o que deve ser avaliado;<br>demandas de novos solicitantes aparecem constantemente; e o patrocinador demora muito a responder<br> 
              às solicitações da equipe.
            </p>

            <p> 
              Tudo isso fez com que o projeto ficasse bastante atrasado e com orçamento
              excedido.
            </p>
          </div>

          <div class = "enunciado-pergunta">
            <p>
              Considerando o cenário descrito, o gerente de projeto deve priorizar o gerenciamento de
            </p>
          </div>

          <div class = "alternativas-pergunta">
            <span><Input Type = "Radio" Name = "Q14" Value = "A"/> A) custo. </span>
            <span><Input Type = "Radio" Name = "Q14" Value = "B"/> B) tempo. </span>
            <span><Input Type = "Radio" Name = "Q14" Value = "C"/> C) escopo. </span>
            <span><Input Type = "Radio" Name = "Q14" Value = "D"/> D) qualidade. </span>
            <span><Input Type = "Radio" Name = "Q14" Value = "E" Id = "alt-correta"/> E) partes interessadas. </span>
          </div>

          <Div Class = "buttons-nav">
            <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "salvaResultadoSimulado()"/>
            <Input Type = "Button" id="popup" Class = "button-nav" Value = "Menu" onclick="abrirPopUp()"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>
          
        </div>
      </Div>
    </Main>

    <Footer>
			<Div>
			  <p>
				<a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
				  Curso de Análise e Desenvolvimento de Sistemas (ADS)
				</a>
			  </p>
		
			  <Div Class = "fatec_sp_enade">
				<a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
					<Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
				</a>
				<a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
					<Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
				</a>
				<a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
					<Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
				</a>
			  </Div>
			</Div>
		</Footer>
    
    <Script Src = "../../js/menu.js"></Script>
    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
    <script src="../../js/popup.js"></script>
	</body>
</html>