<!DOCTYPE html>

<html Lang = "PT-BR">
	
	<head>
		<Meta CharSet = "UTF-8"/>
		<Title>Questão 14 - SimuNade</Title>
		<Meta Name = "Author" Content = "Raul Mascarenhas"/>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
	</head>

	<body>
		<div>
			<b>
				Questão 14
			</b>
		</div>

		<div>
			<p>
				Um projeto de integração de um ERP com um CRM não implementou todos os serviços esperados e há falhas<br> 
				nos serviços já implementados. Uma auditoria avaliou a situação e identificou que há desentendimentos<br> 
				entre os membros da equipe; os membros da qualidade não compreendem o que deve ser avaliado;<br> 
				demandas de novos solicitantes aparecem constantemente; e o patrocinador demora muito a responder<br> 
				às solicitações da equipe. Tudo isso fez com que o projeto ficasse bastante atrasado e com orçamento<br>
				excedido.<br><br>
				Considerando o cenário descrito, o gerente de projeto deve priorizar o gerenciamento de
			</p>
		</div>
	</body>
</html>