<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Tony Bryan"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 15 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
  </Head>

  <Body Id = "Q15">
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
            <b>
              <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
                Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 15/35
              </a>            
            </b>
        </Div>

        <Div Class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
            <a Href = "Q13AC_EQ8.html"><</a>
            <a Href = "Q14AE_EQ8.html">14</a>
            <a Class = "pergunta-selecionada" Href = "#">15</a>
            <a Href = "Q16AE_EQ8.html">16</a>
            <a Href = "Q17AC_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
            <p>
              Uma fundação municipal de arte e cultura oferece cursos para crianças e adolescentes de até 16 anos.<Br>
              Os registros de matrículas são realizados em uma planilha eletrônica ilustrada a seguir, o que dificulta bastante<Br>
              o controle dos dados frente ao número expressivo de estudantes, muitos dos quais solicitam matrícula em mais<Br>
              de um curso. A administração da fundação, então, solicitou o desenvolvimento de um programa para facilitar<Br>
              o registro e a consulta desses dados, incluindo-se a data de efetivação de cada matrícula, para fins de controles<Br>
              específicos da secretaria
            </p>

            <Img Class = "imagem-pergunta" Src="../../Images/Perguntas/Q15AB_ENADE_ADS_2021_EQ8.png"> 

            <!-- Devera ser inserido os creditos da imagem. (se houver) -->

            <p>
              A equipe de desenvolvimento de softwares da prefeitura, após uma breve entrevista com a administração<Br>
              da fundação e de posse da planilha eletrônica, modelou um Diagrama de Classes como parte da<Br>
              especificação dos requisitos do sistema.
            </p>

            <p>
              Considerando o cenário descrito, assinale a opção a seguir que exibe o Diagrama de Classes modelado<Br>
              corretamente pela equipe de desenvolvimento.
            </p>
          </Div>

          <div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q15" Value = "A"/> A) <Img Class = "imagem-alternativa" Src = "../../Images/Perguntas/Alternativas/Q15_alt_A.png"/></Span>
            <Span> <Input Type = "Radio" Name = "Q15" Value = "B" Id = "alt-correta"/> B) <Img Class = "imagem-alternativa" Src = "../../Images/Perguntas/Alternativas/Q15_alt_B.png"/></Span>
            <Span> <Input Type = "Radio" Name = "Q15" Value = "C"/> C) <Img Class = "imagem-alternativa" Src = "../../Images/Perguntas/Alternativas/Q15_alt_C.png"/></Span>
            <Span> <Input Type = "Radio" Name = "Q15" Value = "D"/> D) <Img Class = "imagem-alternativa" Src = "../../Images/Perguntas/Alternativas/Q15_alt_D.png"/></Span>
            <Span> <Input Type = "Radio" Name = "Q15" Value = "E"/> E) <Img Class = "imagem-alternativa" Src = "../../Images/Perguntas/Alternativas/Q15_alt_E.png"/></Span>
          </div>

          <Div Class = "buttons-nav">
            <a Href = "Resultado.html">
              <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "teste()"/>
            </a>
            <Input Type = "Button" Class = "button-nav" Value = "Revisar" OnClick = "abreMenu"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>

        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>
  
        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
  </Body>
</HTML>