<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Tony Bryan"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 16 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
  </Head>

  <Body Id = "Q16">
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 16/35
            </a>            
          </b>
        </Div>

        <Div  Class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
            <a Href = "Q14AE_EQ8.html"><</a>
            <a Href = "Q15AB_EQ8.html">15</a>
            <a Class = "pergunta-selecionada" Href = "#">16</a>
            <a Href = "Q17AC_EQ8.html">17</a>
            <a Href = "Q18AC_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
            <p>
              Uma ONG decidiu construir um hospital de campanha para tratamento de pacientes diagnosticados<Br>
              com a Covid-19. Para auxiliar na gerência hospitalar, a ONG contratou alguns programadores voluntários<Br>
              para desenvolver um Sistema de Suporte à Decisão para Gestão Hospitalar. Esse sistema irá auxiliar no<Br>
              registro de todos os procedimentos diários realizados no paciente que dá entrada no hospital, desde sua<Br>
              internação até a saída, seja essa saída por recebimento de alta, por transferência ou óbito. O sistema foi<Br>
              todo desenvolvido em Java de acordo com o Paradigma Orientado a Objetos. Durante o curto processo de<Br>
              análise, devido à urgência, foram construídos diversos diagramas em UML (Unified Modeling Language).<Br>
              Um desses diagramas relaciona a interação entre os objetos do sistema, o Diagrama de Sequência.<Br>
              Esse diagrama é apresentado a seguir.
            </p>
          
            <Img Class = "imagem-pergunta" Src="../../Images/Perguntas/Q16AE_ENADE_ADS_2021_EQ8.png">
          </Div>

          <Div Class = "enunciado-pergunta">
            <p>
              Considerando o Diagrama de Sequência apresentado, assinale a opção correta.
            </p>
          </Div> 
          
          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q16" Value = "A"/> A) Leito é uma subclasse de UTI. </Span>
            <Span> <Input Type = "Radio" Name = "Q16" Value = "B"/> B) O método registraPaciente() é implementado por Paciente. </Span>
            <Span> <Input Type = "Radio" Name = "Q16" Value = "C"/> C) Todos os objetos foram criados no instante de execução do Caso de Uso representado. </Span>
            <Span> <Input Type = "Radio" Name = "Q16" Value = "D"/> D) O diagrama apresenta um erro ao não representar as mensagens de retorno depois da destruição dos objetos. </Span>
            <Span> <Input Type = "Radio" Name = "Q16" Value = "E" Id = "alt-correta"/> E) A mensagem 4 pode ser substituída pelo estereótipo <<create>> sem causar prejuízo à interpretação correta do Diagrama de Sequência representado. </Span>
          </Div>

          <Div Class = "buttons-nav">
            <a Href = "Resultado.html">
              <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "teste()"/>
            </a>
            <Input Type = "Button" Class = "button-nav" Value = "Revisar" OnClick = "abreMenu"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>

        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>
  
        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
  </Body>

</HTML>