<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Tony Bryan"/>
        <Title>Questão 17 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 17
            </b>
        </Div>

        <Div>
            <p>
                O modelo de dados relacional a seguir representa de forma simplificada o banco de dados para um<Br>
                sistema de informação bancário:
            </p>
                
            <img src="../../Images/Perguntas/Q17AC_ENADE_ADS_2021_EQ8.png"> 

            <p>
                Usando a linguagem SQL (Structured Query Language) indique a consulta que recupera o nome dos<Br>
                clientes e o valor médio movimentado por eles em sua conta até o momento. Primeiro devem ser exibidos<Br>
                os clientes com maior média de valor movimentado.
            </p>
        </Div>

    </Body>

</HTML>