<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Tony Bryan"/>
        <Title>Questão 18 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 18
            </b>
        </Div>

        <Div>
            <p>
                A engenharia de requisitos é uma área que inclui quatro subprocessos relacionados de alto nível.<Br>
                Esses subprocessos são: 1) avaliação se o sistema será útil para a empresa (estudo de viabilidade);<Br>
                2) obtenção de requisitos (elicitação de requisitos); 3) conversão desses requisitos em alguma forma<Br>
                padrão (especificação); 4) verificação se os requisitos realmente definem o sistema que o cliente deseja<Br>
                (validação).
            </p>
        </div>

        <div>
            <i>
                SOMMERVILLE, I. Engenharia de Software. São Paulo: Pearson Addison-Wesley, 2017 (adaptado).
            </i>
        </Div>

        <div>
            <p>
                Uma equipe de Tecnologia da Informação de uma empresa de consultoria desenvolverá um software<Br>
                de Suporte Técnico para uma grande empresa fornecedora de equipamentos eletrônicos. O estudo de<Br>
                viabilidade do software já foi realizado e aprovado. A equipe de Tecnologia da Informação seguirá os três<Br>
                subprocessos seguintes de alto nível de engenharia de requisitos descritos no texto de Sommerville, ou seja,<Br>
                os subprocessos de elicitação de requisitos, especificação e validação.
            </p>

            <p>
                Para esses três subprocessos, quais são os artefatos que podem ser utilizados por essa equipe de<Br>
                Tecnologia da Informação?
            </p>
        </Div>

    </Body>

</HTML>