<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Tony Bryan"/>
        <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
        <Title>Questão 18 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
        <Link Rel = "Script" Href = "../../js/perguntas.js"/>
    </Head>

    <Body>
        <Div Class = "numero-pergunta">
            <b>
                <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
                    Questão 18
                </a>            
            </b>
        </Div>

        <Div  Class = "corpo-pergunta">

            <Div Class = "nav-pergunta">
                <a Href = ""><</a>
                <a Href = "">17</a>
                <a Class = "pergunta-selecionada" Href = "">18</a>
                <a Href = "">19</a>
                <a Href = "">></a>
            </Div>

            <Div Class = "texto-pergunta">
                <p>
                    A engenharia de requisitos é uma área que inclui quatro subprocessos relacionados de alto nível.<Br>
                    Esses subprocessos são: 1) avaliação se o sistema será útil para a empresa (estudo de viabilidade);<Br>
                    2) obtenção de requisitos (elicitação de requisitos); 3) conversão desses requisitos em alguma forma<Br>
                    padrão (especificação); 4) verificação se os requisitos realmente definem o sistema que o cliente deseja<Br>
                    (validação).
                </p>
            </div>

            <Div Class = "fonte-pergunta">
                <Blockquote>
                    <i>
                        SOMMERVILLE, I. Engenharia de Software. São Paulo: Pearson Addison-Wesley, 2017 (adaptado).
                    </i>
                </Blockquote>
            </Div>

            <Div Class = "enunciado-pergunta">
                <p>
                    Uma equipe de Tecnologia da Informação de uma empresa de consultoria desenvolverá um software<Br>
                    de Suporte Técnico para uma grande empresa fornecedora de equipamentos eletrônicos. O estudo de<Br>
                    viabilidade do software já foi realizado e aprovado. A equipe de Tecnologia da Informação seguirá os três<Br>
                    subprocessos seguintes de alto nível de engenharia de requisitos descritos no texto de Sommerville, ou seja,<Br>
                    os subprocessos de elicitação de requisitos, especificação e validação.
                </p>

                <p>
                    Para esses três subprocessos, quais são os artefatos que podem ser utilizados por essa equipe de<Br>
                    Tecnologia da Informação?
                </p>
            </Div> 
            
            <Div Class = "alternativas-pergunta">
                <Span> <Input Type = "Radio" Name = "Q18" Value = "A"/> A) Documento de entrevista com usuários; modelo de caso de uso para os requisitos funcionais; prototipação de telas. </Span>
                <Span> <Input Type = "Radio" Name = "Q18" Value = "B"/> B) Documento de estudo de viabilidade; modelo de caso de uso para os requisitos funcionais; prototipação de telas. </Span>
                <Span> <Input Type = "Radio" Name = "Q18" Value = "C" Id = "alt-correta"/> C) Matriz de rastreabilidade; modelo de caso de uso para os requisitos não-funcionais; prototipação de telas. </Span>
                <Span> <Input Type = "Radio" Name = "Q18" Value = "D"/> D) Documento de entrevista com usuários; modelo de caso de uso para os requisitos não-funcionais; matriz de rastreabilidade. </Span>
                <Span> <Input Type = "Radio" Name = "Q18" Value = "E"/> E) Documento de estudo de viabilidade; modelo de caso de uso para os requisitos funcionais; matriz de rastreabilidade </Span>
            </Div>
        
        </Div>
    </Body>

</HTML>