<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Tony Bryan"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 18 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
  </Head>

  <Body Id = "Q18">
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 18/35
            </a>            
          </b>
        </Div>

        <Div Class = "corpo-pergunta">
          <Div Class = "nav-pergunta">
            <a Href = "Q16AE_EQ8.html"><</a>
            <a Href = "Q17AC_EQ8.html">17</a>
            <a Class = "pergunta-selecionada" Href = "#">18</a>
            <a Href = "Q19AA_EQ8.html">19</a>
            <a Href = "Q20AE_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
            <p>
              A engenharia de requisitos é uma área que inclui quatro subprocessos relacionados de alto nível.<Br>
              Esses subprocessos são: 1) avaliação se o sistema será útil para a empresa (estudo de viabilidade);<Br>
              2) obtenção de requisitos (elicitação de requisitos); 3) conversão desses requisitos em alguma forma<Br>
              padrão (especificação); 4) verificação se os requisitos realmente definem o sistema que o cliente deseja<Br>
              (validação).
            </p>
          </Div>

          <Div Class = "fonte-pergunta">
            <Blockquote>
              <i>
                SOMMERVILLE, I. Engenharia de Software. São Paulo: Pearson Addison-Wesley, 2017 (adaptado).
              </i>
            </Blockquote>
          </Div>

          <Div Class = "enunciado-pergunta">
            <p>
              Uma equipe de Tecnologia da Informação de uma empresa de consultoria desenvolverá um software<Br>
              de Suporte Técnico para uma grande empresa fornecedora de equipamentos eletrônicos. O estudo de<Br>
              viabilidade do software já foi realizado e aprovado. A equipe de Tecnologia da Informação seguirá os três<Br>
              subprocessos seguintes de alto nível de engenharia de requisitos descritos no texto de Sommerville, ou seja,<Br>
              os subprocessos de elicitação de requisitos, especificação e validação.
            </p>

            <p>
              Para esses três subprocessos, quais são os artefatos que podem ser utilizados por essa equipe de<Br>
              Tecnologia da Informação?
            </p>
          </Div>
          
          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q18" Value = "A" Id = "alt-correta"/> A) Documento de entrevista com usuários; modelo de caso de uso para os requisitos funcionais; prototipação de telas. </Span>
            <Span> <Input Type = "Radio" Name = "Q18" Value = "B"/> B) Documento de estudo de viabilidade; modelo de caso de uso para os requisitos funcionais; prototipação de telas. </Span>
            <Span> <Input Type = "Radio" Name = "Q18" Value = "C"/> C) Matriz de rastreabilidade; modelo de caso de uso para os requisitos não-funcionais; prototipação de telas. </Span>
            <Span> <Input Type = "Radio" Name = "Q18" Value = "D"/> D) Documento de entrevista com usuários; modelo de caso de uso para os requisitos não-funcionais; matriz de rastreabilidade. </Span>
            <Span> <Input Type = "Radio" Name = "Q18" Value = "E"/> E) Documento de estudo de viabilidade; modelo de caso de uso para os requisitos funcionais; matriz de rastreabilidade </Span>
          </Div>

          <Div Class = "buttons-nav">
            <a Href = "Resultado.html">
              <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "teste()"/>
            </a>
            <Input Type = "Button" id="popup" Class = "button-nav" Value = "Revisar" onclick="abrirPopUp()"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>
        
        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>
  
        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
    <script src="../../js/popup.js"></script>
  </Body>

</HTML>