<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Tony Bryan"/>
        <Title>Questão 19 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 19
            </b>
        </Div>

        <Div>
            <p>
                Arquitetura de software é uma representação que permite analisar a efetividade do projeto no<Br>
                entendimento dos requisitos declarados. Durante a fase de concepção da arquitetura, podem-se<Br>
                considerar alternativas de arquitetura em um estágio em que mudanças ainda são realizadas com menor<Br>
                esforço, diminuindo riscos associados à construção do software ainda na fase inicial.
            </p>
        </div>
    
        <div>
            <i>
                PRESSMAN, R. S. Engenharia de Software: uma abordagem profissional. 8. ed. Porto Alegue: AMGH, 2016 (adaptado).
            </i>
        </Div>
    
        <div>
            <p>
                A respeito dos estilos e padrões arquiteturais contidos na engenharia de software, avalie as afirmações<Br>
                a seguir.<Br>
            </p>
        </Div>

        <div>
            <ol type="I">
                <li>Em arquiteturas orientadas a objetos, a comunicação entre os componentes do software é realizada<Br>
                    por intermédio da troca de mensagens.
                </li><Br>
                <li>As arquiteturas monolíticas consistem de um sistema dividido em pequenas partes, possibilitando<Br>
                    que estas tenham sua manutenção, execução e evolução individual.
                </li><Br> 
                <li>No padrão arquitetural Modelo-Visão-Controle (MVC), a camada de Modelo armazena as interações<Br>
                    realizadas no Controle, podendo ser apresentados/manipulados posteriormente na Visão.
                </li><Br>
                <li>Nas arquiteturas microsserviços, o software possui componentes altamente acoplados, dificultando<Br>
                    a manutenção.
                </li>              
            </ol>
        </Div>

        <Div>
            <p>
                É correto apenas o que se afirma em
            </p>
        </div>

    </Body>

</HTML>