<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Tony Bryan"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 19 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup-correcao.css"/>
  </Head>

  <Body Id = "Q19">
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 19/35
            </a>            
          </b>
        </Div>

        <Div Class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
            <a Href = "Q17AC_EQ8.html"><</a>
            <a Href = "Q18AC_EQ8.html">18</a>
            <a Class = "pergunta-selecionada" Href = "#">19</a>
            <a Href = "Q20AE_EQ8.html">20</a>
            <a Href = "Q21AB_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
            <p>
              Arquitetura de software é uma representação que permite analisar a efetividade do projeto no<Br>
              entendimento dos requisitos declarados. Durante a fase de concepção da arquitetura, podem-se<Br>
              considerar alternativas de arquitetura em um estágio em que mudanças ainda são realizadas com menor<Br>
              esforço, diminuindo riscos associados à construção do software ainda na fase inicial.
            </p>
          </Div>

          <Div Class = "fonte-pergunta">
            <Blockquote>
              <i>
                PRESSMAN, R. S. Engenharia de Software: uma abordagem profissional. 8. ed. Porto Alegue: AMGH, 2016 (adaptado).
              </i>
            </Blockquote>
          </Div>

          <Div Class = "enunciado-pergunta">
            <p>
              A respeito dos estilos e padrões arquiteturais contidos na engenharia de software, avalie as afirmações<Br>
              a seguir.
            </p>
        
            <ol type="I">
              <li>
                Em arquiteturas orientadas a objetos, a comunicação entre os componentes do software é realizada<br>
                por intermédio da troca de mensagens.
              </li>

              <li>
                As arquiteturas monolíticas consistem de um sistema dividido em pequenas partes, possibilitando<br>
                que estas tenham sua manutenção, execução e evolução individual.
              </li>

              <li>
                No padrão arquitetural Modelo-Visão-Controle (MVC), a camada de Modelo armazena as interações<br>
                realizadas no Controle, podendo ser apresentados/manipulados posteriormente na Visão.
              </li>

              <li>
                Nas arquiteturas microsserviços, o software possui componentes altamente acoplados, dificultando<br>
                a manutenção.
              </li>           
            </ol>

            <p>
              É correto apenas o que se afirma em
            </p>
          </Div>

          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q19" Value = "A" Id = "alt-correta"/> A) I e III.</Span>
            <Span> <Input Type = "Radio" Name = "Q19" Value = "B"/> B) II e III. </Span>
            <Span> <Input Type = "Radio" Name = "Q19" Value = "C"/> C) II e IV.</Span>
            <Span> <Input Type = "Radio" Name = "Q19" Value = "D"/> D) I, II e IV.</Span>
            <Span> <Input Type = "Radio" Name = "Q19" Value = "E"/> E) I, III e IV.</Span>
          </Div>

          <Div Class = "buttons-nav">
            <a Href = "Resultado.html">
              <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "teste()"/>
            </a>
            <Input Type = "Button" id="popup" Class = "button-nav" Value = "Revisar" onclick="abrirPopUp()"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>

        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>
  
        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
    <script src="../../js/popup.js"></script>
  </Body>

</HTML>