<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Tony Bryan"/>
        <Title>Questão 20 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 20
            </b>
        </Div>

        <Div>
            <p>
                Uma secretaria municipal de esportes decidiu criar e disponibilizar um site que sirva como portal de<Br>
                comunicação com pessoas da terceira idade. A finalidade é fornecer orientações que propiciem práticas<Br>
                para uma vida mais saudável, além de divulgar eventos esportivos ofertados pelo município para esse<Br>
                público-alvo. O projeto ainda prevê a interação entre os usuários do site, por meio da publicação de fotos,<Br>
                que podem ser curtidas e comentadas.
            </p>

            <p>
                A iniciativa de criação do site foi embasada em uma pesquisa mostrando que a maioria da população de<Br>
                terceira idade do município dispõe de acesso à internet, especialmente por meio de dispositivos móveis<Br>
                smartphones e tablets), embora uma parcela dessa população prefira realizar o acesso com computadores<Br>
                de mesa e notebooks.
            </p>

            <p>
                Considerando as informações do texto e as responsabilidades inerentes ao desenvolvimento do site,<Br>
                avalie as afirmações a seguir.
            </p>
        <div>
            <ol type="I">
                <li>A segurança no uso é um fator crítico de usabilidade a ser considerado no projeto de interface para<Br>
                        o site, tendo em vista que pessoas da terceira idade são temerosas quanto ao registro de dados<Br>
                        pessoais e confidenciais em sites e aplicativos.
                </li><Br>
                <li>A responsividade, que pressupõe o uso de valores relativos para definir as dimensões de elementos<Br>   
                        na estilização de páginas HTML, deve ser considerada na construção do site, tendo em vista que o<Br>
                        acesso deve ocorrer através de dispositivos com diferentes tamanhos de tela.
                </li><Br> 
                <li>A construção de protótipos pode antecipar problemas de design de interação e minimizar custos<Br>
                        de desenvolvimento e, por isso, é viável para estabelecer uma comunicação mais objetiva com o<Br>
                        público-alvo e assim possibilitar a validação de usabilidade e da experiência do usuário.
                </li><Br>
                <li>O design participativo é um processo de design de Interação Humano-Computador (IHC) viável<Br>
                        para direcionar o projeto de interfaces e de experiência com o usuário do site, pois o público-alvo<Br>
                        tende a apresentar dificuldades no manuseio de tecnologias da informação e da comunicação.
                </li>
        </div>

        <div>
            <p>
                É correto apenas o que se afirma em
            </p>
        </Div>

    </Body>

</HTML>