<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Tony Bryan"/>
        <Title>Questão 21 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 21
            </b>
        </Div>

        <Div>
            <p>
                No decorrer de um projeto de desenvolvimento de software é compreensível que mudanças venham<Br>
                a ocorrer, sejam por novos entendimentos dos atores envolvidos ou até mesmo de novas demandas<Br>
                apresentadas pelos clientes. Nesta perspectiva, a Gestão de Configuração de Software estabelece<Br>
                um conjunto de atividades para gerenciar alterações através de todo o ciclo de vida de um software.
            </p>
        </div>

        <div>
            <i>
                PRESSMAN, R. S. Engenharia de Software: uma abordagem profissional. 8. ed.<Br>
                Porto Alegre: Artmed Editora S.A. e McGraw-Hill Education, 2016 (adaptado).
            </i>
        </Div>

        <div>
            <p>
                Com base no texto, assinale a opção correta acerca das atividades de gestão de configuração de<Br>
                software.
            </p>
        </Div>

    </Body>

</HTML>