<!doctype html>

<html lang = "pt-br">

    <head>
        <meta charset = "utf-8"/>
        <meta name = "Author" Content = "Diogo Gabardo"/>
        <title>Questão 22 - SimuNade</title>
        <link rel = "Icon" href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </head>

    <body>

        <div>
            <b>
                Questão 22
            </b>
        </div>

        <div>
            <p>
                Um ponto importante para fábricas de software é a garantia de que seus produtos e/ou serviços acompanhem <br>
                as diversas mudanças ocasionadas pelo mundo corporativo. As restrições de orçamento ou cronograma, <br>
                reestruturação do negócio, modificações de regras de negócio ou novas necessidades do cliente, geram <br>
                mudanças inevitáveis. Nesse cenário, a utilização de um processo de Gerência de Configuração de Software <br>
                (GCS) que contemple características necessárias para gerenciar e controlar a evolução de um software, através <br>
                do controle formal de versão e solicitação de mudanças, é extremamente importante. <br> <br>
                Sobre o processo de Gerência de Configuração de Software (GCS), avalie as afirmações a seguir. <br>
                
                <ol type="I">
                    <li> O controle de versão possibilita o compartilhamento de dados e a edição colaborativa, permitindo <br>
                    a gestão de diferentes ramos de desenvolvimento e possibilitando a existência de diferentes <br>
                    versões de forma simultânea.</li>
                    <br>
                    <li> A auditoria de configuração é uma atividade de garantia de qualidade do sistema que tem por <br>
                        objetivo assegurar que a qualidade do software seja mantida quando feitas alterações requisitadas.</li>
                    <br>
                    <li> O relatório de status de configuração possui informações sobre o GCS, tendo por objetivo manter o <br> cliente informado sobre as alterações, e deve ser gerado ao final do processo. </li> 
                    <br>
                    <li> A GCS proporciona um conjunto de atividades de acompanhamento e controle de mudanças que é <br>
                    iniciado logo depois que o software for fornecido ao cliente e colocado em operação. </li>
                </ol>
                É correto apenas o que se afirma em
            </p>
        </div>
    </body>
</html>