<!doctype html>

<html lang = "pt-br">

    <head>
        <meta charset = "utf-8"/>
        <meta name = "Author" Content = "Diogo Gabardo"/>
        <title>Questão 23 - SimuNade</title>
        <link rel = "Icon" href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </head>

    <body>

        <div>
            <b>
                Questão 23
            </b>
        </div>

        <div>
            <p>
                A evolução de sistemas de software legados pode ser dividida em três categorias: manutenção, <br>
                modernização e substituição. De acordo com a figura a seguir, conforme o tempo aumenta, a quantidade <br>
                de funcionalidades também cresce. No primeiro período de evolução a manutenção é realizada, pois as <br>
                necessidades de negócio são alteradas e o sistema precisa suprir as mudanças por meio da manutenção. <br>
                No segundo período é realizada a modernização do sistema, pois as necessidades de negócio continuam <br>
                a crescer, mas há mudanças mais significativas que se fazem necessárias. Além da substituição do sistema <br>
                de software, nos casos em que o modelo de negócio não atende mais a necessidade da empresa, <br>
                a manutenção e modernização também não são mais suficientes. <br>
                <img src="../../Images/Perguntas/Q23AB_ENADE_ADS_2021_EQ8.png">
                <div> <i>SEACORD, R. C.; PLAKOSH, D.; LEWIS, G. A. Modernizing Legancy Systems. Boston: Pearson Education, 2003 (adaptado).</i> 
                </div>
                <br>
                De acordo com a figura apresentada e considerando um sistema de software implantado de ERP (Enterprise <br>
                Resource Planning - Planejamento de Recursos Empresariais) contendo um conjunto de módulos que <br>
                integra todos os departamentos existentes de uma empresa, observou-se a necessidade de criação de um <br>
                relatório gerencial de comissão da equipe de vendas. Nesse contexto, é correto afirmar que a manutenção <br>
                a ser realizada é
            </p>
        </div>
        

    </body>
</html>