<!doctype html>

<html lang = "pt-br">

  <head>
    <meta charset = "utf-8"/>
    <meta name = "Author" Content = "Diogo Gabardo"/>
    <meta name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <title>Questão 23 - SimuNade</title>
    <link rel = "Icon" href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
  </head>

  <body Id = "Q23">
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "pagina-pergunta">
        <div class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 23/35
            </a>
          </b>
        </div>

        <div  class = "corpo-pergunta">

          <div class = "nav-pergunta">
            <a href = "Q21AB_EQ8.html"><</a>
            <a href = "Q22AA_EQ8.html">22</a>
            <a class = "pergunta-selecionada" href = "#">23</a>
            <a href = "Q24AD_EQ8.html">24</a>
            <a href = "Q25AE_EQ8.html">></a>
          </div>

          <div class = "texto-pergunta">
            <p>
              A evolução de sistemas de software legados pode ser dividida em três categorias: manutenção, <br>
              modernização e substituição. De acordo com a figura a seguir, conforme o tempo aumenta, a quantidade <br>
              de funcionalidades também cresce. No primeiro período de evolução a manutenção é realizada, pois as <br>
              necessidades de negócio são alteradas e o sistema precisa suprir as mudanças por meio da manutenção. <br>
              No segundo período é realizada a modernização do sistema, pois as necessidades de negócio continuam <br>
              a crescer, mas há mudanças mais significativas que se fazem necessárias. Além da substituição do sistema <br>
              de software, nos casos em que o modelo de negócio não atende mais a necessidade da empresa, <br>
              a manutenção e modernização também não são mais suficientes.
            </p>
          </div>

          <img class = "imagem-pergunta" src="../../Images/Perguntas/Q23AB_ENADE_ADS_2021_EQ8.png">


          <div class = "fonte-pergunta">    
            <blockquote>
              <i> 
                SEACORD, R. C.; PLAKOSH, D.; LEWIS, G. A. Modernizing Legancy Systems. Boston: Pearson Education, 2003 (adaptado).
              </i>
            </blockquote>    
          </div>

          <div class = "enunciado-pergunta">
            <p>
              De acordo com a figura apresentada e considerando um sistema de software implantado de ERP (Enterprise <br>
              Resource Planning - Planejamento de Recursos Empresariais) contendo um conjunto de módulos que <br>
              integra todos os departamentos existentes de uma empresa, observou-se a necessidade de criação de um <br>
              relatório gerencial de comissão da equipe de vendas. Nesse contexto, é correto afirmar que a manutenção <br>
              a ser realizada é
            </p>
          </div>   

          <div class = "alternativas-pergunta">
            <span> <input type = "Radio" Name = "Q29" Value = "A"/> A) corretiva </span>
            <span> <input type = "Radio" Name = "Q29" Value = "B" Id = "alt-correta"/> B) evolutiva. </span>
            <span> <input type = "Radio" Name = "Q29" Value = "C"/> C) funcional. </span>
            <span> <input type = "Radio" Name = "Q29" Value = "D"/> D) preventiva. </span>
            <span> <input type = "Radio" Name = "Q29" Value = "E"/> E) adaptativa. </span>
          </div>
        </div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>
  
        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
  </body>
</html>