<!doctype html>

<html lang = "pt-br">

  <head>
    <meta charset = "utf-8"/>
    <meta name = "Author" Content = "Diogo Gabardo"/>
    <meta name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <title>Questão 25 - SimuNade</title>
    <link rel = "Icon" href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
  </head>

  <body Id = "Q25">
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "pagina-pergunta">
        <div class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 25/35
            </a>
          </b>
        </div>

        <div  class = "corpo-pergunta">

          <div class = "nav-pergunta">
            <a href = "Q23AB_EQ8.html"><</a>
            <a href = "Q24AD_EQ8.html">24</a>
            <a class = "pergunta-selecionada" href = "#">25</a>
            <a href = "Q26AE_EQ8.html">26</a>
            <a href = "Q27AC_EQ8.html">></a>
          </div>

          <div class = "texto-pergunta">
            <p>
              Uma determinada empresa do ramo de piscicultura solicitou a uma instituição especializada no <br>
              desenvolvimento de softwares de gestão a construção de um sistema que fosse capaz de gerenciar o <br>
              processo de criação dos peixes, que começava ainda na fase de alevinos, estendia-se para a engorda, <br>
              finalizando na fase adulta com a venda do peixe. O sistema deveria disponibilizar funcionalidades <br>
              para armazenar informações sobre toda a etapa da criação, mortandade e rações utilizadas na <br>
              engorda dos peixes, viabilizando uma melhor tomada de decisão dos investidores. Como não havia <br>
              nenhuma solução e a demanda por peixes estava aumentando, a empresa solicitou extrema urgência <br>
              na construção da aplicação. <br>
              Considerando o processo de desenvolvimento de software que deverá ser utilizado para construir o <br>
              sistema mencionado no texto, avalie as afirmações a seguir. <br>
            </p>
                  
            <ol type="I">
              <li> 
                Para desenvolver o sistema, deve ser adotado um processo baseado no modelo cascata, pois ele <br>
                se adapta melhor a cenários com muitas mudanças.
              </li>

              <li> 
                Por se tratar de uma aplicação com escopo pequeno, o modelo espiral deverá ser utilizado <br>
                no desenvolvimento do sistema solicitado, já que reduzirá riscos por meio da prototipação de <br>
                especificações de cada fase dos peixes e diminuirá o tempo de entrega.
              </li>

              <li> 
                O modelo incremental deve ser utilizado na construção do software descrito no cenário, já que <br>
                partes do sistema referentes à fase inicial dos peixes poderiam ser disponibilizadas, enquanto as <br>
                demais estão nas etapas de concepção e desenvolvimento.
              </li>

              <li> 
                Em razão da extrema urgência no desenvolvimento do software solicitado, a empresa deve elaborar <br>
                seu processo utilizando o modelo RAD (Rapid Application Development).
              </li>
            </ol>
          </div>

          <div class = "enunciado-pergunta">
            <p>
              É correto apenas o que se afirma em
            </p>    
          </div>

          <div class = "alternativas-pergunta">
            <span> <input type = "Radio" Name = "Q29" Value = "A"/> A) I. </span>
            <span> <input type = "Radio" Name = "Q29" Value = "B"/> B) IV. </span>
            <span> <input type = "Radio" Name = "Q29" Value = "C"/> C) I e II. </span>
            <span> <input type = "Radio" Name = "Q29" Value = "D"/> D) II e III. </span>
            <span> <input type = "Radio" Name = "Q29" Value = "E" Id = "alt-correta"/> E) III e IV. </span>
          </div>

          <Div Class = "buttons-nav">
            <a Href = "Resultado.html">
              <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "teste()"/>
            </a>
            <Input Type = "Button" id="popup" Class = "button-nav" Value = "Revisar" onclick="abrirPopUp()"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>
        </div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>
  
        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
    <script src="../../js/popup.js"></script>
  </body>
</html>