<!doctype html>

<html lang = "pt-br">

    <head>
        <meta charset = "utf-8"/>
        <meta name = "Author" Content = "Diogo Gabardo"/>
        <meta name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
        <title>Questão 26 - SimuNade</title>
        <link rel = "Icon" href = "http://enade.inep.gov.br/enade/favicon.ico"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
        <Link Rel = "Script" Href = "../../js/perguntas.js"/>
    </head>

    <body>
        <Header>
            <Div Class = "container">
              <Div Class = "inep_enade">
                <Div Class = "logo_inep">
                  <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
                    <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
                  </a>
                </Div>
                <Span Class = "logo_enade">
                  <b>
                    Enade
                  </b>
                </Span>
              </Div>
              <Div Class = "menu-section">
                <Div Class = "menu-toggle">
                  <Div Class = "one"></Div>
                  <Div Class = "two"></Div>
                  <Div Class = "three"></Div>
                </Div>
                <Nav>
                  <Ul>
                    <Li>
                      <a Href="../../Views/Principal/Index.html">Início</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/Credits.html">Créditos</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/About.html">Sobre</a>
                    </Li>
                  </Ul>
                </Nav>
              </Div>
            </Div>
        </Header>

        <div class = "numero-pergunta">
            <b>
                <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
                Questão 26
                </a>
            </b>
        </div>

        <div  class = "corpo-pergunta">

            <div class = "nav-pergunta">
                <a href = ""><</a>
                <a href = "">25</a>
                <a class = "pergunta-selecionada" href = "">26</a>
                <a href = "">27</a>
                <a href = "">></a>
            </div>

            <div class = "texto-pergunta">
                <p>
                    Empreender em computação não se resume apenas ao fato de ter uma ideia sobre um aplicativo, <br>
                    implementá-la e disponibilizá-la aos seus usuários finais. Esse conceito vai além, é preciso analisar uma <br>
                    série de variáveis, como questões sociais e humanísticas, profissionais, ambientais, legais, políticas e <br>
                    tecnológicas. <br>
                    Dentre as ações necessárias para empreender em computação, é imprescindível observar a legislação vigente. <br>
                    No Brasil, a Lei Geral de Proteção de Dados Pessoais (LGPD), n. 13.709/2018, dispõe sobre o tratamento de <br>
                    dados pessoais, inclusive nos meios digitais, por pessoa natural ou por pessoa jurídica de direito público <br>
                    ou privado, com o objetivo de proteger os direitos fundamentais de liberdade e de privacidade e o livre <br>
                    desenvolvimento da personalidade da pessoa natural. <br>
                </p>
            </div>
            <div class = "enunciado-pergunta">
                <p>
                Acerca das providências dispostas no art. 2º da LGPD, assinale os fundamentos da disciplina da proteção <br>
                de dados pessoais.
                </p>
            </div>
                
            <div class = "alternativas-pergunta">
                <span> <input type = "Radio" Name = "Q29" Value = "A"/> A) O direito ao usuário; das obrigações das organizações nacionais ou estrangeiras; obrigatoriedade do
                consentimento; a livre iniciativa, a livre concorrência e a defesa do consumidor; os direitos humanos, o
                livre desenvolvimento da personalidade, a dignidade e o exercício da cidadania pelas pessoas naturais
                e regulação da Autoridade Nacional de Proteção de Dados Pessoais (ANPD). </span>
                <span> <input type = "Radio" Name = "Q29" Value = "B"/> B) O direito à revogação de um consentimento; a transferência de dados para outro fornecedor de
                serviços; a solicitação de remoção de dados pessoais; a inviolabilidade da intimidade, da honra e
                da imagem; o desenvolvimento econômico e tecnológico e inovação; a preservação da vida e da
                integridade física de uma pessoa. </span>
                <span> <input type = "Radio" Name = "Q29" Value = "C"/> C) O respeito à privacidade; obrigatoriedade do consentimento; os deveres e obrigações dos usuários
                finais; os deveres e obrigações das organizações nacionais ou estrangeiras; a observação ao código de
                defesa do consumidor; e, a obrigatoriedade do respeito à honra e à imagem. </span>
                <span> <input type = "Radio" Name = "Q29" Value = "D"/> D) O direito ao anonimato; a liberdade de expressão; a inviolabilidade da intimidade; a adoção de
                medidas preventivas de segurança; o direito ao recurso e revisão; a administração de riscos e falhas;
                o estabelecimento de agentes de tratamento; e, regulação da Autoridade Nacional de Proteção de
                Dados Pessoais (ANPD). </span>
                <span> <input type = "Radio" Name = "Q29" Value = "E" Id = "alt-correta"/> E) O respeito à privacidade; a autodeterminação informativa; a liberdade de expressão, de informação, de
                comunicação e de opinião; a inviolabilidade da intimidade, da honra e da imagem; o desenvolvimento
                econômico e tecnológico e a inovação; a livre iniciativa, a livre concorrência e a defesa do consumidor;
                e, os direitos humanos, o livre desenvolvimento da personalidade, dignidade e o exercício da cidadania
                pelas pessoas naturais. </span>
            </div>
        </div>
    </body>
</html>