<!doctype html>

<html lang = "pt-br">

  <head>
    <meta charset = "utf-8"/>
    <meta name = "Author" Content = "Diogo Gabardo"/>
    <meta name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <title>Questão 27 - SimuNade</title>
    <link rel = "Icon" href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link Rel = "Script" Href = "../../js/perguntas.js"/>
  </head>

  <body>
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <div class = "numero-pergunta">
        <b>
          <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
            Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 27
          </a>
        </b>
      </div>

      <div  class = "corpo-pergunta">

        <div class = "nav-pergunta">
          <a href = "Q25AE_EQ8.html"><</a>
          <a href = "Q26AE_EQ8.html">26</a>
          <a class = "pergunta-selecionada" href = "#">27</a>
          <a href = "Q28AB_EQ8.html">28</a>
          <a href = "Q29AD_EQ8.html">></a>
        </div>

        <div class = "texto-pergunta">
          <p>
            O sistema de numeração, inserido na arquitetura e no funcionamento dos computadores, sempre foi <br>
            muito utilizado na área computacional e pode ser escrito em diferentes bases numéricas, como: binária, <br>
            octal, decimal ou hexadecimal. Durante a execução dos programas, a Unidade Central de Processamento <br>
            (CPU) trabalha com os dados e instruções convertidos para dois estados distintos: 0 (zero) e 1 (um), que <br>
            podem ser entendidos como “com energia” e “sem energia”, a chamada linguagem binária ou 0 e 1. <br>
            Durante o processamento dos dados, instruções e os dados são armazenados no formato binário na <br>
            memória principal do computador. A CPU, trabalhando com dados no formato binário, aumenta sua <br>
            capacidade e velocidade no processamento dos dados. <br>
            Alguns exemplos dos dados, representados em diferentes bases, são utilizados nos sistemas  <br>
            computacionais diariamente: o endereçamento IP dos computadores em uma rede são configurados na <br>
            base decimal pontuada se for o IPv4, exemplo: 192.168.70.10; o número do endereço MAC-Address da <br>
            placa de rede do computador é hexadecimal, exemplo: 00-15-5D-01-F2-00; já o sistema octal foi muito <br>
            utilizado na computação, como uma alternativa mais compacta do sistema binário, na programação em <br>
            linguagem de máquina. <br>
            Os profissionais que atuam na área da Tecnologia da Informação (TI) precisam constantemente interpretar, <br>
            fazer cálculos ou converter dados entre as bases binária, decimal, octal ou hexadecimal. A tabela abaixo <br>
            mostra os dígitos, a notação e alguns exemplos nas bases numéricas: 2, 8, 10 e 16. <br>
          </p>

          <img class = "imagem-pergunta" src="../../Images/Perguntas/Q27AC_ENADE_ADS_2021_EQ8.png">
        </div>

        <div class = "enunciado-pergunta">
          <p>
            Fazendo a conversão da soma de: (1001)<sub>2</sub> + (15)<sub>8</sub> + (FF)<sub>16</sub>, qual é o número equivalente na base decimal?
          </p>
        </div>        

        <div class = "alternativas-pergunta">
          <span> <input type = "Radio" Name = "Q29" Value = "A"/> A) (188)<sub> 10 </sub> </span>
          <span> <input type = "Radio" Name = "Q29" Value = "B"/> B) (215)<sub> 10 </sub> </span>
          <span> <input type = "Radio" Name = "Q29" Value = "C" Id = "alt-correta"/> C) (277)<sub> 10 </sub> </span>
          <span> <input type = "Radio" Name = "Q29" Value = "D"/> D) (316)<sub> 10 </sub> </span>
          <span> <input type = "Radio" Name = "Q29" Value = "E"/> E) (345)<sub> 10 </sub> </span>
        </div>
      </div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>
  
        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>
  </body>
</html>