<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Diogo Gabardo"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 28 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
  </Head>

  <Body>
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 28/35
            </a>            
          </b>
        </Div>

        <Div Class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
            <a Href = "Q26AE_EQ8.html"><</a>
            <a Href = "Q27AC_EQ8.html">27</a>
            <a Class = "pergunta-selecionada" Href = "#">28</a>
            <a Href = "Q29AD_EQ8.html">29</a>
            <a Href = "Q30AC_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
            <p>
              O modo clássico de encarar um sistema operacional é como um gerenciador de recursos. Desse ponto de 
              vista, o sistema operacional é responsável pelo hardware do sistema. Nesse papel, ele recebe solicitações 
              de acesso a recursos por parte das aplicações e concede ou nega tais acessos. Ao conceder solicitações de 
              alocação, ele deve dispor com cuidado os recursos, de modo que os programas não interfiram uns nos outros.
              Por exemplo, é uma péssima ideia permitir que os programas tenham acesso sem restrição à memória 
              uns dos outros. Se um programa com defeito (ou malicioso) escreve no espaço de memória do outro 
              programa, o segundo programa travará, na melhor das hipóteses, ou produzirá resultados incorretos, na 
              pior das hipóteses. Ou ainda, se o programa ofensivo modificar a memória do sistema operacional poderá 
              afetar o comportamento de todo o sistema.
            </p>
          </Div>

          <Div Class = "fonte-pergunta">
            <Blockquote>
              <i>
                STUART. B. L. Princípios de Sistemas Operacionais: projetos e aplicações. São Paulo: Cengage Learning, 2011 (adaptado).
              </i>
            </Blockquote>
          </Div>

          <Div Class = "enunciado-pergunta">
            <p>
              Considerando que o texto alerta para a possibilidade de um programa interferir no outro, a atividade que 
              um sistema operacional garante essa proteção é
            </p>
          </Div>

          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q29" Value = "A"/> A) o programa antivírus. </Span>
            <Span> <Input Type = "Radio" Name = "Q29" Value = "B" Id = "alt-correta"/> B) o gerenciamento de memória. </Span>
            <Span> <Input Type = "Radio" Name = "Q29" Value = "C"/> C) o gerenciamento de arquivos. </Span>
            <Span> <Input Type = "Radio" Name = "Q29" Value = "D"/> D) o gerenciamento de processos. </Span>
            <Span> <Input Type = "Radio" Name = "Q29" Value = "E"/> E) o gerenciamento de entrada e saída. </Span>
          </Div>

        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>
  
        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
  </Body>

</HTML>