<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
        <Title>Questão 29 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
        <Link Rel = "Script" Href = "../../js/perguntas.js"/>
    </Head>

    <Body>
        <Div Class = "pagina-pergunta">

            <Div Class = "numero-pergunta">
                <b>
                    <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
                        Simulado Análise e Desenvolvimento de Sistemas  - Enade 2021 - Questão 29 
                    </a>            
                </b>
            </Div>

            <Div  Class = "corpo-pergunta">

                <Div Class = "nav-pergunta">
                    <a Href = ""><</a>
                    <a Href = "">28</a>
                    <a Class = "pergunta-selecionada" Href = "">29</a>
                    <a Href = "">30</a>
                    <a Href = "">></a>
                </Div>

                <Div Class = "texto-pergunta">
                    <p>
                        Um algoritmo é qualquer procedimento computacional bem definido que toma algum valor ou conjunto<Br> 
                        de valores como entrada e produz algum valor ou conjunto de valores como saída.
                    </p>
                </Div>

                <Div Class = "fonte-pergunta">
                    <Blockquote>
                        <i>
                            CORMEN, T. H. et al. Algoritmos Teoria e Prática. Rio de Janeiro: Elsevier, 2002 (adaptado).
                        </i>
                    </Blockquote>
                </Div>

                <Div Class = "enunciado-pergunta">
                    <p>Considere o algoritmo a seguir.</p>
                    
                    <Img Class = "" Src = "../../Images/Perguntas/Q29AD_ENADE_ADS_2021_EQ8.png"/>

                    <p>
                        No fim da execução do código apresentado, será exibido o valor
                    </p>
                </Div>

                <Div Class = "alternativas-pergunta">
                    <Span> <Input Type = "Radio" Name = "Q29" Value = "A"/> A) 4. </Span>
                    <Span> <Input Type = "Radio" Name = "Q29" Value = "B"/> B) 7. </Span>
                    <Span> <Input Type = "Radio" Name = "Q29" Value = "C"/> C) 11. </Span>
                    <Span> <Input Type = "Radio" Name = "Q29" Value = "D" Id = "alt-correta"/> D) 22. </Span>
                    <Span> <Input Type = "Radio" Name = "Q29" Value = "E"/> E) 30. </Span>
                </Div>

                <Div Class = "buttons-nav">
                    <Input Type = "Button" Class = "button-nav" Value = "Finalizar"/>
                    <Input Type = "Button" Class = "button-nav" Value = "Revisar"/>
                    <Input Type = "Button" Class = "button-nav" Value = "Corrigir"/>
                </Div>

            </Div>

        </Div>
    </Body>

</HTML>