<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Title>Questão 29 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 29
            </b>
        </Div>

        <Div>
            <p>
                Um algoritmo é qualquer procedimento computacional bem definido que toma algum valor ou conjunto<Br> 
                de valores como entrada e produz algum valor ou conjunto de valores como saída.
            </p>
        </Div>

        <Div>
            <i>
                CORMEN, T. H. et al. Algoritmos Teoria e Prática. Rio de Janeiro: Elsevier, 2002 (adaptado).
            </i>
        </Div>

        <Div>
            Considere o algoritmo a seguir. <Br>

            Algoritmo Calcular <Br>
             var <Br>
                mat [1..3][1..5] de inteiro = <Br>
             {{1, 2, -1, 2, 3}, {1, -3, 4, 2, 0}, {-3, 5, 2, 3, 4}} <Br>
             sl[1..3] de inteiro = {0, 0, 0} <Br>
             x, i, j : inteiro <Br>
             x <- 0 <Br>
             início <Br>
             para i <- 1 até 3 faça <Br>
             para j <- 1 até 5 faça <Br>
             sl[i] <- sl[i] + mat[i][j] <Br>
             fimpara <Br>
             x <- x + sl[i] <Br>
             fimpara <Br>
             imprima x <Br>
             fim <Br>
        </Div>

    </Body>

</HTML>