<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Paulo Felipe Siva Simão"/>
        <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
        <Title>Questão 2 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
        <Link Rel = "Script" Href = "../../js/perguntas.js"/>
    </Head>

    <Body>
        <Header>
            <Div Class = "container">
              <Div Class = "inep_enade">
                <Div Class = "logo_inep">
                  <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
                    <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
                  </a>
                </Div>
                <Span Class = "logo_enade">
                  <b>
                    Enade
                  </b>
                </Span>
              </Div>
              <Div Class = "menu-section">
                <Div Class = "menu-toggle">
                  <Div Class = "one"></Div>
                  <Div Class = "two"></Div>
                  <Div Class = "three"></Div>
                </Div>
                <Nav>
                  <Ul>
                    <Li>
                      <a Href="../../Views/Principal/Index.html">Início</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/Credits.html">Créditos</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/About.html">Sobre</a>
                    </Li>
                  </Ul>
                </Nav>
              </Div>
            </Div>
        </Header>

        <Main>
            <Div Class = "pagina-pergunta">

            <Div Class = "numero-pergunta">
                <b>
                    <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
                        Simulado Análise e Desenvolvimento de Sistemas  - Enade 2021 - Questão 2
                    </a>            
                </b>
            </Div>

            <Div  Class = "corpo-pergunta">

                <Div Class = "nav-pergunta">
                    <a Href = "Q1AE_EQ8.html"><</a>
                    <a Href = "Q1AE_EQ8.html">1</a>
                    <a Class="pergunta-selecionada" Href = "Q2AC_EQ8.html">2</a>
                    <a Href = "Q3AB_EQ8.html">3</a>
                    <a Href = "Q3AB_EQ8.html">></a>
                </Div>

                <Div Class = "texto-pergunta">
                    <h3>Texto I</h3>
                    <p>
                        inserir a imagem
                    </p>

                    <h3>Texto II</h3>
                    <p>
                        Em alguns países da Europa, permite-se que um produto de menor valor estéti co seja comercializado. 
    Estamos falando de um pepino deformado ou de uma cebola pequena, mas não de um produto 
    contaminado com resíduos químicos ou agentes biológicos. No caso do Brasil, o problema vai além da 
    aparência, porque há hortaliças ruins – contaminadas, murchas, machucadas – que chegam às bancas 
    para ser comercializadas.
    Mas, se nos dois contextos há perda de alimentos e preconceito em relação às hortaliças fora do padrão 
    visual, mas boas para o consumo, quais seriam as alternati vas para evitar o desperdício e melhorar a 
    qualidade dos produtos? Para os pesquisadores do assunto, não adianta replicar a experiência europeia no 
    Brasil, de exigir hortaliças esteti camente perfeitas, porque também teríamos produtos sendo desprezados 
    ainda na etapa de produção. Não devemos passar de um mercado pouco exigente, que gera desperdício 
    no varejo e nas residências, para um mercado exigente que gera perda no campo.
    A solução do problema é conscienti zar os diversos elos da cadeia produti va, especialmente varejistas 
    e consumidores, para que sejam esclarecidos sobre quais aspectos da aparência das hortaliças 
    comprometem a qualidade. Quanto maior a exigência do mercado por hortaliças de aparência perfeita, 
    maior o desperdício de alimentos. Por sua vez, quanto maior a exigência por hortaliças sem danos, 
    causados pela falta de cuidado e pela falta de higiene, menor será a perda de alimentos e maior a 
    qualidade da alimentação da população brasileira.
                    </p>
                </Div>

                <Div Class = "fonte-pergunta">
                    <Blockquote>
                        <i>
                            TEXTO I: Disponível em: htt ps://www.facebook.com/embrapa/photos/a.609357055926350/733391400189581/?type=1&theater. 
                            Acesso em: 27 maio 2020.
                            <br>
                            TEXTO II: Disponível em: htt ps://www.embrapa.br/busca-de-noti cias/-/noti cia/29626389/manuseio-correto-preserva-a-qualidade-e
                            -a-vida-uti l-das-hortalicas. Acesso em: 27 maio 2020 (adaptado).
                        </i>
                    </Blockquote>
                </Div>

                <Div Class = "enunciado-pergunta">
                    <p>
                        Considerando as informações apresentadas nos textos, avalie as asserções a seguir e a relação proposta 
    entre elas.
                    </p>

                    <p>
                        I. O texto I sinteti za uma informação principal do texto II, ao apresentar critérios disti nti vos de 
    alterações visuais que têm efeitos puramente estéti cos em produtos alimentí cios daquelas que 
    têm implicações na qualidade desses produtos.
                    </p>

                    <p>
                        PORQUE
                    </p>

                    <p>
                        II. O texto II divulga que o aumento das perdas na cadeia produti va de hortaliças no Brasil 
    é proporcional à elevação de exigências dos consumidores pela aparência de produtos 
    agropecuários.
                    </p>

                    <p>
                        A respeito dessas asserções, assinale a opção correta.
                    </p>
                </Div>

                <Div Class = "alternativas-pergunta">
                    <Span> <Input Type = "Radio" Name = "Q2" Value = "A"/> A) As asserções I e II são proposições verdadeiras, e a II é uma justi fi cati va correta da I. </Span>
                    <Span> <Input Type = "Radio" Name = "Q2" Value = "B"/> B) As asserções I e II são proposições verdadeiras, mas a II não é uma justi fi cati va correta da I. </Span>
                    <Span> <Input Type = "Radio" Name = "Q2" Value = "C" Id = "alt-correta"/> C) A asserção I é uma proposição verdadeira, e a II é uma proposição falsa. </Span>
                    <Span> <Input Type = "Radio" Name = "Q2" Value = "D"/> D) A asserção I é uma proposição falsa, e a II é uma proposição verdadeira. </Span>
                    <Span> <Input Type = "Radio" Name = "Q2" Value = "E"/> E) As asserções I e II são proposições falsas. </Span>
                </Div>
            </Div>

            </Div>
        </Main>

        <Footer>
            <Div>
              <p>
                <a Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
                  Curso de Análise e Desenvolvimento de Sistemas (ADS)
                </a>
              </p>
    
              <Div Class = "fatec_sp_enade">
                <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
                  <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
                </a>
                <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
                  <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
                </a>
                <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
                  <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
                </a>
              </Div>
            </Div>
        </Footer>
    </Body>
</HTML>