<!DOCTYPE html> 
<html lang="pt-br">
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilo.css">
        <title>Questão 2</title>
    </head>
    <body>
        <header>
            <div class="logos">
                <img src="imagens/ofc_logo_inep.svg" class="inep">
                <img src="imagens/logo_enade.png" class="enade">
            </div>
            <nav>
                <ul> 
                    <li><a href="#">Início</a></li> 
                    <li><a href="#">Crédito</a></li>
                    <li><a href="#">Contato</a></li> 
                    <li><a href="#">Sobre</a></li> 
                </ul> 
            </nav>
        </header>
        <main>
            <nav class="nav_questoes">
                <a href="Q1E_EQ8.html"><</a> 
                <a href="Q3B_EQ8.html">3</a> 
                <a href="Q4B_EQ8.html">4</a> 
                <a href="Q5A_EQ8.html">5</a> 
                <a href="Q3B_EQ8.html">></a> 
            </nav>

            <form>
                <h2>Questão 2</h2>
                <section class="questao">
                    <h3>Texto I</h3>
                    <img src="../../Images/Perguntas/Q2AC_ENADE_ADS_2021_EQ8.png" class="questao-img">
                    <br>
                    <h3>Texto II</h3>
                    <p> Em alguns países da Europa, permite-se que um produto de menor valor estéti co seja comercializado. 
                        Estamos falando de um pepino deformado ou de uma cebola pequena, mas não de um produto 
                        contaminado com resíduos químicos ou agentes biológicos. No caso do Brasil, o problema vai além da 
                        aparência, porque há hortaliças ruins – contaminadas, murchas, machucadas – que chegam às bancas 
                        para ser comercializadas.
                         Mas, se nos dois contextos há perda de alimentos e preconceito em relação às hortaliças fora do padrão 
                        visual, mas boas para o consumo, quais seriam as alternati vas para evitar o desperdício e melhorar a 
                        qualidade dos produtos? Para os pesquisadores do assunto, não adianta replicar a experiência europeia no 
                        Brasil, de exigir hortaliças esteti camente perfeitas, porque também teríamos produtos sendo desprezados 
                        ainda na etapa de produção. Não devemos passar de um mercado pouco exigente, que gera desperdício 
                        no varejo e nas residências, para um mercado exigente que gera perda no campo.
                         A solução do problema é conscienti zar os diversos elos da cadeia produti va, especialmente varejistas 
                        e consumidores, para que sejam esclarecidos sobre quais aspectos da aparência das hortaliças 
                        comprometem a qualidade. Quanto maior a exigência do mercado por hortaliças de aparência perfeita, 
                        maior o desperdício de alimentos. Por sua vez, quanto maior a exigência por hortaliças sem danos, 
                        causados pela falta de cuidado e pela falta de higiene, menor será a perda de alimentos e maior a 
                        qualidade da alimentação da população brasileira.</p>
                </section>

                <p class="fonte">TEXTO I:  Disponível em: htt ps://www.facebook.com/embrapa/photos/a.609357055926350/733391400189581/?type=1&theater. 
                    Acesso em: 27 maio 2020.</p>
                <p class="fonte">TEXTO II: Disponível em: htt ps://www.embrapa.br/busca-de-noti cias/-/noti cia/29626389/manuseio-correto-preserva-a-qualidade-e
                    -a-vida-uti l-das-hortalicas. Acesso em: 27 maio 2020 (adaptado).</p>

                <hr>

                <p>Considerando as informações apresentadas nos textos, avalie as asserções a seguir e a relação proposta 
                    entre elas.</p> 
                <p>I. O texto I sinteti za uma informação principal do texto II, ao apresentar critérios disti nti vos de 
                    alterações visuais que têm efeitos puramente estéti cos em produtos alimentí cios daquelas que 
                    têm implicações na qualidade desses produtos.</p> 
                <p class="porque"><strong>PORQUE</strong></p>
                <p>II. O texto II divulga que o aumento das perdas na cadeia produti va de hortaliças no Brasil 
                    é proporcional à elevação de exigências dos consumidores pela aparência de produtos 
                    agropecuários.</p>
                <p> A respeito dessas asserções, assinale a opção correta.</p>

                <input type="radio" name="alternativa" value="a"> 
                <label for="a">As asserções I e II são proposições verdadeiras, e a II é uma justificativa correta da I.</label>
                <br>

                <input type="radio" name="alternativa" value="b"> 
                <label for="b">As asserções I e II são proposiçoes verdadeiras, mas a II não é uma justificativa corrta da I.</label>
                <br>

                <input type="radio" name="alternativa" value="c"> 
                <label for="c">A asserção I é uma proposição verdadeira, e a asserção II é uma proposição falsa.</label>
                <br> 

                <input type="radio" name="alternativa" value="d"> 
                <label for="d">A asserção I é uma proposição falsa, e a II é uma proposição verdadeira.</label>
                <br> 

                <input type="radio" name="alternativa" value="e"> 
                <label for="e">As asserções I e II são proposiçoes falsas.</label>

                <br> 
                <br> 
                <div class="botoes"> 
                    <button id="finalizar">Finalizar</button> 
                    <button id="revisar">Revisar</button> 
                    <button id="corrogir">Corrigir</button> 
                </div>
            </form> 

        </main> 
        <footer> 
            <a href="#"><img src="imagens/logo_fatec.png" class="logo_fatec"></a> 
            <a href="#"><img src="imagens/logo_sp.png" class="logo_sp"></a>  
            <a href="#"><img src="imagens/cps-logo.png" class="logo_cps"></a> 
        </footer> 
    </body> 
</html> 