<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
        <Title>Questão 30 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
        <Link Rel = "Script" Href = "../../js/perguntas.js"/>
    </Head>

    <Body>
        <Header>
            <Div Class = "container">
              <Div Class = "inep_enade">
                <Div Class = "logo_inep">
                  <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
                    <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
                  </a>
                </Div>
                <Span Class = "logo_enade">
                  <b>
                    Enade
                  </b>
                </Span>
              </Div>
              <Div Class = "menu-section">
                <Div Class = "menu-toggle">
                  <Div Class = "one"></Div>
                  <Div Class = "two"></Div>
                  <Div Class = "three"></Div>
                </Div>
                <Nav>
                  <Ul>
                    <Li>
                      <a Href="../../Views/Principal/Index.html">Início</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/Credits.html">Créditos</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/About.html">Sobre</a>
                    </Li>
                  </Ul>
                </Nav>
              </Div>
            </Div>
        </Header>

        

        <Div Class = "numero-pergunta">
            <b>
                <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
                    Questão 30
                </a>            
            </b>
        </Div>

        <Div  Class = "corpo-pergunta">

            <Div Class = "nav-pergunta">
                <a Href = ""><</a>
                <a Href = "">29</a>
                <a Class = "pergunta-selecionada" Href = "">30</a>
                <a Href = "">31</a>
                <a Href = "">></a>
            </Div>

            <Div Class = "texto-pergunta">
                <p>
                    Suponha que sua faculdade tendo, em sua rede de computadores, máquinas que compartilham arquivos
                    e serviços, contratou você para uma consultoria de TI. Atualmente, na sala dos professores, existem
                    3 máquinas ligadas à rede, com as configurações conforme a imagem a seguir. Porém, a estação de
                    trabalho “PROFESSORES01” não consegue enviar documentos para impressão em uma impressora,
                    corretamente instalada e compartilhada na estação de trabalho “PROFESSORES03”.
                </p>

                <Img Class = "imagem-pergunta" Src="../../Images/Perguntas/Q30AC_ENADE_ADS_2021_EQ8.png">
            </Div>

            <Div Class = "enunciado-pergunta">
                <p>Nesse caso, que alteração deve ser realizada para que o problema seja resolvido?</p>
            </Div>

            <Div Class = "alternativas-pergunta">
                <Span> <Input Type = "Radio" Name = "Q30" Value = "A"/> A) Alterar o gateway da estação PROFESSORES03 para 175.16.10.200. </Span>
                <Span> <Input Type = "Radio" Name = "Q30" Value = "B"/> B) Alterar o endereço de IP da estação PROFESSORES01 para 175.16.30.200. </Span>
                <Span> <Input Type = "Radio" Name = "Q30" Value = "C" Id = "alt-correta"/> C) Alterar a máscara de sub-rede da estação PROFESSORES01 para 255.255.0.0. </Span>
                <Span> <Input Type = "Radio" Name = "Q30" Value = "D"/> D) Alterar a máscara de sub-rede da estação PROFESSORES03 para 255.255.255.0. </Span>
                <Span> <Input Type = "Radio" Name = "Q30" Value = "E"/> E)  Alterar o gateway da estação PROFESSORES01 para o endereço de IP 175.16.30.200. </Span>
            </Div>

        </Div>
    </Body>

</HTML>