<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Title>Questão 30 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 30
            </b>
        </Div>

        <Div>
            <p>
                Suponha que sua faculdade tendo, em sua rede de computadores, máquinas que compartilham arquivos<Br>
                e serviços, contratou você para uma consultoria de TI. Atualmente, na sala dos professores, existem<Br>
                3 máquinas ligadas à rede, com as configurações conforme a imagem a seguir. Porém, a estação de<Br>
                trabalho “PROFESSORES01” não consegue enviar documentos para impressão em uma impressora,<Br>
                corretamente instalada e compartilhada na estação de trabalho “PROFESSORES03”.
            </p>
        </Div>

    </Body>

</HTML>