<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Éric Carvalho"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 31 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link Rel = "Script" Href = "../../js/perguntas.js"/>
  </Head>

  <Body>
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 31/35
            </a>            
          </b>
        </Div>
          
        <Div Class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
            <a Href = "Q29AD_EQ8.html"><</a>
            <a Href = "Q30AC_EQ8.html">30</a>
            <a Class = "pergunta-selecionada" Href = "#">31</a>
            <a Href = "Q32AB_EQ8.html">32</a>
            <a Href = "Q33AD_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
            <p>
              Foi solicitado o desenvolvimento de um software para o controle e gestão das matrículas dos alunos
              em uma universidade. Os alunos poderão realizá-las diretamente no sistema, em um terminal a ser 
              disponibilizado na universidade. Além dessas características, o sistema deverá considerar as restrições 
              representadas no diagrama a seguir:
            </p>

            <Img Class = "imagem-pergunta" Src="../../Images/Perguntas/Q31AD_ENADE_ADS_2021_EQ8.png"/>
          </Div>

          <Div Class = "enunciado-pergunta">
            <p>Com base no texto e no diagrama, avalie as afirmações a seguir.</p>
            
            <ol type="I">
              <Li>
                O aluno poderá realizar a matrícula fora do prazo e as tratativas são as mesmas da matrícula feita 
                dentro do prazo.
              </Li>

              <Li>
                O aluno poderá, opcionalmente, realizar a matrícula fora do prazo.
              </Li>

              <Li>
                O sistema, obrigatoriamente, deverá validar o aluno que realizar a matrícula fora do prazo.
              </Li>

              <Li>
                A validação do aluno deverá ser feita a partir da sua matrícula informada no sistema.
              </Li>

              <Li>
                A validação do aluno, a ser feita por retina, é diferente da validação feita pela digital.
              </Li>
            </ol>

            <p>É correto apenas o que se afirma em</p>
          </Div>

          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q29" Value = "A"/> A) I e IV. </Span>
            <Span> <Input Type = "Radio" Name = "Q29" Value = "B"/> B) I, II e IV. </Span>
            <Span> <Input Type = "Radio" Name = "Q29" Value = "C"/> C) I, III e V. </Span>
            <Span> <Input Type = "Radio" Name = "Q29" Value = "D" Id = "alt-correta"/> D) II, III e V. </Span>
            <Span> <Input Type = "Radio" Name = "Q29" Value = "E"/> E) II, III, IV e V. </Span>
          </Div>
            
        </Div>
      </Div>
    </Main>
    
    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>
  
        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>
  </Body>

</HTML>