<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Title>Questão 31 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 31
            </b>
        </Div>

        <Div>
            <p>
                Foi solicitado o desenvolvimento de um software para o controle e gestão das matrículas dos alunos <Br>
                em uma universidade. Os alunos poderão realizá-las diretamente no sistema, em um terminal a ser <Br>
                disponibilizado na universidade. Além dessas características, o sistema deverá considerar as restrições <Br> 
                representadas no diagrama a seguir:
                <img src="../../Images/Perguntas/Q31AD_ENADE_ADS_2021_EQ8.png">
            </p>
        </Div>

    </Body>

</HTML>