<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Title>Questão 32 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 32
            </b>
        </Div>

        <Div>
            <p>
                Um modelo de negócios descreve a lógica de criação, entrega e captura de valor por parte de uma <Br>
                organização. A ferramenta de geração de modelo de negócios Canvas, desenvolvida por Osterwalder, <Br>
                tem sido uma das mais utilizadas, principalmente entre as startups. O Canvas é dividido em nove <Br>
                componentes básicos, que cobrem as quatro áreas principais de um negócio: clientes, oferta, infraestrutura <Br>
                e viabilidade financeira. Os componentes são os seguintes: 1) segmentos de clientes; 2) proposta de valor; <Br>
                3) canais; 4) relacionamento com cliente; 5) fontes de receita; 6) recursos principais; 7) atividades-chave; <Br>
                8) parcerias principais; e 9) estrutura de custo.
            </p>
        </Div>

        <Div>
            <i>
                OSTERWALDER, A.; PIGNEUR, Y. Business Model Generation - Inovação em Modelos de Negócios: <Br>
                um manual para visionários, inovadores e revolucionários. Rio de Janeiro: Alta Books, 2011 (adaptado).
            </i>
        </Div>

    </Body>

</HTML>