<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Éric Carvalho"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 32 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup-correcao.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 1440px)"/>
  </Head>

  <Body Id = "Q32">
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 32/35
            </a>            
          </b>
        </Div>

        <Div  Class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
            <a Href = "Q30AC_EQ8.html"><</a>
            <a Href = "Q31AD_EQ8.html">31</a>
            <a Class = "pergunta-selecionada" Href = "#">32</a>
            <a Href = "Q33AD_EQ8.html">33</a>
            <a Href = "Q34AA_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
            <p>
              Um modelo de negócios descreve a lógica de criação, entrega e captura de valor por parte de uma
              organização. A ferramenta de geração de modelo de negócios Canvas, desenvolvida por Osterwalder,
              tem sido uma das mais utilizadas, principalmente entre as startups. O Canvas é dividido em nove
              componentes básicos, que cobrem as quatro áreas principais de um negócio: clientes, oferta, infraestrutura
              e viabilidade financeira. Os componentes são os seguintes: 1) segmentos de clientes; 2) proposta de valor;
              3) canais; 4) relacionamento com cliente; 5) fontes de receita; 6) recursos principais; 7) atividades-chave;
              8) parcerias principais; e 9) estrutura de custo.
            </p>
          </Div>

          <Div Class = "fonte-pergunta">
            <Blockquote>
              <i>
                OSTERWALDER, A.; PIGNEUR, Y. Business Model Generation - Inovação em Modelos de Negócios:
                um manual para visionários, inovadores e revolucionários. Rio de Janeiro: Alta Books, 2011 (adaptado).
              </i>
            </Blockquote>
          </Div>

          <Div Class = "enunciado-pergunta">
            <p>Diante deste contexto, conclui-se que as startups</p>
          </Div>

          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q32" Value = "A"/> A) financeiras desenvolvem primeiro o plano de negócios, para em seguida partir para o Canvas. </Span>
            <Span> <Input Type = "Radio" Name = "Q32" Value = "B" Id = "alt-correta"/> B) de big data utilizam o Canvas para a modelagem da validação da ideia de negócio, ou seja, do problema a ser resolvido. </Span>
            <Span> <Input Type = "Radio" Name = "Q32" Value = "C"/> C) de educação dispensam a utilização do Canvas, ou seja, os modelos de negócios deste segmento já nascem validados. </Span>
            <Span> <Input Type = "Radio" Name = "Q32" Value = "D"/> D) de logística utilizam o plano de negócios ao invés do Canvas, ou seja, elas nascem a partir de um produto mínimo viável (MVP). </Span>
            <Span> <Input Type = "Radio" Name = "Q32" Value = "E"/> E) de impacto social podem desconsiderar o componente 1 (segmentos de clientes), pois possuem somente um segmento. </Span>
          </Div>

          <Div Class = "buttons-nav">
            <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "salvaResultadoSimulado()"/>
            <Input Type = "Button" id="popup" Class = "button-nav" Value = "Menu" onclick="abrirPopUp()"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>

        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>
  
        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/menu.js"></Script>
    <Script Src = "../../js/contar.js"></Script>
    <Script src = "../../js/corrigir.js"></Script>
    <script src="../../js/popup.js"></script>
  </Body>

</HTML>