<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Éric Carvalho"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 33 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup-correcao.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 768px)"/>
  </Head>

  <Body Id = "Q33">
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 33/35
            </a>            
          </b>
        </Div>

        <Div  Class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
            <a Href = "Q31AD_EQ8.html"><</a>
            <a Href = "Q32AB_EQ8.html">32</a>
            <a Class = "pergunta-selecionada" Href = "#">33</a>
            <a Href = "Q34AA_EQ8.html">34</a>
            <a Href = "Q35AA_EQ8.html">></a>
          </Div>

          <Div class="texto-pergunta">
            <p>
              Um dos fatores essenciais para o sucesso de um Processo de Software é a habilidade de capturar e gerenciar 
              as mudanças e oportunidades de negócio. Muitas vezes as oportunidades de negócio são perdidas em 
              função do tempo requerido para efetivar mudanças nos sistemas de software ou em função de defeitos 
              nesse sistema. Basicamente, o software é o Produto do Processo de Software. Assim, identificar o grau de 
              desenvolvimento do processo de software de uma empresa é o passo inicial para o seu melhoramento. 
              O Modelo de Maturidade da Capacidade (CMMi) descreve práticas, processos e atividades de gestão, guiando
              o melhoramento do Processo de Software para atingir o mais elevado nível de maturidade da capacidade.
            </p>
          </Div>

          <Div Class = "enunciado-pergunta">  
            <p>
              Considerando os diversos aspectos do processo de desenvolvimento de um produto ou sistema de 
              software, avalie as afirmações a seguir.
            </p>
            
            <Ol Type = "I">
              <Li>
                A maturidade implica no crescimento da capacidade e indica tanto a efetividade do Processo 
                de Software quanto o grau de consistência com que este é aplicado nos diferentes projetos 
                desenvolvidos pela organização.
              </Li>

              <Li>
                A maturidade do Processo de Software implica melhorias contínuas do processo com base em 
                etapas evolutivas que se caracterizam pela capacidade de inovação e absorção de novas tecnologias.                
              </Li>

              <Li>
                A maturidade do Processo de Software implica na sua institucionalização por meio de políticas e 
                padrões organizacionais levando a uma cultura corporativa de métodos, práticas e procedimentos 
                com efetividade plenamente reconhecida.
              </Li>

              <Li>
                Cada nível do CMMi implica na satisfação de um conjunto de metas de processo que estabilizam 
                um componente importante do Processo de Software e representa o seu estágio de maturidade 
                da capacidade.
              </Li>

              <Li>
                A validação do aluno, a ser feita por retina, é diferente da validação feita pela digital.
              </Li>
            </Ol>

            <p>
              É correto apenas o que se afirma em
            </p>
          </Div>

          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q33" Value = "A"/> A) III.</Span>
            <Span> <Input Type = "Radio" Name = "Q33" Value = "B"/> B) I e II. </Span>
            <Span> <Input Type = "Radio" Name = "Q33" Value = "C"/> C) II e IV.</Span>
            <Span> <Input Type = "Radio" Name = "Q33" Value = "D" Id = "alt-correta"/> D) I, III e IV.</Span>
            <Span> <Input Type = "Radio" Name = "Q33" Value = "E"/> E) I, II, III e IV.</Span>
          </Div>

          <Div Class = "buttons-nav">
            <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "salvaResultadoSimulado()"/>
            <Input Type = "Button" id="popup" Class = "button-nav" Value = "Menu" onclick="abrirPopUp()"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>

        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>
  
        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/menu.js"></Script>
    <Script Src = "../../js/contar.js"></Script>
    <Script src = "../../js/corrigir.js"></Script>
    <script src="../../js/popup.js"></script>
  </Body>

</HTML>