<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Title>Questão 33 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 33
            </b>
        </Div>

        <Div>
            <p>
                Um dos fatores essenciais para o sucesso de um Processo de Software é a habilidade de capturar e gerenciar <Br>
                as mudanças e oportunidades de negócio. Muitas vezes as oportunidades de negócio são perdidas em <Br>
                função do tempo requerido para efetivar mudanças nos sistemas de software ou em função de defeitos <Br>
                nesse sistema. Basicamente, o software é o Produto do Processo de Software. Assim, identificar o grau de <Br> 
                desenvolvimento do processo de software de uma empresa é o passo inicial para o seu melhoramento. <Br>
                O Modelo de Maturidade da Capacidade (CMMi) descreve práticas, processos e atividades de gestão, guiando <Br>
                o melhoramento do Processo de Software para atingir o mais elevado nível de maturidade da capacidade.
            </p>
        </Div>

    </Body>

</HTML>