<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Title>Questão 34 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 34
            </b>
        </Div>

        <Div>
            <p>
                Sistemas especialistas são aqueles que fazem uso intensivo do conhecimento especializado para resolver <Br>
                problemas de modo semelhante àquele de um especialista humano. Uma das diversas utilizações de <Br>
                sistemas especialistas é na elaboração de diagnósticos destinados a inferir sobre o mau funcionamento <Br> 
                de um sistema, a partir de observações, de modo a prescrever soluções para a anomalia detectada. <Br>
                A medicina, atualmente, já se beneficia do uso de sistemas especialistas em conjunto com técnicas de <Br>
                inferência estatística.
            </p>

            <p>
                Uma das formas de trabalhar com sistemas especialistas é por meio do uso de “regras de produção”, <Br>
                que são instruções do tipo “se - então”. As regras de produção aplicam-se à memória de trabalho, <Br>
                que contém dados, e se tiverem êxito, contribuirão com alguma nova informação para a memória. 
            </p>
            
            <p>
                A metodologia de trabalho de um médico do serviço de emergência inclui a utilização de um sistema <Br>
                especialista para diagnóstico de dengue, para o qual se encontra a seguinte regra de produção.
            </p>

            <p>
                Se ((temperatura > 38º) e (dores musculares intensas)) <Br>
                então (quadro de dengue, com 70% de chance); <Br>
                senão(quadro de resfriado comum com 30% de chance); 
            </p>
        </Div>

    </Body>

</HTML>