<!DocType HTML>

<HTML Lang = "PT-BR">

    <Head>
        <Meta CharSet = "UTF-8"/>
        <Meta Name = "Author" Content = "Éric Carvalho"/>
        <Title>Questão 35 - SimuNade</Title>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    </Head>

    <Body>

        <Div>
            <b>
                Questão 35
            </b>
        </Div>

        <Div>
            <p>
                Uma equipe de matemáticos foi contratada para proceder com a análise e especificação de critérios para <Br>
                a identificação de potenciais clientes para uma empresa de seguros. Após a análise, a equipe determinou <Br>
                que deve-se considerar as seguintes variáveis: <Br>
            </p>

            <p>
                a) ser maior de idade. <Br>
                b) possuir residência própria ou não. <Br>
                c) possuir algum parente que já possui seguro da companhia <Br>
            </p>

            <p>
                Em função da análise realizada, a companhia pretende estipular a viabilidade ou não do seguro, além <Br>
                de decidir seu preço. A equipe contratada modelou cada variável identificada utilizando as seguintes <Br>
                funções booleanas
            </p>

            <img src="../../Images/Perguntas/Q35AA_ENADE_ADS_2021_EQ8.png">
        </Div>

    </Body>

</HTML>