<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Paulo Felipe Siva Simão"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 3 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup-correcao.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 768px)"/>
  </Head>

  <Body Id = "Q3">
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main> 
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 3/35
            </a>            
          </b>
        </Div>

        <Div Class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
              <a Href = "Q2AC_EQ8.html"><</a>
              <a Href = "Q2AC_EQ8.html">2</a>
              <a Class="pergunta-selecionada" Href = "Q3AB_EQ8.html">3</a>
              <a Href = "Q4AB_EQ8.html">4</a>
              <a Href = "Q4AB_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
              <h3>Texto I</h3>
              <p>
                Na Alemanha nazista, no auge da Segunda Guerra Mundial, surgiu a necessidade de abrir mais espaço 
                para os veículos automotivos. Com muitos ciclistas, as bicicletas viraram um empecilho, forçando a 
                criação de um espaço exclusivo para elas – talvez as primeiras ciclovias do mundo. Mas, se na década 
                de 1940 os veículos eram prioridade, hoje, o uso de bicicletas – e das ciclovias – surge como uma das 
                principais alternativas para melhorar a qualidade de vida nas grandes metrópoles. Quando políticas 
                públicas incentivam o uso de bicicletas como meio de transporte para curtas e médias distâncias, um 
                novo panorama se abre.
              </p>

              <h3>Texto II</h3>
              
              <img src="../../Images/Perguntas/Q3AB_ENADE_ADS_2021_EQ8.png" Class = "imagem-pergunta">
          </Div>

          <Div Class = "fonte-pergunta">
            <Blockquote>
              <i>
                TEXTO I:COSTA, J. Ciclovias ajudam a humanizar o espaço urbano. Ciência e Cultura . v. 68, n. 2, São Paulo, 2016 (adaptado) .
                <br>
                TEXTO II:  Disponível em: htt p://dopedal.blogspot.com/2012/05/charge-do-silverio-voz-da-serra.html. Acesso em: 29 de abr. 2020.
              </i>
            </Blockquote>
          </Div>

          <Div Class = "enunciado-pergunta">
            <p>
              Considerando as informações apresentadas e o uso de bicicletas como alternativa para melhorar a 
              qualidade de vida nas cidades, avalie as afirmações a seguir.
            </p>

            <p>
              I. Dado que as bicicletas são veículos que ocupam pouco espaço na malha viária, prescinde-se de 
              investimentos públicos em construção de ciclovias, sendo prioritárias campanhas de conscientização 
              de motoristas a respeito dos benefícios do uso da bicicleta como meio de transporte.
            </p>

            <p>
              II. O uso das bicicletas como meio de transporte contribui para a melhoria da qualidade de vida nas 
              grandes metrópoles, pois elas não emitem poluentes, além de esse uso proporcionar a prática de 
              atividade física.
            </p>

            <p>
              III. A parti r da Segunda Guerra Mundial, durante o governo da Alemanha nazista, o uso da bicicleta 
              como meio de transporte tornou-se eficaz e passou a prevalecer nas cidades europeias.
            </p>

            <p>
              É correto o que se afirma em
            </p>
          </Div>

          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q3" Value = "A"/> A) I, apenas. </Span>
            <Span> <Input Type = "Radio" Name = "Q3" Value = "B" Id = "alt-correta"/> B) II, apenas. </Span>
            <Span> <Input Type = "Radio" Name = "Q3" Value = "C"/> C) I e III, apenas. </Span>
            <Span> <Input Type = "Radio" Name = "Q3" Value = "D"/> D) II e III, apenas. </Span>
            <Span> <Input Type = "Radio" Name = "Q3" Value = "E"/> E) I, II e III. </Span>
          </Div>

          <Div Class = "buttons-nav">
            <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "salvaResultadoSimulado()"/>
            <Input Type = "Button" id="popup" Class = "button-nav" Value = "Menu" onclick="abrirPopUp()"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>
        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>

        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/menu.js"></Script>
    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
    <script src="../../js/popup.js"></script>
  </Body>
</HTML>