<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Paulo Felipe Siva Simão"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 4 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup-correcao.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 768px)"/>
  </Head>

  <Body Id = "Q4">
    <Header>
        <Div Class = "container">
          <Div Class = "inep_enade">
            <Div Class = "logo_inep">
              <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br">    
                <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
              </a>
            </Div>
            <Span Class = "logo_enade">
              <b>
                Enade
              </b>
            </Span>
          </Div>
          <Div Class = "menu-section">
            <Div Class = "menu-toggle">
              <Div Class = "one"></Div>
              <Div Class = "two"></Div>
              <Div Class = "three"></Div>
            </Div>
            <Nav>
              <Ul>
                <Li>
                  <a Href="../../Views/Principal/Index.html">Início</a>
                </Li>
                <Li>
                  <a Href="../../Views/Principal/Credits.html">Créditos</a>
                </Li>
                <Li>
                  <a Href="../../Views/Principal/About.html">Sobre</a>
                </Li>
              </Ul>
            </Nav>
          </Div>
        </Div>
    </Header>

    <Main> 
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 4/35
            </a>            
          </b>
        </Div>

        <Div  Class = "corpo-pergunta">
          <Div Class = "nav-pergunta">
            <a Href = "Q3AB_EQ8.html"><</a>
            <a Href = "Q3AB_EQ8.html">3</a>
            <a Class="pergunta-selecionada" Href = "Q4AB_EQ8.html">4</a>
            <a Href = "Q5AA_EQ8.html">5</a>
            <a Href = "Q5AA_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
            <p>
              Além do contexto econômico, o avanço da tecnologia também é um dos responsáveis pelo aumento dos 
              trabalhadores informais. E a tendência de contratação de freelancers por meio de plataformas digitais, 
              como aplicativos de delivery e de mobilidade urbana, ganhou até um nome: Gig Economy , ou economia 
              dos bicos. Para os gigantes de tecnologia detentores desses aplicativos, os motoristas são trabalhadores 
              autônomos, que não possuem vínculo empregatício. Além de não estarem sujeitos a nenhuma 
              regulamentação e proteção legal, os profissionais que desenvolvem esse tipo de trabalho deixam de 
              contribuir para a Previdência Social e de possuir benefícios como Fundo de Garantia por Tempo de 
              Serviço (FGTS), férias e décimo terceiro salário. Não obstante, ainda arcam com todo o custo da atividade 
              que exercem. Em uma reportagem que ouviu alguns desses trabalhadores, motoristas afirmaram sofrer 
              com problemas de coluna e com o estresse no trânsito, além das longas jornadas de trabalho. Por esses 
              motivos, a Gig Economy está no centro de uma discussão mundial acerca da responsabilidade dessas 
              companhias milionárias sobre as condições de trabalho da mão de obra que contratam. No meio do limbo 
              jurídico, quem sofre são os trabalhadores dessas plataformas, que ficam duplamente desprotegidos ― 
              pelas empresas e pelo Estado.
            </p>
          </Div>

          <Div Class = "fonte-pergunta">
            <Blockquote>
              <i>
                Disponível em: htt ps://exame.abril.com.br/carreira/quais-sao-as-consequencia-do-trabalho-informal-no-pais/. 
                Acesso em: 18 abr. 2020 (adaptado).
              </i>
            </Blockquote>
          </Div>

          <Div Class = "enunciado-pergunta">
            <p>
              A partir das informações apresentadas, avalie as asserções a seguir e a relação proposta entre elas.
            </p>

            <p>
              I. Trabalhadores autônomos informais que atuam em plataformas digitais sem qualquer vínculo 
              empregatício, desprotegidos de regulamentação ou lei trabalhista, compõem a Gig Economy 
            </p>

            <p>
                PORQUE
            </p>

            <p>
              II. Os trabalhadores, na Gig Economy , arcam com todos os custos necessários para desempenhar 
              o seu trabalho, ganham por produção e enfrentam longas jornadas diárias, o que os deixa mais 
              desgastados e com problemas de saúde.
            </p>

            <p>
              A respeito dessas asserções, assinale a opção correta.
            </p>
          </Div>

          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q4" Value = "A"/> A) As asserções I e II são proposições verdadeiras, e a II é uma justificativa correta da I. </Span>
              <br>
            <Span> <Input Type = "Radio" Name = "Q4" Value = "B" Id = "alt-correta"/> B) As asserções I e II são proposições verdadeiras, mas a II não é uma justificativa correta da I. </Span>
              <br>
            <Span> <Input Type = "Radio" Name = "Q4" Value = "C"/> C) A asserção I é uma proposição verdadeira, e a II é uma proposição falsa. </Span>
              <br>
            <Span> <Input Type = "Radio" Name = "Q4" Value = "D"/> D) A asserção I é uma proposição falsa, e a II é uma proposição verdadeira. </Span>
              <br>
            <Span> <Input Type = "Radio" Name = "Q4" Value = "E"/> E) As asserções I e II são proposições falsas. </Span>
          </Div>

          <Div Class = "buttons-nav">
            <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "salvaResultadoSimulado()"/>
            <Input Type = "Button" id="popup" Class = "button-nav" Value = "Menu" onclick="abrirPopUp()"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>
          
        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>

        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/menu.js"></Script>
    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
    <script src="../../js/popup.js"></script>
  </Body>
</HTML>