<!DOCTYPE html> <!-- Abrindo a tag DOCTYPE para definir o tipo HTML-->
<html lang="pt-br"> <!-- Abrindo a tag html-->
    <head> <!-- Abrindo a tag head, para o cabeçalho da página-->
        <meta charset="UTF-8"> <!-- Tag para o documento aceitar caracteres especiais-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilo.css"> <!-- Linkando a página ao css externo-->
        <title>Questão 4</title> <!-- Definindo o título da página-->
    </head> <!-- Fechando a tag para do cabeçalho-->
    <body> <!-- Abrindo a tag do corpo da página-->
        <header> <!-- Abrindo a tag Header, para fazer o cabeçalho da página-->
            <div class="logos"> <!-- Abrindo uma div para agrupar as imagens dos logos, dando classe "logos"-->
                <img src="imagens/ofc_logo_inep.svg" class="inep"> <!-- Inserindo a imagem do logo do inep-->
                <img src="imagens/logo_enade.png" class="enade"> <!-- Inserindo a imagem do logo do enade-->
            </div> <!-- Fechando a div logos-->
            <nav> <!-- Abrindo uma nav, para colocar os liks de acesso-->
                <ul> <!-- Abrindo tag ul para lista não ordenda-->
                    <li><a href="#">Início</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de início-->
                    <li><a href="#">Crédito</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de créditos-->
                    <li><a href="#">Contato</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de contato-->
                    <li><a href="#">Sobre</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de sobre-->
                </ul> <!-- Fechando a tag da lista não ordenada-->
            </nav> <!-- Fechando a navegação-->
        </header> <!-- Fechando o cabecalho-->
        <main> <!-- Abrindo a tag main, para colocar o conteúdo principal-->
            <nav class="nav_questoes"> <!-- Abrindo uma navegação, para nevegar pelas questões-->
                <a href="Q3B_EQ8.html"><</a> <!-- Colocando link para a questão anterior-->
                <a href="Q5A_EQ8.html">5</a> <!-- Colocando link para outra questão-->
                <a href="Q6A_EQ8.html">6</a> <!-- Colocando link para outra questão-->
                <a href="Q7C_EQ8.html">7</a> <!-- Colocando link para outra questão-->
                <a href="Q5A_EQ8.html">></a> <!-- Colocando link para a próxima questão-->
            </nav> <!-- Fechando a navegação para as questões-->

            <form> <!-- Abrindo a tag form, para fazer um formulário-->
                <h2>Questão 4</h2> <!-- Colocando a tag h2 para colocar o titulo da questão-->
                <section class="questao"> <!-- Abrindo uma section "questao", para escrever a questão-->
                    <!-- As linhas abaixo dentro da tag p (paragrafo), é o enunciado da questão-->
                    <p>Além do contexto econômico, o avanço da tecnologia também é um dos responsáveis pelo aumento dos 
                        trabalhadores informais. E a tendência de contratação de freelancers por meio de plataformas digitais, 
                        como aplicati vos de delivery e de mobilidade urbana, ganhou até um nome: Gig Economy , ou economia 
                        dos bicos. Para os gigantes de tecnologia detentores desses aplicati vos, os motoristas são trabalhadores 
                        autônomos, que não possuem vínculo empregatí cio. Além de não estarem sujeitos a nenhuma 
                        regulamentação e proteção legal, os profi ssionais que desenvolvem esse ti po de trabalho deixam de 
                        contribuir para a Previdência Social e de possuir benefí cios como Fundo de Garanti a por Tempo de 
                        Serviço (FGTS), férias e décimo terceiro salário. Não obstante, ainda arcam com todo o custo da ati vidade 
                        que exercem. Em uma reportagem que ouviu alguns desses trabalhadores, motoristas afi rmaram sofrer 
                        com problemas de coluna e com o estresse no trânsito, além das longas jornadas de trabalho. Por esses 
                        moti vos, a Gig Economy está no centro de uma discussão mundial acerca da responsabilidade dessas 
                        companhias milionárias sobre as condições de trabalho da mão de obra que contratam. No meio do limbo 
                        jurídico, quem sofre são os trabalhadores dessas plataformas, que fi cam duplamente desprotegidos ― 
                        pelas empresas e pelo Estado.</p>
                </section> <!-- Fechando a section questao-->

                <!-- Abrindo a tag p para fazer a fonte da questão-->
                <p class="fonte">Disponível em: htt ps://exame.abril.com.br/carreira/quais-sao-as-consequencia-do-trabalho-informal-no-pais/. 
                    Acesso em: 18 abr. 2020 (adaptado).</p>
                <hr> <!-- Usandoa a tag hr para fazer uma linha para separar o conteúdo-->
                
                <!-- Utilizando as seguintes tags p para fazer o enunciado da questão-->
                <p> A parti r das informações apresentadas, avalie as asserções a seguir e a relação proposta entre elas.</p>
                <p>I. Trabalhadores autônomos informais que atuam em plataformas digitais sem qualquer vínculo 
                    empregatí cio, desprotegidos de regulamentação ou lei trabalhista, compõem a Gig Economy.</p>
                <p class="porque"><strong>PORQUE</strong></p>
                <p>II. Os trabalhadores, na Gig Economy , arcam com todos os custos necessários para desempenhar 
                    o seu trabalho, ganham por produção e enfrentam longas jornadas diárias, o que os deixa mais 
                    desgastados e com problemas de saúde.</p>
                <p>A respeito dessas asserções, assinale a opção correta.</p>

                <input type="radio" name="alternativa" value="a"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="a">As asserções I e II são proposições verdadeiras, e a II é uma justificativa correta da I.</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="b"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referene ao radio button-->
                <label for="b">As asserções I e II são proposições verdadeiras, mas a II não é uma justificativa correta da I.</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="c"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="c">A asserção I é uma proposição verdadeira, e a II é uma proposição falsa.</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="d"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="d">A asserção I é uma proposição falsa, e a II é uma proposição verdadeira.</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="e"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="e">As asserções I e II são proposições falsas.</label>
                <br> <!-- Tag para pular uma linha-->

                <br> <!-- Tag para pular uma linha-->
                <div class="botoes"> <!-- Abrindo uma div "botoes", para colocar os botoes-->
                    <button id="finalizar">Finalizar</button> <!-- Botao para finalizar-->
                    <button id="revisar">Revisar</button> <!-- Botao para revisar-->
                    <button id="corrogir">Corrigir</button> <!-- Botao para corrigir-->
                </div> <!-- Fechando a div botoes-->
            </form> <!-- Fechando o formulário-->
        </main> <!-- Fechando a tag main-->
        <footer> <!-- Abrindo a tag fotter, para fazer o rodapé da página-->
            <a href="#"><img src="imagens/logo_fatec.png" class="logo_fatec"></a> <!-- Colocando uma imagem como link para a fatec-->
            <a href="#"><img src="imagens/logo_sp.png" class="logo_sp"></a> <!-- Colocando uma imagem como link-->
            <a href="#"><img src="imagens/cps-logo.png" class="logo_cps"></a> <!-- Colocando uma imagem como link-->
        </footer> <!-- Fechando o rodapé da página-->
    </body> <!-- Fechando o corpo da página-->
</html> <!-- Fechando a tag HTML-->