<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Paulo Felipe Siva Simão"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 5 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup-correcao.css"/>
  </Head>

  <Body Id = "Q5">
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main> 
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 5/35
            </a>            
          </b>
        </Div>

        <Div  Class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
            <a Href = "Q4AB_EQ8.html"><</a>
            <a Href = "Q4AB_EQ8.html">4</a>
            <a Class="pergunta-selecionada" Href = "Q5AA_EQ8.html">5</a>
            <a Href = "Q6AA_EQ8.html">6</a>
            <a Href = "Q6AA_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
            <h3>Texto I</h3>
            <p>
              Segundo o Ministério da Saúde, em 2017 o Brasil registrou uma média nacional de 5,7 óbitos para 
              100 mil habitantes. Na população indígena, foi registrado um número de óbitos três vezes maior que 
              a média nacional – 15,2. Destes registros, 44,8% (aproximadamente, 6,8 óbitos), são suicídios de 
              crianças e adolescentes entre 10 e 19 anos. Esses dados contrastam com o panorama nacional, 
              em que o maior índice é entre adolescentes e adultos de 15 a 20 anos.
            </p>

            <h3>Texto II</h3>
            <p>
              Evidências apontam que, em determinadas minorias étnico-raciais, como os indígenas (aborígines ou 
              populações nati vas), o suicídio entre crianças apresenta taxas bem mais elevadas do que as observadas 
              na população geral. No Brasil, o enforcamento foi uti lizado mais frequentemente entre indígenas do que 
              entre não indígenas, não se observando, no primeiro grupo, suicídios por intoxicação ou por armas de 
              fogo. O mapa a seguir apresenta a distribuição dos óbitos por suicídio entre crianças e adolescentes 
              indígenas no Brasil, entre os anos de 2010 e 2014.
            </p>
            
            <img Class = "imagem-pergunta" src="../../Images/Perguntas/Q5AA_ENADE_ADS_2021_EQ8.png"/>
          </Div>

          <Div Class = "fonte-pergunta">
            <Blockquote>
              <i>
                TEXTO I: Disponível em: htt ps://www.cvv.org.br/blog/o-suicidio-do-povo-indigena/. Acesso em: 30 de abr. 2020 (adaptado).
                <br>
                TEXTO II:  SOUZA, M. Mortalidade por suicídio entre crianças indígenas no Brasil. Caderno de Saúde Pública, v.35, Rio de Janeiro, 2019 (adaptado).
              </i>
            </Blockquote>
          </Div>

          <Div Class = "enunciado-pergunta">
            <p>
              Considerando as informações apresentadas e o alto índice de suicídio da população indígena, avalie as afirmações a seguir.
            </p>

            <p>
              I. O elevado índice de suicídios entre crianças e adolescentes indígenas no país evidencia a 
              necessidade de ações com foco nos direitos fundamentais desses indivíduos.
            </p>

            <p>
              II. Os estados do Pará e de Tocanti ns são os que possuem os maiores índices de suicídio de indígenas 
              na faixa etária de 10 a 14 anos.
            </p>

            <p>
              III. Os povos das tribos originárias do Brasil, no que tange a sua história e preservação cultural, 
              não estão amparados por direitos e garantias constitucionais.
            </p>

            <p>
              IV. O estabelecimento de ações preventi vas ao suicídio nas comunidades indígenas deve considerar 
              os elementos globais que afetam a população em geral, na faixa etária entre 15 e 20 anos.
            </p>

            <p>
              É correto apenas o que se afirma em
            </p>
          </Div>

          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q5" Value = "A" Id = "alt-correta"/> A) I. </Span>
            <Span> <Input Type = "Radio" Name = "Q5" Value = "B"/> B) II. </Span>
            <Span> <Input Type = "Radio" Name = "Q5" Value = "C"/> C) I e III. </Span>
            <Span> <Input Type = "Radio" Name = "Q5" Value = "D"/> D) II e IV. </Span>
            <Span> <Input Type = "Radio" Name = "Q5" Value = "E"/> E) III e IV. </Span>
          </Div>

          <Div Class = "buttons-nav">
            <a Href = "Resultado.html">
              <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "teste()"/>
            </a>
            <Input Type = "Button" id="popup" Class = "button-nav" Value = "Menu" onclick="abrirPopUp()"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>
        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>

        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
    <script src="../../js/popup.js"></script>
  </Body>
</HTML>