<!DOCTYPE html> <!-- Abrindo a tag DOCTYPE para definir o tipo HTML-->
<html lang="pt-br"> <!-- Abrindo a tag html-->
    <head> <!-- Abrindo a tag head, para o cabeçalho da página-->
        <meta charset="UTF-8"> <!-- Tag para o documento aceitar caracteres especiais-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilo.css"> <!-- Linkando a página ao css externo-->
        <title>Questão 5</title> <!-- Definindo o título da página-->
    </head> <!-- Fechando a tag para do cabeçalho-->
    <body> <!-- Abrindo a tag do corpo da página-->
        <header> <!-- Abrindo a tag Header, para fazer o cabeçalho da página-->
            <div class="logos"> <!-- Abrindo uma div para agrupar as imagens dos logos, dando classe "logos"-->
                <img src="imagens/ofc_logo_inep.svg" class="inep"> <!-- Inserindo a imagem do logo do inep-->
                <img src="imagens/logo_enade.png" class="enade"> <!-- Inserindo a imagem do logo do enade-->
            </div> <!-- Fechando a div logos-->
            <nav> <!-- Abrindo uma nav, para colocar os liks de acesso-->
                <ul> <!-- Abrindo tag ul para lista não ordenda-->
                    <li><a href="#">Início</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de início-->
                    <li><a href="#">Crédito</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de créditos-->
                    <li><a href="#">Contato</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de contato-->
                    <li><a href="#">Sobre</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de sobre-->
                </ul> <!-- Fechando a tag da lista não ordenada-->
            </nav> <!-- Fechando a navegação-->
        </header> <!-- Fechando o cabecalho-->
        <main> <!-- Abrindo a tag main, para colocar o conteúdo principal-->
            <nav class="nav_questoes"> <!-- Abrindo uma navegação, para nevegar pelas questões-->
                <a href="Q4B_EQ8.html"><</a> <!-- Colocando link para a questão anterior-->
                <a href="Q5A_EQ8.html">6</a> <!-- Colocando link para outra questão-->
                <a href="Q7C_EQ8.html">7</a> <!-- Colocando link para outra questão-->
                <a href="#">8</a> <!-- Colocando link para outra questão-->
                <a href="Q6A_EQ8.html">></a> <!-- Colocando link para a próxima questão-->
            </nav> <!-- Fechando a navegação para as questões-->

            <form> <!-- Abrindo a tag form, para fazer um formulário-->
                <h2>Questão 5</h2> <!-- Colocando a tag h2 para colocar o titulo da questão-->
                <section class="questao"> <!-- Abrindo uma section "questao", para escrever a questão-->
                    <h3>Texto I</h3> <!-- Colocando o subtítulo no texto-->
                    <!-- As linhas abaixo dentro da tag p (paragrafo), é o enunciado da questão-->
                    <p>Segundo o Ministério da Saúde, em 2017 o Brasil registrou uma média nacional de 5,7 óbitos para 
                        100 mil habitantes. Na população indígena, foi registrado um número de óbitos três vezes maior que 
                        a média nacional – 15,2. Destes registros, 44,8% (aproximadamente, 6,8 óbitos), são suicídios de 
                        crianças e adolescentes entre 10 e 19 anos. Esses dados contrastam com o panorama nacional, 
                        em que o maior índice é entre adolescentes e adultos de 15 a 20 anos.</p>
                    <br> <!-- Pulando uma linha-->
                    <h3>Texto II</h3>
                    <!-- As linha abaixo dentro da tag p (paragrafo), é o enunciado da questão-->
                    <p>Evidências apontam que, em determinadas minorias étnico-raciais, como os indígenas (aborígines ou 
                        populações nati vas), o suicídio entre crianças apresenta taxas bem mais elevadas do que as observadas 
                        na população geral. No Brasil, o enforcamento foi uti lizado mais frequentemente entre indígenas do que 
                        entre não indígenas, não se observando, no primeiro grupo, suicídios por intoxicação ou por armas de 
                        fogo. O mapa a seguir apresenta a distribuição dos óbitos por suicídio entre crianças e adolescentes 
                        indígenas no Brasil, entre os anos de 2010 e 2014.</p>
                        <img src="../../Images/Perguntas/Q5AA_ENADE_ADS_2021_EQ8.png" class="questao-img"> <!-- Colocando a imagem da questão-->
                </section> <!-- Fechando a section questao-->

                <!-- Abrindo a tag p para fazer a fonte da questão-->
                <p class="fonte">TEXTO I: Disponível em: htt ps://www.cvv.org.br/blog/o-suicidio-do-povo-indigena/. Acesso em: 30 de abr. 2020 (adaptado).</p>
                <p class="fonte">TEXTO II: SOUZA, M. Mortalidade por suicídio entre crianças indígenas no Brasil. Caderno de Saúde Pública, v.35, Rio de Janeiro, 2019 (adaptado).</p>
                <hr> <!-- Usandoa a tag hr para fazer uma linha para separar o conteúdo-->

                <!-- Utilizando as seguintes tags p para fazer o enunciado da questão-->
                <p>Considerando as informações apresentadas e o alto índice de suicídio da população indígena, avalie as 
                    afi rmações a seguir.</p>
                <p>I. O elevado índice de suicídios entre crianças e adolescentes indígenas no país evidencia a 
                    necessidade de ações com foco nos direitos fundamentais desses indivíduos.</p>
                <p>II. Os estados do Pará e de Tocanti ns são os que possuem os maiores índices de suicídio de indígenas 
                    na faixa etária de 10 a 14 anos.</p>
                <p>III. Os povos das tribos originárias do Brasil, no que tange a sua história e preservação cultural, 
                    não estão amparados por direitos e garantias constitucionais.</p>
                <p>IV. O estabelecimento de ações preventi vas ao suicídio nas comunidades indígenas deve considerar 
                    os elementos globais que afetam a população em geral, na faixa etária entre 15 e 20 anos.</p>
                <p>É correto apenas o que se afirma em</p>

                <input type="radio" name="alternativa" value="a"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao redio button-->
                <label for="a">I</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="b"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="b">II</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="c"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="c">I e III</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="d"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="d">II e IV</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="e"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="e">III e IV</label>
                <br> <!-- Tag para pular uma linha-->

                <br> <!-- Tag para pular uma linha-->
                <div class="botoes"> <!-- Abrindo uma div "botoes", para colocar os botoes-->
                    <button id="finalizar">Finalizar</button> <!-- Botao para finalizar-->
                    <button id="revisar">Revisar</button> <!-- Botao para revisar-->
                    <button id="corrogir">Corrigir</button> <!-- Botao para corrigir-->
                </div> <!-- Fechando a div botoes-->
            </form> <!-- Fechando o formulário-->
        </main> <!-- Fechando a tag main-->
        <footer> <!-- Abrindo a tag fotter, para fazer o rodapé da página-->
            <a href="#"><img src="imagens/logo_fatec.png" class="logo_fatec"></a> <!-- Colocando uma imagem como link para a fatec-->
            <a href="#"><img src="imagens/logo_sp.png" class="logo_sp"></a> <!-- Colocando uma imagem como link-->
            <a href="#"><img src="imagens/cps-logo.png" class="logo_cps"></a> <!-- Colocando uma imagem como link-->
        </footer> <!-- Fechando o rodapé da página-->
    </body> <!-- Fechando o corpo da página-->
</html> <!-- Fechando a tag HTML-->