<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Paulo Felipe Siva Simão"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 6 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
    <Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup-correcao.css"/>
  </Head>

  <Body Id = "Q6">
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main> 
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 6/35
            </a>            
          </b>
        </Div>

        <Div  Class = "corpo-pergunta">
          <Div Class = "nav-pergunta">
            <a Href = "Q5AA_EQ8.html"><</a>
            <a Href = "Q5AA_EQ8.html">5</a>
            <a Class="pergunta-selecionada" Href = "Q6AA_EQ8.HTML">6</a>
            <a Href = "Q7AC_EQ8.html">7</a>
            <a Href = "Q7AC_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
            <p>
              A pandemia ocasionada pelo novo Coronavírus gerou impactos negati vos na economia e nos negócios, 
              intensifi cando problemas sociais no mundo todo. Nos Estados Unidos, um estudo realizado com a 
              parceria de duas importantes universidades verifi cou que a expectati va de vida dos norte-americanos 
              caiu 1,1 ano em 2020. A nova expectati va é de 77,4 anos. De acordo com o estudo, esta foi a maior queda 
              anual da expectati va de vida já registrada nos últi mos 40 anos. O declínio é ainda maior se considerada a 
              expectati va de vida para negros que moram no país, cuja queda foi de 2,1 anos. Para a população lati na, 
              essa queda foi de 3 anos. O declínio na expectati va de vida dos lati nos é signifi cati vo, uma vez que eles 
              apresentam menor incidência de condições crônicas que são fatores de risco para a Covid-19 em relação 
              às populações de brancos e negros.
            </p>
          </Div>

          <Div Class = "fonte-pergunta">
            <Blockquote>
              <i>
                LOUREIRO, R. Covid-19 reduz gravemente expectativa de vida de negros e latinos nos EUA. Revista Exame, 2021 (adaptado).
              </i>
            </Blockquote>
          </Div>

          <Div Class = "enunciado-pergunta">
            <p>
              Considerando as informações apresentadas no texto, avalie as asserções a seguir e a relação proposta 
              entre elas
            </p>

            <p>
              I. O efeito desproporcional da pandemia da Covid-19 na expectati va de vida da população negra e 
              lati no-americana estabelece relação com sua situação de vulnerabilidade social. 
            </p>

            <p>
              PORQUE
            </p>

            <p>
              II. Uma hipótese que pode ser levantada quanto à diminuição da expectati va de vida de negros e 
              lati no-americanos está relacionada às suas precárias condições de trabalho, levando-os a maior 
              possibilidade de exposição ao contágio pelo novo Coronavírus.
            </p>

            <p>
              A respeito dessas asserções, assinale a opção correta.
            </p>
          </Div>

          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q6" Value = "A" Id = "alt-correta"/> A) As asserções I e II são proposições verdadeiras, e a II é uma justificativa correta da I. </Span>
            <Span> <Input Type = "Radio" Name = "Q6" Value = "B"/> B) As asserções I e II são proposições verdadeiras, mas a II não é uma justificativa correta da I. </Span>
            <Span> <Input Type = "Radio" Name = "Q6" Value = "C"/> C) A asserção I é uma proposição verdadeira, e a II é uma proposição falsa. </Span>
            <Span> <Input Type = "Radio" Name = "Q6" Value = "D"/> D) A asserção I é uma proposição falsa, e a II é uma proposição verdadeira. </Span>
            <Span> <Input Type = "Radio" Name = "Q6" Value = "E"/> E) As asserções I e II são proposições falsas. </Span>
          </Div>

          <Div Class = "buttons-nav">
            <a Href = "Resultado.html">
              <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "teste()"/>
            </a>
            <Input Type = "Button" id="popup" Class = "button-nav" Value = "Menu" onclick="abrirPopUp()"/>
            <Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
          </Div>
        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>

        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>
    
    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
    <script src="../../js/popup.js"></script>
  </Body>
</HTML>