<!DocType HTML>

<HTML Lang = "PT-BR">

  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Paulo Felipe Siva Simão"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Questão 7 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
    <Link Rel = "Script" Href = "../../js/perguntas.js"/>
  </Head>

  <Body>
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main> 
      <Div Class = "pagina-pergunta">
        <Div Class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 7/35
            </a>            
          </b>
        </Div>

        <Div  Class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
            <a Href = "Q6AA_EQ8.html"><</a>
            <a Href = "Q6AA_EQ8.html">6</a>
            <a Class="pergunta-selecionada" Href = "Q7AC_EQ8.html">7</a>
            <a Href = "Q8AD_EQ8.html">8</a>
            <a Href = "Q9AC_EQ8.html">></a>
          </Div>

          <Div Class = "texto-pergunta">
            <h3>Texto I</h3>
            <p>
              O estudo Internet and American Life Project , do Pew Research Center , demonstrou que, em 2009, 
              metade das buscas de temas relacionados à saúde na internet era feita para terceiros, e quase seis em 
              cada dez pessoas que usaram meios digitais para se informar sobre saúde mudaram o enfoque com que 
              cuidavam da própria saúde ou da de algum parente. Esti ma-se que exista uma correlação positi va entre o 
              grau de conhecimento das doenças (seus fatores de risco, formas de prevenção e tratamento) e a taxa de 
              adoção de hábitos saudáveis pela sociedade. O aumento nos diagnósti cos precoces do câncer de mama 
              e a diminuição do tabagismo são dois exemplos clássicos a favor dessa ideia. Acredita-se que indivíduos 
              mais bem informados aderem a comportamentos preventi vos e reagem melhor a uma enfermidade.
            </p>
            <p>
              Infelizmente, a divulgação de temas médicos é uma faca de dois gumes: quem não sabe nada está mais 
              perto da verdade do que a pessoa cuja mente está cheia de informações equivocadas. Conseguir que 
              a mensagem seja bem decodifi cada pelos receptores é o grande desafi o que preocupa (ou deveria 
              preocupar) tanto médicos quanto jornalistas.
            </p>

            <h3>Texto II</h3>

            <p>
              De acordo com os dados da últi ma TIC Domicílios — pesquisa realizada anualmente com o objeti vo de 
              mapear formas de uso das tecnologias de informação e comunicação no país —, aproximadamente 
              46% dos usuários de Internet no Brasil uti lizam a rede à procura de informações médicas sobre saúde em 
              geral e serviços de saúde. Para uma médica e pesquisadora da Fiocruz, os indivíduos sempre procuraram 
              informações sobre seu estado de saúde, mas é inegável que o surgimento da Internet trouxe um aumento 
              signifi cati vo do acesso a informações amplifi cando assim os refl exos deste processo e alterando a relação 
              entre os indivíduos. A pesquisadora chama a atenção para o perigo do autodiagnósti co e da automedicação, 
              que podem gerar consequências nefastas tanto para os indivíduos quanto para a saúde pública, uma vez 
              que boa parte dos estudos mostra que não são adotados critérios durante as buscas na Internet.
            </p>
          </Div>

          <Div Class = "fonte-pergunta">
            <Blockquote>
              <i>
                TEXTO I:TABAKMAN, R. A saúde na mídia : medicina para jornalistas, jornalismo para médicos. Trad. Lizandra Magon de Almeida. 
                São Paulo: Summus Editorial, 2013 (adaptado).
                <br>
                TEXTO II:  Disponível em: htt ps://agencia.fi ocruz.br/conteudos-sobre-saude-na-web-alteram-relacao-medico-paciente. Acesso em: 16 abr. 2020 (adaptado).
              </i>
            </Blockquote>
          </Div>

          <Div Class = "enunciado-pergunta">
            <p>
              Considerando a abordagem dos textos, avalie as afirmações a seguir
            </p>

            <p>
              I. Os textos I e II evidenciam a importância de critérios nas buscas realizadas pelos usuários da 
              Internet por informações sobre patologias, pois algumas informações podem trazer riscos à saúde 
              por fomentarem a compreensão equivocada de sintomas e profi laxias.
            </p>

            <p>
              II. O texto I afi rma que a disponibilização de informações sobre temas de saúde nos meios de 
              comunicação tem contribuído para o esclarecimento da população acerca de hábitos saudáveis.
            </p>

            <p>
              III. No texto II, defende-se o acesso a informações relati vas a pesquisas da área da saúde nos veículos 
              de comunicação, pois elas permitem que o indivíduo seja proativo na prevenção de patologias.
            </p>

            <p>
              É correto o que se afirma em
            </p>
          </Div>

          <Div Class = "alternativas-pergunta">
            <Span> <Input Type = "Radio" Name = "Q1" Value = "A"/> A) I, apenas. </Span>
            <Span> <Input Type = "Radio" Name = "Q1" Value = "B"/> B) III, apenas. </Span>
            <Span> <Input Type = "Radio" Name = "Q1" Value = "C" Id = "alt-correta"/> C) I e II, apenas. </Span>
            <Span> <Input Type = "Radio" Name = "Q1" Value = "D"/> D) II e III, apenas. </Span>
            <Span> <Input Type = "Radio" Name = "Q1" Value = "E"/> E) I, II e III. </Span>
          </Div>
        </Div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>

        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>
  </Body>
</HTML>