<!DOCTYPE html>

<html Lang = "PT-BR">
	
	<head>
		<Meta CharSet = "UTF-8"/>
		<Meta Name = "Author" Content = "Raul Mascarenhas"/>
		<Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
		<Title>Questão 08 - SimuNade</Title>
		<Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
        <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
		<Link rel="StyleSheet" type="Text/Css" Href = "../../css/popup.css"/>
	</head>

	<body Id = "Q8">
		<Header>
            <Div Class = "container">
              <Div Class = "inep_enade">
                <Div Class = "logo_inep">
                  <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
                    <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
                  </a>
                </Div>
                <Span Class = "logo_enade">
                  <b>
                    Enade
                  </b>
                </Span>
              </Div>
              <Div Class = "menu-section">
                <Div Class = "menu-toggle">
                  <Div Class = "one"></Div>
                  <Div Class = "two"></Div>
                  <Div Class = "three"></Div>
                </Div>
                <Nav>
                  <Ul>
                    <Li>
                      <a Href="../../Views/Principal/Index.html">Início</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/Credits.html">Créditos</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/About.html">Sobre</a>
                    </Li>
                  </Ul>
                </Nav>
              </Div>
            </Div>
        </Header>

		<Main> 
			<Div Class = "pagina-pergunta">
				<div class = "numero-pergunta">
					<b>
						<a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
							Simulado Análise e Desenvolvimento de Sistemas - Enade 2021 - Questão 08/35
						</a>
					</b>
				</div>

				<div class = "corpo-pergunta">

					<Div Class = "nav-pergunta">
						<a Href = "Q6AA_EQ8.html"><</a>
						<a Href = "Q7AC_EQ8.html">07</a>
						<a Class = "pergunta-selecionada" Href = "#">08</a>
						<a Href = "Q9AC_EQ8.html">09</a>
						<a Href = "Q10AD_EQ8.html">></a>
					</Div>

					<div class = "texto-pergunta">
						<p>
							Que é democracia? Em seu famoso discurso em Gett ysburg, Abraham Lincoln disse que “a democracia<br> é o governo do povo, feito para o povo e pelo povo, e responsável perante o povo". O crédito desta<br> definição é, na verdade, de Daniel Webster, que a elaborou 33 anos antes de Lincoln em outro discurso. <br>Nesta ideia de “governo pelo povo e para o povo” surge uma questão essencial: e quando o povo estiver<br>em desacordo? E quando o povo ti ver preferências divergentes? O politólogo Arend Lijphart ressalta<br>que há duas respostas principais: a resposta da “democracia majoritária” e a resposta da “democracia<br>
							consensual”. Na democracia majoritária, a resposta é simples e direta: deve-se governar para a maioria<br>do povo. A resposta alternativa, no modelo da democracia consensual é: deve-se governar para o máximo<br>possível de pessoas.
						</p>
					</div>

					<div class = "fonte-pergunta">
						<blockquote>
							<i>
								Disponível em: https://g1.globo.com/politica/blog/matheus-leitao/post/2020/02/25/democracia-consensual-contra-a-tirania-da-maioria.ghtml.<br>
								Acesso em: 2 maio 2020 (adaptado).
							</i>
						</blockquote>
					</div>
					
					<div class = "enunciado-pergunta">
						<p>
							A partir dos argumentos expostos no texto, avalie as afirmações a seguir.
						</p>

						<ol type="I">
							<li>
								O bem comum, a ser estabelecido por um governo democrático, nem sempre está associado às<br> opiniões da maioria do povo.
							</li>
							<li>
								A democracia consensual é caracterizada pelo consenso a ser alcançado entre situação e oposição,<br>nas decisões governamentais.
							</li>
							<li>
								Circunstâncias políticas de polarização, marcadas pela alta competitividade e combatividade entre<br>
								posições divergentes, caracterizam um modelo de democracia majoritária.
							</li>
							<li>
								Democracia consensual pressupõe que a situação política no poder considere em suas decisões as<br> necessidades das minorias, no sentido de governar para todo o povo.
							</li>
						</ol>
						
						<p>
							correto apenas o que se afirma em
						</p>
					</div>

					<div class = "alternativas-pergunta">
						<span><Input Type = "Radio" Name = "Q08" Value = "A"/> A) I e II. </span>
						<span><Input Type = "Radio" Name = "Q08" Value = "B"/> B) I e IV. </span>
						<span><Input Type = "Radio" Name = "Q08" Value = "C"/> C) II e III. </span>
						<span><Input Type = "Radio" Name = "Q08" Value = "D" Id = "alt-correta"/> D) I, III e IV. </span>
						<span><Input Type = "Radio" Name = "Q08" Value = "E"/> E) II, III e IV. </span>
					</div>

					<Div Class = "buttons-nav">
						<a Href = "Resultado.html">
						  <Input Type = "Button" Class = "button-nav" Value = "Finalizar" OnClick = "teste()"/>
						</a>
						<Input Type = "Button" id="popup" Class = "button-nav" Value = "Revisar" onclick="abrirPopUp()"/>
						<Input Type = "Button" Class = "button-nav" Value = "Corrigir" OnClick = "confereResposta()"/>
					</Div>

				</div>
			</Div>
		</Main>
		
		<Footer>
			<Div>
			  <p>
				<a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
				  Curso de Análise e Desenvolvimento de Sistemas (ADS)
				</a>
			  </p>
		
			  <Div Class = "fatec_sp_enade">
				<a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
					<Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
				</a>
				<a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
					<Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
				</a>
				<a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
					<Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
				</a>
			  </Div>
			</Div>
		</Footer>

		<Script Src = "../../js/contar.js"></Script>
		<Script Src = "../../js/corrigir.js"></Script>
		<script src="../../js/popup.js"></script>
	</body>
</html>