<!DOCTYPE html>

<html Lang = "PT-BR">
	
	<head>
		<Meta CharSet = "UTF-8"/>
		<Meta Name = "Author" Content = "Raul Mascarenhas"/>
		<Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
		<Title>Questão 09 - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/perguntas.css"/>
	</head>

	<body>
		<Header>
            <Div Class = "container">
              <Div Class = "inep_enade">
                <Div Class = "logo_inep">
                  <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
                    <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
                  </a>
                </Div>
                <Span Class = "logo_enade">
                  <b>
                    Enade
                  </b>
                </Span>
              </Div>
              <Div Class = "menu-section">
                <Div Class = "menu-toggle">
                  <Div Class = "one"></Div>
                  <Div Class = "two"></Div>
                  <Div Class = "three"></Div>
                </Div>
                <Nav>
                  <Ul>
                    <Li>
                      <a Href="../../Views/Principal/Index.html">Início</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/Credits.html">Créditos</a>
                    </Li>
                    <Li>
                      <a Href="../../Views/Principal/About.html">Sobre</a>
                    </Li>
                  </Ul>
                </Nav>
              </Div>
            </Div>
    </Header>

    <Main> 
      <Div Class = "pagina-pergunta">
        <div class = "numero-pergunta">
          <b>
            <a Target = "_Blank" Href = "https://download.inep.gov.br/enade/provas_e_gabaritos/2021_PV_tecnologia_analise_desenvolvimento_sistemas.pdf">
              Simulado Análise e Desenvolvimento de Sistemas  - Enade 2021 - Questão 09/35
            </a>
          </b>
        </div>

        <div class = "corpo-pergunta">

          <Div Class = "nav-pergunta">
            <a Href = "Q7AC_EQ8.html"><</a>
            <a Href = "Q8AD_EQ8.html">08</a>
            <a Class = "pergunta-selecionada" Href = "#">09</a>
            <a Href = "Q10AD_EQ8.html">10</a>
            <a Href = "Q11AE_EQ8.html">></a>
          </Div>

          <div class = "texto-pergunta">
            <p>
              A etapa de definição de requisitos é voltada para estabelecer quais as funções são requeridas pelo sistema<br>e as restrições sobre a operação e o desenvolvimento do software.
              Os requisitos de software podem ser<br> classificados como requisitos funcionais e não funcionais.
            </p>
          </div>

          <div class = "fonte-pergunta">
            <blockquote>
              <i>
                SOMMERVILLE, I. <b>Engenharia de Software</b>, 10. ed. São Paulo: Pearson Education, 2019 (adaptado).
              </i>
            </blockquote>
          </div>

          <div class = "enunciado-pergunta">
            <p>
              Considerando as informações do texto, assinale a alternativa em que o item é um requisito funcional.
            </p>
          </div>

          <div class = "alternativas-pergunta">
            <span><Input Type = "Radio" Name = "Q09" Value = "A"/> A) O software deve ser operacionalizado no sistema Linux. </span>
            <span><Input Type = "Radio" Name = "Q09" Value = "B"/> B) O tempo de desenvolvimento não deve ultrapassar seis meses. </span>
            <span><Input Type = "Radio" Name = "Q09" Value = "C" Id = "alt-correta"/> C) O software deve emitir relatórios de compras a cada quinze dias. </span>
            <span><Input Type = "Radio" Name = "Q09" Value = "D"/> D) O tempo de resposta do sistema não deve ultrapassar 30 segundos. </span>
            <span><Input Type = "Radio" Name = "Q09" Value = "E"/> E) A base de dados deve ser protegida para acesso apenas de usuários autorizados. </span>
          </div>
        </div>
      </Div>
    </Main>

    <Footer>
      <Div>
        <p>
          <a Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>

        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/contar.js"></Script>
    <Script Src = "../../js/corrigir.js"></Script>
	</body>
</html>