<!DOCTYPE html>

<html Lang = "PT-BR">
	
	<head>
		<Meta CharSet = "UTF-8"/>
		<Title>Questão 09 - SimuNade</Title>
		<Meta Name = "Author" Content = "Raul Mascarenhas"/>
        <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
	</head>

	<body>
		<div>
			<b>
				Questão 09
			</b>
		</div>

		<div>
			<p>
				A etapa de definição de requisitos é voltada para estabelecer quais as funções são requeridas pelo sistema<br> e as restrições sobre a operação e o desenvolvimento do software. Os requisitos de software podem ser<br> classificados como requisitos funcionais e não funcionais.
			</p>
		</div>

		<div>
			<i>
				SOMMERVILLE, I. <b>Engenharia de Software</b>, 10. ed. São Paulo: Pearson Education, 2019 (adaptado).
			</i>
		</div>

		<div>
			<p>
				Considerando as informações do texto, assinale a alternativa em que o item é um requisito funcional.
			</p>
		</div>
	</body>
</html>