<!DocType HTML>

<HTML lang = "PT-BR">
    <Head>
        <Meta CharSet = "UTF-8">
        <Meta http-equiv="X-UA-Compatible" content="IE=edge">
        <Meta Name = "viewport" Content = "width=device-width, initial-scale=1.0">
        <Title>Estatísticas Gerais</Title>
    </Head>

    <Body>
        <div id="chart_div"></div>
        <Script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></Script>
        <Script Src= "../../js/resultado-estatisticas.js"></Script>
    </Body>
</HTML>