<!DocType HTML>

<HTML Lang = "PT-BR">
  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Éric Carvalho, Tony Bryan"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Resultado - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/resultado.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 768px)"/>
    <Link Rel = "StyleSheet" Href = "../../css/print.css" Media = "print"/>
  </Head>

  <Body>
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li OnClick = "limpaSessionStorage()">
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li OnClick = "limpaSessionStorage()">
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li OnClick = "limpaSessionStorage()">
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "corpo-pagina">   

        <p Class = "mensagem-final-simulado" Id = "final-simulado">
          Parabéns, você acabou de finalizar o simualdo!
        </p>

        <p Class = "sub-mensagem-final-simulado" Id = "sub-t-final-simulado">
          Vamos conferir alguns dados?
        </p>

        <Div Id = "info-resultado" Class = "info-resultado">
          <p Class = "orientacao" Id = "orientacao">
            Confira abaixo algumas tabelas informando sua qunatidade 
            de acertos, erros, perguntas não respondidas e respondidas.
          </p>

          <p Class = "orientacao" Id = "orientacao">
            Logo após as tabelas, também há a presença de gráficos,
            informando sobre seu desempenho, sendo:
          </p>

          <p Id = "orientacao">
            <b>Total de acertos</b>, <b>Total de erros</b>, <b>Total de perguntas não respondidas</b>
            e <b>Total de perguntas respondidas</b>
          </p>

          <p>
            Confira também, logo após os gráficos, algumas 
            outras informações quanto ao seu desempenho e botões para 
            conferir a distribuição geral de seleção por alternativa de cada questão 
            (<b>Estatísticas</b>), realizar o simulado mais uma vez (<b>Refazer Simulado</b>),
            ir para a págna inicial (<b>Sair do Simulado</b>) e caso você tenha realizado o simulado
            <b>MAIS DE UMA VEZ</b>, poderá conferir a sua evolução através de um gráfico 
            (<b>Conferir evolução</b>).
          </p>
        </Div>
		
        <Div Class = "primeiro-dados-por-inteiro" Id = "primeiro-dados-por-inteiro">
          <Div Class = "inteiro-acertos">
            <H4>Quantidade de acertos</H4>
            <p id = "acertos">X</p>
          </Div>
          <Div Class = "inteiro-erros">
            <H4>Quantidade de erros</H4>
            <p id = "erros">X</p>
          </Div>
        </Div>

        <Div Class = "segundo-dados-por-inteiro" Id = "segundo-dados-por-inteiro">
          <Div Class = "inteiro-nao-respondidas">
            <H4>Perguntas nao respondidas</H4>
            <p id = "nao-respondidas">X</p>
          </Div>
          <Div Class = "inteiro-respondidas">
            <H4>Perguntas respondidas</H4>
            <p id = "respondidas">X</p>
          </Div>
        </Div>

        <Div Class = "graficos" Align = "center">
          <canvas Class="grafico-acertos-erros" id="acertos-erros"></canvas>
          <canvas Class="grafico-respondidas-e-naorespondidas"id="respondidas-e-naorespondidas"></canvas>
        </Div>

        <Div Class = "tempo-e-tempo-medio-simulado">
          <p Id = "tempo-de-simualdo"></p>

          <p Class = "mensagem-evolucao-usuario" Id = "mensagem-evolucao-usuario" Style = "display: none;">
            Para acessar a página de <b>Evolução do Usuário</b> (<b>Conferir evolução</b>),
            você precisa, no mínimo, ter realizado o simualdo 2 vezes.
          </p>

          <p Class = "retorno-acertos" Id = "retorno-acertos">X</p>
        </Div>

        <Div Class = "conteudos-estudo" Id = "conteudos-estudo">
          <p Class = "conteudos-a-estudar">
            Recomendamos que você estude o(s) seguinte(s) conteúdo(s): 
            <b Id = "conteudos">Conteúdos</b>
          </p>
        </Div>
		
		<Div Class = "div-nota-individual" align = "center" Id = "nota-simulado">
			<table>
			  <tr>
          <th rowspan="2">Formação geral</th>
          <th>Múltipla escolha</td>
          <th>Discursiva</td>
          <th>Nota</td>
			  </tr>
			  <tr>
          <td Id = "formacao-geral-multipla-escolha">100</th>
          <td>-</td>
          <td Id = "formacao-geral-multipla-escolha">100</td>  
			  </tr>
				<tr>
          <th>Componentes específicos</th>
          <td Id = "componente-especifico-multipla-escolha">100</th>
          <td>-</td>
          <td Id = "componente-especifico-multipla-escolha">100</td>  
			  </tr>
			</table>
			
			<p>Nota final: <b Id = "nota-final">100</b></p>
		</Div>

        <Div Class = "buttons-nav">
          <a Href = "ResultadoEstatisticas.html">
            <Input Type = "Button" Class = "button-nav" Value = "Estatísticas"/>
          </a>
          <a Href = "Q1AE_EQ8.html">
            <Input Type = "Button" Class = "button-nav" Value = "Refazer simulado"/>
          </a>
          <a Href = "../Principal/Index.html">
            <Input Type = "Button" Class = "button-nav" Value = "Sair"/>
          </a>
          <a Id = "link-evolucao-usuario" Href = "../Perguntas/EvolucaoUsuario.html">
            <Input Type = "Button" Class = "button-nav" Value = "Progresso" Id = "conferir-evolucao"/>
          </a>
          <Input Type = "Button" Class = "button-nav" Value = "Baixar resultado" Id = "imprimir-resultado" OnClick = "imprimirResultado()"/>
        </Div>
		
        
      </Div>
    </Main>

    <Footer>
        <Div>
          <p>
            <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
              Curso de Análise e Desenvolvimento de Sistemas (ADS)
            </a>
          </p>

          <Div Class = "fatec_sp_enade">
            <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
              <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
            </a>
            <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
              <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
            </a>
            <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
              <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
            </a>
          </Div>
        </Div>
    </Footer>
    
    <Script src="https://cdn.jsdelivr.net/npm/chart.js"></Script>
    <Script Src = "../../js/resultado.js"></Script>
    <Script Src = "../../js/menu.js"></Script>
  </Body>
    
</HTML>