<!DocType HTML>

<HTML Lang = "PT-BR">
  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Éric Carvalho"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Resultado - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/result.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 768px)"/>
  </Head>

  <Body>
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "corpo-pagina">   

        <H2>Resultado</H2>

        <Div Class = "primeira-linha">
          <!-- Tempo em que o usuário ficou realizando a prova. -->
          <Div Class = "tempo-resultado">
            <b>Tempo decorrido:</b>
            <p>X</p>
          </Div>

          <!-- Questões deixadas em branco (sem resposta) pelo usuário. -->
          <Div Class = "branco-resultado">
            <b>Questões em branco:</b>
            <p>X</p>
          </Div>
        </Div>

        <Div Class = "segunda-linha">
          <!-- Total de acertos (respostas corretas) no simulado. -->
          <Div Class = "acertos-resultado">
            <b>Acertos:</b>
            <p>X</p>
          </Div>
          
          <!-- Total de erros (respostas incorretas) no simulado. -->
          <Div Class = "erros-resultado">
            <b>Erros:</b>
            <p>X</p>
          </Div>
        </Div>

        <Div>
          <!-- 
            Ao finalizar a prova será realizado um cálculo (total acertos/total de questões),
            ao qual o resultado do calculo será a % de acertos, após armazenar essa informação,
            será realizado um série de condicionais para informar o usuário, seguido de uma 
            mensagem motivacional.
          -->
          <p>Você acertou 75% das questões do simulado. Se continuar se esforçando, obterá o resultado máximo, parabéns.</p>
          
          <!--
            Ao final da prova, com as respostas erradas já armazenadas, será feito um levantamento
            sobre o contéudo das questões que o usuário errou e depois informado ao mesmo para estudar.
          -->
          <p>recomendamos que você estude o(s) seguinte(s) conteúdo(s):</p>
          <p Id = "conteudos">Conteúdos</p>
        </Div>

        <Div Class = "graficos">
          <!-- Grafico responsavel por mostrar total de acertos e erros em %. -->
          <Div Style = "width:400; height:400;" Id = "grafico_AcertoErro_per"></Div>
          <!-- Grafico responsavel por mostrar total de acertos e erros em inteiro. -->
          <Div Style = "width:400; height:400;" Id = "grafico_AcertoErro_int"></Div>
          <!-- Grafico responsavel por mostrar questões prenchidas e nulas. -->
          <Div Style = "width:400; height:400;" Id = "grafico_PreenchidasNulas_int"></Div>
        </Div>

        <Div Class = "buttons-nav">
          <a Href = "ResultadoEstatisticas.html">
            <Input Type = "Button" Class = "button-nav" Value = "Estatísticas"/>
          </a>
        </Div>
        
      </Div>
    </Main>

    <Footer>
        <Div>
          <p>
            <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
              Curso de Análise e Desenvolvimento de Sistemas (ADS)
            </a>
          </p>

          <Div Class = "fatec_sp_enade">
            <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
              <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
            </a>
            <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
              <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
            </a>
            <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
              <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
            </a>
          </Div>
        </Div>
    </Footer>

    <Script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></Script>
    <Script Src = "../../js/resultado.js"></Script>
    <Script Src = "../../js/menu.js"></Script>
  </Body>
    
</HTML>