<!DocType HTML>

<HTML Lang = "PT-BR">
  <Head>
    <Meta CharSet = "UTF-8"/>
    <Meta Name = "Author" Content = "Éric Carvalho, Tony Bryan"/>
    <Meta Name = "ViewPort" Content = "width=device-width, initial-scale=1.0"/>
    <Title>Resultado - SimuNade</Title>
    <Link Rel = "Icon" Href = "http://enade.inep.gov.br/enade/favicon.ico"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/resultado.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 768px)"/>
  </Head>

  <Body>
    <Header>
      <Div Class = "container">
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "http://enade.inep.gov.br/enade/images/logo_inep.svg">    
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/>
            </a>
          </Div>
          <Span Class = "logo_enade">
            <b>
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav>
            <Ul>
              <Li>
                <a Href="../../Views/Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../../Views/Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main>
      <Div Class = "corpo-pagina">   

        <p Class = "mensagem-final-simulado" Id = "final-simulado">Parabéns, você acabou de finalizar o simualdo!</p>

        <p Class = "sub-mensagem-final-simulado" Id = "sub-t-final-simulado">Vamos conferir alguns dados?</p>

        <Div Class = "graficos" Align = "center">
          <canvas Class="acertos-erros" id="acertos-erros"></canvas>
          <canvas Class="respondidas-e-naorespondidas"id="respondidas-e-naorespondidas"></canvas>
        </Div>

        <Div>
          <!-- 
            Ao finalizar a prova será realizado um cálculo (total acertos/total de questões),
            ao qual o resultado do calculo será a % de acertos, após armazenar essa informação,
            será realizado um série de condicionais para informar o usuário, seguido de uma 
            mensagem motivacional.
          -->
          <p Id = "retorno-acertos">X</p>
          
          <!--
            Ao final da prova, com as respostas erradas já armazenadas, será feito um levantamento
            sobre o contéudo das questões que o usuário errou e depois informado ao mesmo para estudar.

            <p>recomendamos que você estude o(s) seguinte(s) conteúdo(s):</p>
            <p Id = "conteudos-a-estudar">Conteúdos</p>
          -->
        </Div>

        <Div Class = "buttons-nav">
          <a Href = "ResultadoEstatisticas.html">
            <Input Type = "Button" Class = "button-nav" Value = "Estatísticas"/>
          </a>
          <a Href = "Q1AE_EQ8.html">
            <Input Type = "Button" Class = "button-nav" Value = "Refazer simulado" OnClick = "limparStorage()"/>
          </a>
          <a Href = "../Principal/Index.html">
            <Input Type = "Button" Class = "button-nav" Value = "Sair do simulado" OnClick = "limparStorage()"/>
          </a>
          <a Href = "../Perguntas/EvolucaoUsuario.html">
            <Input Type = "Button" Class = "button-nav" Value = "Conferir evolução" OnClick = "verificaEvolucao()"/>
          </a>
        </Div>
        
      </Div>
    </Main>

    <Footer>
        <Div>
          <p>
            <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
              Curso de Análise e Desenvolvimento de Sistemas (ADS)
            </a>
          </p>

          <Div Class = "fatec_sp_enade">
            <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
              <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
            </a>
            <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
              <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
            </a>
            <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
              <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
            </a>
          </Div>
        </Div>
    </Footer>
    
    <Script src="https://cdn.jsdelivr.net/npm/chart.js"></Script>
    <Script Src = "../../js/resultado.js"></Script>
    <Script Src = "../../js/menu.js"></Script>
  </Body>
    
</HTML>