<!DocType HTML>

<HTML lang = "PT-BR">
  <Head> <!--Providencia informações gerais (metadados) sobre o documento -->
    <Meta CharSet = "UTF-8"> <!-- Define qualquer informação de metadados que não podem ser definidos por outros elementos HTML -->
    <Meta Name = "Author" Content = "Paulo Felipe Siva Simão"/>
    <Meta http-equiv="X-UA-Compatible" content="IE=edge">
    <Meta Name = "viewport" Content = "width=device-width, initial-scale=1.0">
    <Title>Estatísticas Gerais</Title> <!-- Define o título do documento -->
    <Link Rel = "Icon" href ="http://enade.inep.gov.br/enade/favicon.ico"/> <!-- Especifica as relações entre o documento atual e um recurso externo -->
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/layout.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/estatisticas-gerais.css"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/responsive.css" Media = "screen and (max-width: 1440px)"/>
    <Link Rel = "StyleSheet" Type = "Text/Css" Href = "../../css/gabarito-usuario.css"/>
    <Link Rel = "StyleSheet" Href = "../../css/print.css" Media = "print"/>
	</Head>

  <Body> <!--Representa o conteúdo de um documento HTML -->
    <Header> <!-- Representa um grupo de suporte introdutório ou navegacional-->
      <Div Class = "container"> <!-- Utilizado para agrupar elementos para fins de estilos (usando class ou id) -->
        <Div Class = "inep_enade">
          <Div Class = "logo_inep">
            <a Target = "_Blank" Href = "https://www.gov.br/inep/pt-br"> <!-- Diz ao navegador que o que estiver dentro dela deve ser encarado como elemento de um código HTML-->   
              <Img Src = "../../Images/Principal/ofc_logo_inep.svg" Alt = "INEP"/> <!-- Representa a inserção de imagem no documento -->
            </a>
          </Div>
          <Span Class = "logo_enade"> <!-- Usado para agrupar elementos para fins de estilo (usando os atributos class ou id ) -->
            <b> <!-- Representa um intervalo de texto estilísticamente diferente do texto normal -->
              Enade
            </b>
          </Span>
        </Div>
        <Div Class = "menu-section">
          <Div Class = "menu-toggle">
            <Div Class = "one"></Div>
            <Div Class = "two"></Div>
            <Div Class = "three"></Div>
          </Div>
          <Nav> <!-- Representa uma seção de uma página que aponta para outras páginas ou para outras áreas da página -->
            <Ul> <!-- Elemento HTML de Lista desordenada -->
              <Li> <!-- Lista dos Itens de um elemento HTML -->
                <a Href="../Principal/Index.html">Início</a>
              </Li>
              <Li>
                <a Href="../Principal/Credits.html">Créditos</a>
              </Li>
              <Li>
                <a Href="../Principal/About.html">Sobre</a>
              </Li>
            </Ul>
          </Nav>
        </Div>
      </Div>
    </Header>

    <Main> <!-- Define o conteúdo principal dentro do <body> -->
      <Div Class = "corpo-pagina">
        <Div Class = 'info-resultado-estatisticas'>
          <H3>Estatísticas gerais do ENADE ADS edição de 2021</H3> <!-- Utilizados para destacar títulos e subtítulos de uma página -->
          <p> <!-- Representa um parágrafo --> 
            <b>
              Página destinada a informar ao candidato dados relevantes
              acerca da edição do ENADE 2021 ADS.
            </b>
          </p>
          <p>
            Confira abaixo <b>suas respostas</b>, onde cada elemento representa uma pergunta
            enumerada de 1 a 35, em vermelho são <Br> as questões que você errou e em verde são 
            as questões que você acertou. Logo após suas respostas, se encontra os 
            gráficos <Br> que vão da 1° a 35° questão, o gráfico é composto pelas 
            5 alternativas que <Br>se encontram na prova, as alternativas incorretas são
            representadas em vermelho enquanto<Br> as corretas, são representadas em verde,
            o gráfico é acompanhado pelo gabarito cujo a resposta é correta e o gabarito do 
            usuário.
          </p>
        </Div>
  
        <Div Class = "todos-graficos" Align = "Center"> 
          <Script src="https://cdn.jsdelivr.net/npm/chart.js"></Script> <!-- é usado para incluir ou referenciar um script executável -->
          <Script Src= "../../js/resultado-estatisticas.js"></Script>
        </Div>

        <Div Class = "buttons-nav">
          <a Href = "Resultado.html">
            <Input Type = "Button" Class = "button-nav" Value = "Voltar"/> <!-- É usado para criar controles interativos para formulários baseados na web para receber dados do usuário -->
          </a>
          <a Href = "../Principal/Index.html">
            <Input Type = "Button" Class = "button-nav" Value = "Sair" OnClick = "limpaSessionStorage()"/>
          </a>
          <Input Type = "Button" Class = "button-nav" Value = "Baixar estatisticas" OnClick = "imprimirEstatisticas()"/>
        </Div>
      </Div>
    </Main>

    <Footer> <!-- Representa um rodapé -->
      <Div>
        <p>
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
            Curso de Análise e Desenvolvimento de Sistemas (ADS)
          </a>
        </p>

        <Div Class = "fatec_sp_enade">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            <Img Src = "../../Images/Principal/fatec-carapicuiba-logo.png"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            <Img Src = "../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/> 
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            <Img Src = "../../Images/Principal/cps-logo.png" height="45px" width="80px"/> 
          </a>
        </Div>
      </Div>
    </Footer>

    <Script Src = "../../js/menu.js"></Script>
  </Body>
</HTML>