<!DOCTYPE html> <!-- Abrindo a tag DOCTYPE para definir o tipo HTML-->
<html lang="pt-br"> <!-- Abrindo a tag html-->
    <head> <!-- Abrindo a tag head, para o cabeçalho da página-->
        <meta charset="UTF-8"> <!-- Tag para o documento aceitar caracteres especiais-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilo.css"> <!-- Linkando a página ao css externo-->
        <title>Questão 2</title> <!-- Definindo o título da página-->
    </head> <!-- Fechando a tag para do cabeçalho-->
    <body> <!-- Abrindo a tag do corpo da página-->
        <header> <!-- Abrindo a tag Header, para fazer o cabeçalho da página-->
            <div class="logos"> <!-- Abrindo uma div para agrupar as imagens dos logos, dando classe "logos"-->
                <img src="imagens/ofc_logo_inep.svg" class="inep"> <!-- Inserindo a imagem do logo do inep-->
                <img src="imagens/logo_enade.png" class="enade"> <!-- Inserindo a imagem do logo do enade-->
            </div> <!-- Fechando a div logos-->
            <nav> <!-- Abrindo uma nav, para colocar os liks de acesso-->
                <ul> <!-- Abrindo tag ul para lista não ordenda-->
                    <li><a href="#">Início</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de início-->
                    <li><a href="#">Crédito</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de créditos-->
                    <li><a href="#">Contato</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de contato-->
                    <li><a href="#">Sobre</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de sobre-->
                </ul> <!-- Fechando a tag da lista não ordenada-->
            </nav> <!-- Fechando a navegação-->
        </header> <!-- Fechando o cabecalho-->
        <main> <!-- Abrindo a tag main, para colocar o conteúdo principal-->
            <nav class="nav_questoes"> <!-- Abrindo uma navegação, para nevegar pelas questões-->
                <a href="Q1E_EQ8.html"><</a> <!-- Colocando link para a questão anterior-->
                <a href="Q3B_EQ8.html">3</a> <!-- Colocando link para outra questão-->
                <a href="Q4B_EQ8.html">4</a> <!-- Colocando link para outra questão-->
                <a href="Q5A_EQ8.html">5</a> <!-- Colocando link para outra questão-->
                <a href="Q3B_EQ8.html">></a> <!-- Colocando link para a próxima questão-->
            </nav> <!-- Fechando a navegação para as questões-->

            <form> <!-- Abrindo a tag form, para fazer um formulário-->
                <h2>Questão 2</h2> <!-- Colocando a tag h2 para colocar o titulo da questão-->
                <section class="questao"> <!-- Abrindo uma section "questao", para escrever a questão-->
                    <h3>Texto I</h3> <!-- Colocando o subtítulo no texto-->
                    <img src="imagens/Q2E_EQ8.png" class="questao-img"> <!-- Colocando a imagem da questão-->
                    <br> <!-- Pulando uma linha-->
                    <h3>Texto II</h3> <!-- Colocando o subtítulo no texto-->
                    <!-- As linhas abaixo dentro da tag p (paragrafo), é o enunciado da questão-->
                    <p> Em alguns países da Europa, permite-se que um produto de menor valor estéti co seja comercializado. 
                        Estamos falando de um pepino deformado ou de uma cebola pequena, mas não de um produto 
                        contaminado com resíduos químicos ou agentes biológicos. No caso do Brasil, o problema vai além da 
                        aparência, porque há hortaliças ruins – contaminadas, murchas, machucadas – que chegam às bancas 
                        para ser comercializadas.
                         Mas, se nos dois contextos há perda de alimentos e preconceito em relação às hortaliças fora do padrão 
                        visual, mas boas para o consumo, quais seriam as alternati vas para evitar o desperdício e melhorar a 
                        qualidade dos produtos? Para os pesquisadores do assunto, não adianta replicar a experiência europeia no 
                        Brasil, de exigir hortaliças esteti camente perfeitas, porque também teríamos produtos sendo desprezados 
                        ainda na etapa de produção. Não devemos passar de um mercado pouco exigente, que gera desperdício 
                        no varejo e nas residências, para um mercado exigente que gera perda no campo.
                         A solução do problema é conscienti zar os diversos elos da cadeia produti va, especialmente varejistas 
                        e consumidores, para que sejam esclarecidos sobre quais aspectos da aparência das hortaliças 
                        comprometem a qualidade. Quanto maior a exigência do mercado por hortaliças de aparência perfeita, 
                        maior o desperdício de alimentos. Por sua vez, quanto maior a exigência por hortaliças sem danos, 
                        causados pela falta de cuidado e pela falta de higiene, menor será a perda de alimentos e maior a 
                        qualidade da alimentação da população brasileira.</p>
                </section> <!-- Fechando a section questao-->

                <!-- Abrindo a tag p para fazer a fonte da questão-->
                <p class="fonte">TEXTO I:  Disponível em: htt ps://www.facebook.com/embrapa/photos/a.609357055926350/733391400189581/?type=1&theater. 
                    Acesso em: 27 maio 2020.</p>
                <p class="fonte">TEXTO II: Disponível em: htt ps://www.embrapa.br/busca-de-noti cias/-/noti cia/29626389/manuseio-correto-preserva-a-qualidade-e
                    -a-vida-uti l-das-hortalicas. Acesso em: 27 maio 2020 (adaptado).</p>

                <hr> <!-- Usandoa a tag hr para fazer uma linha para separar o conteúdo-->

                <p>Considerando as informações apresentadas nos textos, avalie as asserções a seguir e a relação proposta 
                    entre elas.</p> <!-- Utilizando a tag p para fazer o enunciado da questão-->
                <p>I. O texto I sinteti za uma informação principal do texto II, ao apresentar critérios disti nti vos de 
                    alterações visuais que têm efeitos puramente estéti cos em produtos alimentí cios daquelas que 
                    têm implicações na qualidade desses produtos.</p> <!-- Utilizando a tag p para fazer o enunciado da questão-->
                <p class="porque"><strong>PORQUE</strong></p> <!-- Abrindo uma tag p "porque" para fazer o enunciado da questão-->
                <p>II. O texto II divulga que o aumento das perdas na cadeia produti va de hortaliças no Brasil 
                    é proporcional à elevação de exigências dos consumidores pela aparência de produtos 
                    agropecuários.</p> <!-- Utilizando a tag p para fazer o enunciado da questão-->
                <p> A respeito dessas asserções, assinale a opção correta.</p> <!-- Utilizando a tag p para fazer o enunciado das questões-->

                <input type="radio" name="alternativa" value="a"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label, para colocar um texto referente ao radio button-->
                <label for="a">As asserções I e II são proposições verdadeiras, e a II é uma justificativa correta da I.</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="b"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label, para colocar um texto referente ao radio button-->
                <label for="b">As asserções I e II são proposiçoes verdadeiras, mas a II não é uma justificativa corrta da I.</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="c"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label, para colocar um texto referente ao radio button-->
                <label for="c">A asserção I é uma proposição verdadeira, e a asserção II é uma proposição falsa.</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="d"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label, para colocar um texto referente ao radio button-->
                <label for="d">A asserção I é uma proposição falsa, e a II é uma proposição verdadeira.</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="e"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label, para colocar um texto referente ao radio button-->
                <label for="e">As asserções I e II são proposiçoes falsas.</label>

                <br> <!-- Tag para pular uma linha-->
                <br> <!-- Tag para pular uma linha-->
                <div class="botoes"> <!-- Abrindo uma div "botoes", para colocar os botoes-->
                    <button id="finalizar">Finalizar</button> <!-- Botao para finalizar-->
                    <button id="revisar">Revisar</button> <!-- Botao para revisar-->
                    <button id="corrogir">Corrigir</button> <!-- Botao para corrigir-->
                </div> <!-- Fechando a div botoes-->
            </form> <!-- Fechando o formulário-->

        </main> <!-- Fechando a tag main-->
        <footer> <!-- Abrindo a tag fotter, para fazer o rodapé da página-->
            <a href="#"><img src="imagens/logo_fatec.png" class="logo_fatec"></a> <!-- Colocando uma imagem como link para a fatec-->
            <a href="#"><img src="imagens/logo_sp.png" class="logo_sp"></a> <!-- Colocando uma imagem como link-->
            <a href="#"><img src="imagens/cps-logo.png" class="logo_cps"></a> <!-- Colocando uma imagem como link-->
        </footer> <!-- Fechando o rodapé da página-->
    </body> <!-- Fechando o corpo da página-->
</html> <!-- Fechando a tag HTML-->