<!DOCTYPE html> <!-- Abrindo a tag DOCTYPE para definir o tipo HTML-->
<html lang="pt-br"> <!-- Abrindo a tag html-->
    <head> <!-- Abrindo a tag head, para o cabeçalho da página-->
        <meta charset="UTF-8"> <!-- Tag para o documento aceitar caracteres especiais-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilo.css"> <!-- Linkando a página ao css externo-->
        <title>Questão 7</title> <!-- Definindo o título da página-->
    </head> <!-- Fechando a tag para do cabeçalho-->
    <body> <!-- Abrindo a tag do corpo da página-->
        <header> <!-- Abrindo a tag Header, para fazer o cabeçalho da página-->
            <div class="logos"> <!-- Abrindo uma div para agrupar as imagens dos logos, dando classe "logos"-->
                <img src="imagens/ofc_logo_inep.svg" class="inep"> <!-- Inserindo a imagem do logo do inep-->
                <img src="imagens/logo_enade.png" class="enade"> <!-- Inserindo a imagem do logo do enade-->
            </div> <!-- Fechando a div logos-->
            <nav> <!-- Abrindo uma nav, para colocar os liks de acesso-->
                <ul> <!-- Abrindo tag ul para lista não ordenda-->
                    <li><a href="#">Início</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de início-->
                    <li><a href="#">Crédito</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de créditos-->
                    <li><a href="#">Contato</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de contato-->
                    <li><a href="#">Sobre</a></li> <!-- Abrindo linhas na ul, e colocando o link de acesso para a página de sobre-->
                </ul> <!-- Fechando a tag da lista não ordenada-->
            </nav> <!-- Fechando a navegação-->
        </header> <!-- Fechando o cabecalho-->
        <main> <!-- Abrindo a tag main, para colocar o conteúdo principal-->
            <nav class="nav_questoes"> <!-- Abrindo uma navegação, para nevegar pelas questões-->
                <a href="Q6A_EQ8.html"><</a> <!-- Colocando link para a questão anterior-->
                <a href="#">8</a> <!-- Colocando link para outra questão-->
                <a href="#">9</a> <!-- Colocando link para outra questão-->
                <a href="#">10</a> <!-- Colocando link para outra questão-->
                <a href="#">></a> <!-- Colocando link para a próxima questão-->
            </nav> <!-- Fechando a navegação para as questões-->

            <form> <!-- Abrindo a tag form, para fazer um formulário-->
                <h2>Questão 7</h2> <!-- Colocando a tag h2 para colocar o titulo da questão-->
                <section class="questao"> <!-- Abrindo uma section "questao", para escrever a questão-->
                    <h3>Texto I</h3> <!-- Colocando o subtítulo no texto-->
                    <!-- As linhas abaixo dentro da tag p (paragrafo), é o enunciado da questão-->
                    <p>O estudo Internet and American Life Project , do Pew Research Center , demonstrou que, em 2009, 
                        metade das buscas de temas relacionados à saúde na internet era feita para terceiros, e quase seis em 
                        cada dez pessoas que usaram meios digitais para se informar sobre saúde mudaram o enfoque com que 
                        cuidavam da própria saúde ou da de algum parente. Esti ma-se que exista uma correlação positi va entre o 
                        grau de conhecimento das doenças (seus fatores de risco, formas de prevenção e tratamento) e a taxa de 
                        adoção de hábitos saudáveis pela sociedade. O aumento nos diagnósti cos precoces do câncer de mama 
                        e a diminuição do tabagismo são dois exemplos clássicos a favor dessa ideia. Acredita-se que indivíduos 
                        mais bem informados aderem a comportamentos preventi vos e reagem melhor a uma enfermidade.
                         Infelizmente, a divulgação de temas médicos é uma faca de dois gumes: quem não sabe nada está mais 
                        perto da verdade do que a pessoa cuja mente está cheia de informações equivocadas. Conseguir que 
                        a mensagem seja bem decodifi cada pelos receptores é o grande desafi o que preocupa (ou deveria 
                        preocupar) tanto médicos quanto jornalistas.</p>
                    <br> <!-- Pulando uma linha-->
                    <h3>Texto II</h3>
                    <!-- As linha abaixo dentro da tag p (paragrafo), é o enunciado da questão-->
                    <p>De acordo com os dados da últi ma TIC Domicílios — pesquisa realizada anualmente com o objeti vo de 
                        mapear formas de uso das tecnologias de informação e comunicação no país —, aproximadamente 
                        46% dos usuários de Internet no Brasil uti lizam a rede à procura de informações médicas sobre saúde em 
                        geral e serviços de saúde. Para uma médica e pesquisadora da Fiocruz, os indivíduos sempre procuraram 
                        informações sobre seu estado de saúde, mas é inegável que o surgimento da Internet trouxe um aumento 
                        signifi cati vo do acesso a informações amplifi cando assim os refl exos deste processo e alterando a relação 
                        entre os indivíduos. A pesquisadora chama a atenção para o perigo do autodiagnósti co e da automedicação, 
                        que podem gerar consequências nefastas tanto para os indivíduos quanto para a saúde pública, uma vez 
                        que boa parte dos estudos mostra que não são adotados critérios durante as buscas na Internet.</p>
                </section> <!-- Fechando a section questao-->

                <!-- Abrindo a tag p para a fonte da questão-->
                <p class="fonte">TEXTO I:  TABAKMAN, R. A saúde na mídia : medicina para jornalistas, jornalismo para médicos. Trad. Lizandra Magon de Almeida. 
                    São Paulo: Summus Editorial, 2013 (adaptado).</p>
                <p class="fonte">TEXTO II: Disponível em: htt ps://agencia.fi ocruz.br/conteudos-sobre-saude-na-web-alteram-relacao-medico-paciente. Acesso em: 16 abr. 2020 (adaptado).</p>
                <hr> <!-- Usandoa a tag hr para fazer uma linha para separar o conteúdo-->

                <!-- Utilizando as seguintes tags p para fazer o enunciado da questão-->
                <p> Considerando a abordagem dos textos, avalie as afi rmações a seguir</p>
                <p>I. Os textos I e II evidenciam a importância de critérios nas buscas realizadas pelos usuários da 
                    Internet por informações sobre patologias, pois algumas informações podem trazer riscos à saúde 
                    por fomentarem a compreensão equivocada de sintomas e profi laxias.</p>
                <p>II. O texto I afi rma que a disponibilização de informações sobre temas de saúde nos meios de 
                    comunicação tem contribuído para o esclarecimento da população acerca de hábitos saudáveis.</p>
                <p>III. No texto II, defende-se o acesso a informações relati vas a pesquisas da área da saúde nos veículos 
                    de comunicação, pois elas permitem que o indivíduo seja proati vo na prevenção de patologias.</p>
                <p> É correto o que se afi rma em</p>

                <input type="radio" name="alternativa" value="a"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag lael para colocar um texto referente ao radio button-->
                <label for="a">I, apenas</label>
                <br> <!-- Pulando uma linnha-->

                <input type="radio" name="alternativa" value="b"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="b">III, apenas</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="c"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="c">I e II, apenas</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="d"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="d">II e III, apenas</label>
                <br> <!-- Pulando uma linha-->

                <input type="radio" name="alternativa" value="e"> <!-- Fazendo um radio button para a alternativa-->
                <!-- Tag label para colocar um texto referente ao radio button-->
                <label for="e">I, II e III</label>
                <br> <!-- Tag para pular uma linha-->

                <br> <!-- Tag para pular uma linha-->
                <div class="botoes"> <!-- Abrindo uma div "botoes", para colocar os botoes-->
                    <button id="finalizar">Finalizar</button> <!-- Botao para finalizar-->
                    <button id="revisar">Revisar</button> <!-- Botao para revisar-->
                    <button id="corrogir">Corrigir</button> <!-- Botao para corrigir-->
                </div> <!-- Fechando a div botoes-->
            </form> <!-- Fechando o formulário-->
        </main> <!-- Fechando a tag main-->
        <footer> <!-- Abrindo a tag fotter, para fazer o rodapé da página-->
            <a href="#"><img src="imagens/logo_fatec.png" class="logo_fatec"></a> <!-- Colocando uma imagem como link para a fatec-->
            <a href="#"><img src="imagens/logo_sp.png" class="logo_sp"></a> <!-- Colocando uma imagem como link-->
            <a href="#"><img src="imagens/cps-logo.png" class="logo_cps"></a> <!-- Colocando uma imagem como link-->
        </footer> <!-- Fechando o rodapé da página-->
    </body> <!-- Fechando o corpo da página-->
</html> <!-- Fechando a tag HTML-->